

@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "Outlet List";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}


<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Outlet List</h6>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <button type="button" class="btn btn-primary" onclick="AddGenOutlet(this);" style="margin-left: 0px;width:150px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add </button>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="DTGenOutlet" class="table table-striped table-bordered" cellspacing="0">
                                        <thead>
                                            <tr>

                                                <th>outlet name</th>
                                                <th>outlet address</th>
                                               

                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>


                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 40% !important; max-width: 40% !important; ">
        <div class="modal-content">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Outlet Information
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function closePopup() {
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
        }

        function AddGenOutlet() {

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            ajaxGetHandler("/GenOutlet/GenOutletNew", null, function (data) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                $('#modalcontent').html(data);
                $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer').modal("show");

            });


        }

        function EditGenOutlet(btn) {
            

            var outlet_id = $(btn).attr("outlet_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/GenOutlet/GenOutletEdit?outlet_id=" + outlet_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewGenOutlet(btn) {

            var outlet_id = $(btn).attr("outlet_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/GenOutlet/GenOutletView?outlet_id=" + outlet_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function SaveGenOutlet(btn) {

            var obj_GenOutlet = {
                outlet_name: $('#modalcontent #outlet_name').val(),
                outlet_address: $('#modalcontent #outlet_address').val(),
                // is_used: $('#modalcontent #is_used').val(),
                // is_local: $('#modalcontent #is_local').val(),
                // arif_details_1: $('#modalcontent #arif_details_1').val(),
                // arif_details_2: $('#modalcontent #arif_details_2').val(),
                // unit_id: check_value($('#modalcontent #unit_id').val()),
                // district_id: check_value($('#modalcontent #district_id').val()),


            }


            if (_cusFormValidate("frmAdd")) {

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/GenOutlet/SaveGenOutlet", obj_GenOutlet, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadGenOutletData();



                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);

            }
        }

        function UpdateGenOutlet(btn) {
        
            var obj_GenOutlet = {
                outlet_id: $('#modalcontent #outlet_id').val(),
                outlet_name: $('#modalcontent #outlet_name').val(),
                outlet_address: $('#modalcontent #outlet_address').val(),
                // is_used: $('#modalcontent #is_used').val(),
                // is_local: $('#modalcontent #is_local').val(),
                // arif_details_1: $('#modalcontent #arif_details_1').val(),
                // arif_details_2: $('#modalcontent #arif_details_2').val(),
                // unit_id: check_value($('#modalcontent #unit_id').val()),
                // district_id: check_value($('#modalcontent #district_id').val()),


            }

         

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);


                ajaxPostObjectHandler("/GenOutlet/UpdateGenOutlet", obj_GenOutlet, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadGenOutletData();



                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);

            
        }

        function DeleteGenArif(id) {

            showConfirmationAlert("Alert", "Do You Want to Delete??", "Yes", function () {

                var obj_GenOutlet = {
                    strMasterID: id
                }

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/GenArif/DeleteGenArif", obj_GenOutlet, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadGenOutletData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                }, true);

            });
        }

        $(function () {

            LoadGenOutletData();

        });

        function LoadGenOutletData() {

            var dt_search = {

                filterId: '#DTGenOutlet_filter input[type=search]',
                tableId: "#DTGenOutlet"

            };

            var dt = $(dt_search.tableId).DataTable({

                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search Outlet',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },

                search: {
                    return: true
                },


                "ajax": $.fn.dataTable.json({ url: "/GenOutlet/GetGenOutletData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" }
                ],
                // createdRow: function (row, data, dataIndex) {//

                //     //$(row).attr('row_index', parseInt(data.row_index) - 1);
                //     $(row).attr("outlet_name", data.outlet_name);
                //     $(row).attr("outlet_address", data.outlet_address);

                // },
                "columns": [

                    { "data": "outlet_name", "name": "outlet_name", "autoWidth": true },
                    { "data": "outlet_address", "name": "outlet_address", "autoWidth": true },
                   
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });
        }

    </script>
}





