@model EPYSLSAILORAPP.Domain.DTO.tran_va_plan_DTO;
@{
    ViewBag.Title = "Tech Pack";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}
<style>
    #toolbarId select {
        font-size: 11px !important;
    }


    .dataTables_wrapper {
        margin-top: -40px;
    }

    .text-sm, select {
        font-size: 11px !important;
        line-height: 0.5rem;
    }

    .carousel-caption {
        color: black;
        margin-left: 5%;
        margin-right: 5%;
    }

    .spanClose {
    position: relative;
    /* display: unset; */
    left: -36%!important;
        top: -6% !important;
    }

    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        /* top: 0; */
        /* bottom: 0; */
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        /* opacity: .5; */
        transition: opacity .15s ease;
        vertical-align: baseline;
        margin-left: 5%;
        width: 200px;
        height: 30px;
        color: white;
    }

</style>

<div class="content-wrapper">
    <input id="hd_encoded_fiscal_year" type="hidden" value="@ViewBag.encoded_fiscal_year" />
    <input id="hd_tran_va_plan_event_id" type="hidden" value="@ViewBag.tran_va_plan_event_id" />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                             <h6 class="card-title">Tech Pack</h6>
                        </div>
                        <!-- /.card-header -->
                        @await Component.InvokeAsync("DataFilter")
                    </div>

                    <div class="card">
                      
                        <!-- /.card-header -->
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12" id="tab_bar_style">
                                    <ul id="tab_techpack" class="nav nav-tabs">

                                        <li class="active " tab_index="1">
                                            <a href="#det1" style="text-decoration: unset;" class="active tab_link  " data-toggle="tab">New List</a>
                                        </li>

                                        <li class="" tab_index="2">
                                            <a href="#det2" style="text-decoration: unset;" class=" tab_link  " data-toggle="tab">Acknowledged</a>
                                        </li>
                                       
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="det1" tabpane_index="1">
                                            <div class="box">
                                                <table style="font-size:10px;" id="DTTranTechPack_New" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                                    <thead style="text-align:center">
                                                        <tr>

                                                            <th><label class="labelNormal">SL</label></th>
                                                            <th><label class="labelNormal">Techpack No.</label></th>
                                                            <th><label class="labelNormal">Techpack Date</label></th>
                                                            <th><label class="labelNormal">Designer</label></th>

                                                            <th><label class="labelNormal">Merchant</label></th>
                                                            <th style="width:250px;"><label class="labelNormal">Product Details</label></th>
                                                            <th style="width:150px;"><label class="labelNormal  ">Product</label></th>
                                                            <th><label class="labelNormal">Delivery Unit</label></th>
                                                            <th><label class="labelNormal">Style Code</label></th>
                                                            <th><label class="labelNormal">Style Qty</label></th>

                                                            <th><label class="labelNormal "> Action</label></th>

                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det2" tabpane_index="2">
                                            <div class="box">
                                                <table style="font-size:10px;" id="DTTranTechPack_Acknoledged" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                                    <thead style="text-align:center">
                                                        <tr>
                                                            
                                                            <th><label class="labelNormal">SL</label></th>
                                                            <th><label class="labelNormal">Techpack No.</label></th>
                                                            <th><label class="labelNormal">Techpack Date</label></th>
                                                            <th><label class="labelNormal">Designer</label></th>
                                                            <th><label class="labelNormal">Merchant</label></th>
                                                            <th style="width:250px;"><label class="labelNormal">Product Details</label></th>
                                                            <th style="width:150px;"><label class="labelNormal  ">Product</label></th>
                                                            <th><label class="labelNormal">Delivery Unit</label></th>
                                                            <th><label class="labelNormal">Style Code</label></th>
                                                            <th><label class="labelNormal">Style Qty</label></th>
                                                            <th><label class="labelNormal">Ack Date</label></th>

                                                            <th><label class="labelNormal "> Action</label></th>

                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                       
                                    </div>


                                </div>
                            </div>

                          
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>



<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 90% !important; max-width: 90% !important; ">
        <div class="modal-content">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            New Tech Pack
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var dt_source_new; var dt_source_acknoledged;
        var obj_fabric_List = [];
        var obj_subcontract_List = [];
        var obj_embellish_List = [];

        var obj_fabric_List_removed = [];
        var obj_subcontract_List_removed = [];
        var obj_embellish_List_removed = [];

        var tran_va_plan_id = 0;
        var tran_va_plan_event_id = 0;

        var listAttachments = [];
        var IsNotDesigner = '@ViewBag.IsNotDesigner';


        function jsdatatableloaded() {

            // $("#txtTotalBusinessPlan").val(dt_source_new.rows().data()[0].bp_yearly_gross_sales);
            // $("#txtTotalEventPlan").val(dt_source_new.rows().data()[0].event_gross_sales);
            // $("#txtTotalRangeQuantity").val(dt_source_new.rows().data()[0].total_rangeplan_quantity);

            // $("#txtTotalAddedQntity").val(dt_source_new.rows().data()[0].totaladded);
            // $("#txtTotalNotAddedQntity").val(dt_source_new.rows().data()[0].totalnotadded);

        }

        function ColorSizeQuantityChanged(elem) {

            var current_element = $(elem);

            var total = getTotalByClassInsideTableObject($(elem).closest(".dtcolorcodestyle"), "txtColorSizeQuantity");

            $("#style_quantity").val(total);
        }

        function btnAddColorClick(btn) {

            var dtable = $("#dtcolorcodestyle");

            var colorcode = "Color-";

            var current_row_count = $(dtable).find("tbody tr").length;

            var row_html = $(dtable).find("tbody tr:eq(0)").clone().removeAttr("id");

            $(row_html).find("input").val("0");
            $(row_html).find("input").attr("tran_va_plan_detl_style_color_id", "0");
            $(row_html).find("input").attr("tran_va_plan_detl_style_color_size_id", "0");

            $(dtable).find("tbody").append(row_html);

            var rowindex = 1;

            $(dtable).find("tbody tr").each(function (index, element) {
                $(element).find("td:eq(0)").text(rowindex);
                //$(element).find(".txtColorCode").val(colorcode + rowindex);
                rowindex++;
            });

        }
        function uploadFile() {

            $("#modalcontent #attachments").trigger("click");
        };
        function LoadColorFromBox(txt) {
            $(txt).parent().find(".txtColorCode").val($(txt).val());
        }

        function ViewTechPack(btn) {

            var rowindex = $(btn).closest(".master_table_row").attr("row_index");

            var objStyle = {
                row_index: rowindex,
                tran_techpack_id: dt_source_acknoledged.rows().data()[rowindex].tran_techpack_id,
                tran_pre_costing_id: dt_source_acknoledged.rows().data()[rowindex].tran_pre_costing_id,
                tran_sample_order_id: $(btn).attr("tran_sample_order_id"),
                tran_designer_review_id: dt_source_acknoledged.rows().data()[rowindex].tran_designer_review_id,
                style_code: dt_source_acknoledged.rows().data()[rowindex].style_code,
                tran_va_plan_detl_style_id: dt_source_acknoledged.rows().data()[rowindex].tran_va_plan_detl_style_id,
                style_item_product_id: dt_source_acknoledged.rows().data()[rowindex].style_item_product_id,
                //range_plan_qnty: $(btn).parent().parent().find("td:eq(3)").text(),
                style_product: dt_source_acknoledged.rows().data()[rowindex].style_item_product_name,
                style_product_detail: dt_source_acknoledged.rows().data()[rowindex].product_details,
                style_product_size_group_id: dt_source_acknoledged.rows().data()[rowindex].style_product_size_group_id,
                fiscal_year_id: $("#fiscal_year_id").val(),
                range_plan_detail_id: dt_source_acknoledged.rows().data()[rowindex].range_plan_detail_id,
                tran_pre_costing_id: dt_source_acknoledged.rows().data()[rowindex].tran_pre_costing_id,
                range_plan_id: dt_source_acknoledged.rows().data()[rowindex].range_plan_id,
                tran_range_plan_event_id: dt_source_acknoledged.rows().data()[rowindex].tran_range_plan_event_id,
                style_master_category_id: dt_source_acknoledged.rows().data()[rowindex].style_master_category_id,

                delivery_date: new Date(dt_source_acknoledged.rows().data()[rowindex].delivery_date),
                delivery_unit_id: dt_source_acknoledged.rows().data()[rowindex].delivery_unit_id,

                tran_va_plan_id: dt_source_acknoledged.rows().data()[rowindex].tran_va_plan_id,
                tran_va_plan_detl_id: dt_source_acknoledged.rows().data()[rowindex].tran_va_plan_detl_id,
                tran_va_plan_event_id: dt_source_acknoledged.rows().data()[rowindex].tran_va_plan_event_id,
                style_quantity: $(btn).attr("style_quantity")

            }

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            $("#modalcontainer").addClass("custom-class");

            try {
                ajaxGetHandler("/TechPackAck/TechPackAck?input=" + JSON.stringify(objStyle), null, function (data) {
                    hideLoader();

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                    $("#DTTranSampleOrderSize input,#DTTranSampleOrderSize select").attr("disabled", "disabled");

                    //LoadGenSupplierDropDownByClass("modalcontainer", "S2GenSupplier");

                   // $("#modalcontent .S2GenSupplier").val(null).trigger('change.select2');


                    BindTabEvents("tab_techpack");

                    $('#modalcontainer input').attr("disabled", "disabled");
                    $('#modalcontainer select').attr("disabled", "disabled");
                    $('#modalcontainer #btnTechPackAck').remove();
                });


            } catch (e) {
                hideLoader();
            }

        }

        function AckTechPackAck(btn) {

            var rowindex = $(btn).closest(".master_table_row").attr("row_index");

            var objStyle = {
                row_index: rowindex,
                tran_techpack_id: dt_source_new.rows().data()[rowindex].tran_techpack_id,
                tran_pre_costing_id: dt_source_new.rows().data()[rowindex].tran_pre_costing_id,
                tran_sample_order_id: $(btn).attr("tran_sample_order_id"),
                tran_designer_review_id: dt_source_new.rows().data()[rowindex].tran_designer_review_id,
                style_code: dt_source_new.rows().data()[rowindex].style_code,
                tran_va_plan_detl_style_id: dt_source_new.rows().data()[rowindex].tran_va_plan_detl_style_id,
                style_item_product_id: dt_source_new.rows().data()[rowindex].style_item_product_id,
                //range_plan_qnty: $(btn).parent().parent().find("td:eq(3)").text(),
                style_product: dt_source_new.rows().data()[rowindex].style_item_product_name,
                style_product_detail: dt_source_new.rows().data()[rowindex].product_details,
                style_product_size_group_id: dt_source_new.rows().data()[rowindex].style_product_size_group_id,
                fiscal_year_id: $("#fiscal_year_id").val(),
                range_plan_detail_id: dt_source_new.rows().data()[rowindex].range_plan_detail_id,
                tran_pre_costing_id: dt_source_new.rows().data()[rowindex].tran_pre_costing_id,
                range_plan_id: dt_source_new.rows().data()[rowindex].range_plan_id,
                tran_range_plan_event_id: dt_source_new.rows().data()[rowindex].tran_range_plan_event_id,
                style_master_category_id: dt_source_new.rows().data()[rowindex].style_master_category_id,

                delivery_date: new Date(dt_source_new.rows().data()[rowindex].delivery_date),
                delivery_unit_id: dt_source_new.rows().data()[rowindex].delivery_unit_id,

                tran_va_plan_id: dt_source_new.rows().data()[rowindex].tran_va_plan_id,
                tran_va_plan_detl_id: dt_source_new.rows().data()[rowindex].tran_va_plan_detl_id,
                tran_va_plan_event_id: dt_source_new.rows().data()[rowindex].tran_va_plan_event_id,
                style_quantity: $(btn).attr("style_quantity")

            }

            setTimeout(function () {
                showLoader("Loading ..........");
            }, 0);

            $("#modalcontainer").addClass("custom-class");

            try {
                ajaxGetHandler("/TechPackAck/TechPackAck?input=" + JSON.stringify(objStyle), null, function (data) {
                    hideLoader();

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                    $("#DTTranSampleOrderSize input,#DTTranSampleOrderSize select").attr("disabled", "disabled");

                    //LoadGenSupplierDropDownByClass("modalcontainer", "S2GenSupplier");

                    $("#modalcontent .S2GenSupplier").val(null).trigger('change.select2');

                    BindTabEvents("tab_techpack");

                    $('#modalcontainer input').attr("disabled", "disabled");
                    $('#modalcontainer select').attr("disabled", "disabled");
             
                });


            } catch (e) {
                hideLoader();
            }

        }

        function AddImageHtml(file) {
            var fileextension = getFileExtension(file.filename);
            //var fileicon = getFileIcon(fileextension, index);
            var base64string = 'data: ' + file.filetype + '; base64, ' + file.base64string;
            var strhtml = '<div index="' + file.fileindex + '"  class="col-lg-3 dvSingleAttachment" >' +

                '<img style="width: 180px; height: 200px;" src="' + base64string + '" /> ' +
                '<a  mailattachmentid="-1" index="' + file.fileindex + '" class=" attachmentLink' + file.fileindex + '" onclick="removeAtachments(this,' + file.fileindex + ')" > <span class="spanClose">X</span></a>' +
                '<span style="color:blue;text-decoration:underline; display:inline-block;  white-space:nowrap;text-overflow: ellipsis;overflow: hidden;display: inherit;height: 45px;">' + file.filename + '</span></div>';

            $("#modalcontent #techpackframes").append(strhtml);

        }
        function LoadTechPackAcknoledgedData() {
            var dt_search = {

                filterId: '#DTTranTechPack_Acknoledged_filter input[type=search]',
                tableId: "#DTTranTechPack_Acknoledged"

            };

            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                range_plan_id: $("#hd_range_plan_id").val(),

                tran_va_plan_event_id: $("#hd_tran_va_plan_event_id").val(),
                is_ack: 1,

                style_gender_id: $("#style_gender_id").val(),
                style_item_origin_id: $("#style_item_origin_id").val(),
                style_item_type_id: $("#style_item_type_id").val(),
                style_product_type_id: $("#style_product_type_id").val(),
                style_master_category_id: $("#style_master_category_id").val(),

            };

            dt_source_acknoledged = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By Techpack',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
                
                search: {
                    return: true
                },
                "ajax": $.fn.dataTable.json({ url: "/TechPackAck/GetTechPackAckData", data: input }),

                // "bLengthChange": false,
                // "bPaginate": false,
                // "bInfo": false,
                scrollCollapse: true,
                responsive: true,
                "jQueryUI": true,
                columnDefs: [
                    // { targets: 0, "visible": true, "sortable": true },
                    { targets: 0, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },

                    { targets: 7, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 8, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 9, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 10, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 11, "visible": true, "sortable": false, "className": "text-center" },

                ],
                createdRow: function (row, data, dataIndex) {//
                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).addClass("master_table_row");
                    $(row).find("td:eq(3)").css("text-align", "center");
                    $(row).find("td:eq(4)").css("text-align", "center");
                    $(row).find("td:eq(5)").css("text-align", "center");
                    $(row).find("td:eq(6)").css("text-align", "center");
                    $(row).find("td:eq(1)").css("font-size", "10px");
                    $(row).find("td:eq(2)").css("font-size", "10px");

                },
                "columns": [ //,strBtnSizev

                    { "data": "row_index", "name": "row_index", "autoWidth": true },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "strtechpack_date", "name": "strtechpack_date", "autoWidth": true },
                    { "data": "designer_name", "name": "designer_name", "autoWidth": true },

                    { "data": "merchant_name", "name": "merchant_name", "autoWidth": true },
                   // { "data": "tran_sample_order_number", "name": "tran_sample_order_number", "autoWidth": true },
                    { "data": "product_details", "name": "product_details", "autoWidth": true },
                    { "data": "style_item_product_name", "name": "style_item_product_name", "autoWidth": true },
                    { "data": "unit_name", "name": "unit_name", "autoWidth": true },

                    { "data": "style_code", "name": "style_code", "autoWidth": true },
                    { "data": "style_quantity", "name": "style_quantity", "autoWidth": true },
                   
                    { "data": "strack_date", "name": "strack_date", "autoWidth": true },
                    { "data": "btnViewTechpack", "name": "btnViewTechpack", "autoWidth": true },

                ],
                
            });
        }

        function LoadTechPackAckData() {

            var dt_search = {

                filterId: '#DTTranTechPack_New_filter input[type=search]',
                tableId: "#DTTranTechPack_New"

            };

            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                range_plan_id: $("#hd_range_plan_id").val(),

                tran_va_plan_event_id: $("#hd_tran_va_plan_event_id").val(),
                is_ack:0,

                style_gender_id: $("#style_gender_id").val(),
                style_item_origin_id: $("#style_item_origin_id").val(),
                style_item_type_id: $("#style_item_type_id").val(),
                style_product_type_id: $("#style_product_type_id").val(),
                style_master_category_id: $("#style_master_category_id").val(),
               
            };

            dt_source_new = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By Techpack',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
               
                search: {
                    return: true
                },
                "ajax": $.fn.dataTable.json({ url: "/TechPackAck/GetTechPackAckData", data: input }),

                // "bLengthChange": false,
                // "bPaginate": false,
                // "bInfo": false,
                scrollCollapse: true,
                responsive: true,
                "jQueryUI": true,
                columnDefs: [
                    // { targets: 0, "visible": true, "sortable": true },
                    { targets: 0, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 7, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 8, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 9, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 10, "visible": true, "sortable": false, "className": "text-center" },

                ],
                createdRow: function (row, data, dataIndex) {//
                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).addClass("master_table_row");
                    $(row).find("td:eq(3)").css("text-align", "center");
                    $(row).find("td:eq(4)").css("text-align", "center");
                    $(row).find("td:eq(5)").css("text-align", "center");
                    $(row).find("td:eq(6)").css("text-align", "center");
                    $(row).find("td:eq(1)").css("font-size", "10px");
                    $(row).find("td:eq(2)").css("font-size", "10px");

                },
                "columns": [ //,                            t.designer_name,


                    { "data": "row_index", "name": "row_index", "autoWidth": true },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "strtechpack_date", "name": "strtechpack_date", "autoWidth": true },
                    { "data": "designer_name", "name": "designer_name", "autoWidth": true },
                    { "data": "merchant_name", "name": "merchant_name", "autoWidth": true },
                    { "data": "product_details", "name": "product_details", "autoWidth": true },
                    { "data": "style_item_product_name", "name": "style_item_product_name", "autoWidth": true },
                    { "data": "unit_name", "name": "unit_name", "autoWidth": true },

                    { "data": "style_code", "name": "style_code", "autoWidth": true },
                    { "data": "style_quantity", "name": "style_quantity", "autoWidth": true },

                    { "data": "btnAddEditTechpack", "name": "btnAddEditTechpack", "autoWidth": true },

                ],
                
            });
        }


        function btnSaveNextClick(btn) {

            //if (checkCompleteness($(btn).closest(".box")) == true) {
            var btnindex = $(btn).closest(".tab-pane").attr("tabpane_index");

            modal_tab_events_click_next_tab($(".nav-tabs").find("li[tab_index=" + btnindex + "]"));

            if ((parseInt( btnindex)+1) == $("#tab_techpack li").length) { 
                $("#btnSaveTechPack").removeAttr("disabled"); 
            }
            else
            {
                $("#btnSaveTechPack").attr("disabled", "disabled");
            }
            //}

        }

        function closePopup() {
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
        }
        $(function () {

            if (IsNotDesigner.length > 0) {
                showErrorAlert("Alert", IsNotDesigner, "OK", function () {

                    document.location = "/Dashboard/Index";

                });
            }

            LoadTechPackAckData();

            LoadTechPackAcknoledgedData();

            BindTabEvents("tab_techpack");

            $("#btnLoadData").click(function () {
                if ($("#fiscal_year_id").val() == '') {
                    $("#fiscal_year_id").focus();
                    $("#fiscal_year_id").css("border", "1px solid red");
                }
                else if ($("#event_id").val() == '') {
                    $("#event_id").focus();
                    $("#event_id").parent().find(".select2-selection--single").css("border", "1px solid red");

                }
                else {

                    $("#fiscal_year_id").css("border", "");
                    $("#event_id").parent().find(".select2-selection--single").css("border", "");

                    LoadTechPackAckData();

                    LoadTechPackAcknoledgedData();

                }

            });

            $(".filterOption").hide();
        

        });

        function ColorSizeQuantityChanged(elem) {

            var current_element = $(elem);


            var total = getTotalByClassInsideTableObject($(elem).closest(".dtcolorcodestyle"), "txtColorSizeQuantity");

            $("#style_quantity").val(total);
            $("#pre_costing_quantity").val(total);

        }

        function LoadColorFromBox(txt) {
            $(txt).parent().find(".txtColorCode").val($(txt).val());

        }

        function btnAddColorClick(btn) {

            var dtable = $(btn).parent().parent().parent().parent().find(".dtcolorcodestyle");

            //var colorcode = "Color-";

            var current_row_count = $(dtable).find("tbody tr").length;

            var row_html = $(dtable).find("tbody tr:eq(0)").clone().removeAttr("id");

            $(row_html).find("input").val("0");
            $(row_html).find("input").attr("tran_va_plan_detl_style_color_id", "0");
            $(row_html).find("input").attr("tran_va_plan_detl_style_color_size_id", "0");

            $(dtable).find("tbody").append(row_html);

            var rowindex = 1;

            $(dtable).find("tbody tr").each(function (index, element) {

                $(element).find("td:eq(0)").text(rowindex);

                rowindex++;
            });

        }

        function removeAtachments(elem, index) {
            //formData = removeItemFromFormDataByIndex(formData, index);
            if (listAttachments[index].current_state == 1) {
                listAttachments = listAttachments.filter(p => p.fileindex != index);
            }
            else {
                listAttachments[index].current_state = 3;
            }
            $(elem).closest(".dvSingleAttachment").remove();
        }

        function TechPackAck() {

            var obj_tran_tech_pack = {

                tran_techpack_id: $('#modalcontent #tran_techpack_id').val(),
                tran_designer_review_id: check_value($('#modalcontent #tran_designer_review_id').val()),
                techpack_number: $('#modalcontent #techpack_number').val(),

                techpack_date: $('#modalcontent #techpack_date').val(),
               

                teckpack_style_code: $('#modalcontent #teckpack_style_code').val(),
                aop_style: $("#aop_style:checked").val(),
                merchandiser_id: $('#merchandiser_id').val(),
                production_availability_path: $('#production_availability_path').val(),
                vat: $("#vat:checked").val(),
                photoshoot: $("#photoshoot:checked").val(),
                e_com: $("#e_com:checked").val(),
                sample_ok: $("#sample_ok:checked").val(),
                follow_style: $("#follow_style:checked").val(),
                need_production_approval: $("#need_production_approval:checked").val(),
                iron: $("#iron:checked").val(),
                fabric_allocation: $("#fabric_allocation:checked").val(),
                additional_comments: $('#additional_comments').val()

            }

            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/TechPackAck/UpdateTechPackAck", obj_tran_tech_pack, function (response) {

                hideLoader();

                LoadTechPackAckData();

                LoadTechPackAcknoledgedData();

                if (response.status_Code == "200") {

                    listAttachments = [];

                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }

    </script>

 }