@using EPYSLSAILORAPP.Domain.RPC
@using Newtonsoft.Json;
@model fabric_mapping_segment_details_for_fabricbooking_dto;
@{

    Layout = null;

}

<div class="row">
    <div class="col-md-11">
        <div class="box">
            <div class="row">
                <div class="col-md-4">
                    <input style="width:100%" asp-for="gen_item_structure_group_id" type="hidden" />
                    <input style="width:100%" asp-for="gen_item_structure_group_sub_id" type="hidden" />

                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Group Name :</label>


                    </div>
                </div>
                <div class="col-md-8">

                    <div class="form-group">

                        <input disabled style="width:100%" id="txtgroupname" type="text" min="0" class="border-gray-200 form-control " />

                    </div>
                </div>
            </div>

            @{
                var segment_id = 1;
            }
            @foreach (var single in Model.mapping_item)
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">@single.gen_segment_name</label>


                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            @await Component.InvokeAsync("S2GenSegmentDetl", new
                        {
                        ddlId = "segment_det"+segment_id.ToString()+"_id",
                        SegmentGroupID=single.gen_segment_id.ToString(),
                        selectedvalue = "",
                       cssclass = "form-control S2GenSegmentDetl",
                        isRequired = false,
                        isReadOnly = false,
                        placeholder = "Select",
                        preloaded="",
                        model_parentid = "modalcontainer_common_popup_content"
                        })

                        </div>
                    </div>
                </div>
                segment_id++;
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Measurement Type</label>


                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">

                        @await Component.InvokeAsync("GenericDropdownList", new
                        {
                        ddlId = "ddl_measurement_unit",
                        strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.list_measurement)),
                        selectedvalue = "",
                        cssclass = "form-control",
                        enable = true,
                        isRequired = true,
                        placeholder = "select"
                        })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="text-align:right">
                    <button type="button" isSaveOrUpdate="1" onclick="SaveFabric(this);" class="btn btn-primary" id="btnAddFabric"><i class="fa fa-save"></i>&nbsp;&nbsp;Add Fabric  </button>

                </div>

            </div>
        </div>
    </div>
</div>







