@model EPYSLSAILORAPP.Domain.DTO.tran_mcd_receive_DTO
@using Newtonsoft.Json;
@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "Item Receive List";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                TranMcdPurchaseReturn
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Item Receive List</h6>
                        </div>
                        @await Component.InvokeAsync("DataFilterSCM")
                        <!-- /.card-header -->
                        <div class="card-body">


                            <div class="form-group row" style="margin-bottom:0.3rem;display:none;">
                                <label class="col-sm-2 col-form-label-sm text-right" style="font-size:14px">PO No <span class="text-danger ml-005">*</span></label>
                                <div class="col-sm-4">
                                    @await Component.InvokeAsync("S2TranScmPo", new
                                        {
                                            ddlId = "po_id",
                                            selectedvalue = "",
                                            cssclass = "form-control S2TranScmPo",
                                            isRequired = false,
                                            isReadOnly = false,
                                            placeholder = "Select PO",
                                            // preloaded = "",

                                            //model_parentid = "modalcontent_1"
                                        })
                                    @* <select id="po_id" class="form-control select2" placeholder="Select PO" style="width: 100%;">
                                    </select> *@
                                    <span asp-validation-for="po_id" class="text-danger"></span>
                                </div>
                                <div class="row">

                                    <div class="col-6">
                                        <button type="button" class="btn btn-primary" onclick="AddItem1();" style="margin-left: 0px;width:150px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="col-md-12" id="tab_bar_style">
                                <ul class="nav nav-tabs">
                                    <li class="active" tab_index="1">
                                        <a style="text-decoration:unset;" class="tab_link active" aria-current="page" href="#pending" data-toggle="tab">Pending List</a>
                                    </li>

                                    <li class="" tab_index="2">
                                        <a style="text-decoration:unset;" class="tab_link" href="#draft" data-toggle="tab">Draft List</a>
                                    </li>

                                    <li class="" tab_index="2">
                                        <a style="text-decoration:unset;" class="tab_link" href="#received" data-toggle="tab">Received List</a>
                                    </li>

                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="pending" tabpane_index="1">
                                        <div class="box">
                                            <table id="DTPOApprovalList" class="table table-striped table-bordered" cellspacing="0">
                                                <thead style="text-align:center">
                                                    <tr>
                                                        <th>PO no</th>
                                                        <th>PR No</th>
                                                        <th>PO date</th>
                                                        <th>Season</th>

                                                        <th>Supplier</th>
                                                        <th>Delivery unit</th>

                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="draft" tabpane_index="2">
                                        <div class="box">
                                            <table id="DTDraftReceiveData" class="table table-striped table-bordered" cellspacing="0">
                                                <thead style="text-align:center">
                                                    <tr>
                                                        <th><label class="labelNormal  ">Receive No</label></th>
                                                        <th><label class="labelNormal  ">Receive Date</label></th>
                                                        <th><label class="labelNormal  ">PO No</label></th>

                                                        <th><label class="labelNormal  ">Supplier</label></th>
                                                        <th><label class="labelNormal  ">Location</label></th>
                                                        <th><label class="labelNormal  ">Delivery Status</label></th>
                                                        <th><label class="labelNormal  ">Action</label></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="received" tabpane_index="3">
                                        <div class="box">
                                            <table id="DTReceiveData" class="table table-striped table-bordered" cellspacing="0">
                                                <thead style="text-align:center">
                                                    <tr>
                                                        <th><label class="labelNormal  ">Receive No</label></th>
                                                        <th><label class="labelNormal  ">Receive Date</label></th>
                                                        <th><label class="labelNormal  ">PO No</label></th>

                                                        <th><label class="labelNormal  ">Supplier</label></th>
                                                        <th><label class="labelNormal  ">Location</label></th>
                                                        <th><label class="labelNormal  ">Delivery Status</label></th>
                                                        <th><label class="labelNormal  ">Action</label></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>


                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 120% !important; max-width: 90% !important; ">
        @*  <div class="modal-content" id="modalcontent_1" style="overflow-y: scroll;"> *@
        <div class="modal-content" id="modalcontent_1">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Item Receive & Inspection
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        var listAttachments = [];
        var DeleteList = [];
        var details = [];

        function closePopup() {
            event.preventDefault();
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");

            // location.reload();
            details = [];
            listAttachments = [];
        }

        function AddItemReceive(btn) {


            var poid = $(btn).attr("po_id");


            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {

                ajaxGetHandler("/TranMcdReceive/TranMcdReceiveNew?poid=" + poid, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                    $("#modalcontent .S2TranScmPo").val(null).trigger('change.select2');

                    //---file upload code start-------------
                    $('#modalcontainer  #btnUpload').on('click', function () {

                        $('#fileInput').click();
                    });

                    $('#fileInput').on('change', function () {
                        var files = this.files;
                        var size = files.length;
                        var fileNamesContainer = $('#fileNamesContainer');
                        formData = new FormData();

                        for (var i = 0; i < size; i++) {
                            var reader = new FileReader();

                            reader.onload = (function (singlefile) {
                                var filename = singlefile.name;
                                var filetype = singlefile.name.indexOf(".rar") > -1 ? ".rar" : singlefile.type;

                                return function (e) {
                                    var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");

                                    var indx = listAttachments.length;

                                    var attachfile = {
                                        filename: filename,
                                        filetype: filetype,
                                        extension: filetype.substring(filetype.lastIndexOf('.') + 1),
                                        base64string: base64String,
                                        server_filename: "",
                                        current_state: 1,
                                        fileindex: indx
                                    };

                                    listAttachments.push(attachfile);

                                    var fileItem = $(
                                        `<div class="file-item" style="display: flex; align-items: center;" data-index="${indx}">
                                                        <span class="file-name">${filename}</span>
                                                        <button type="button" class="btn btn-danger btn-sm delete-file" style="margin-left: 10px;">Delete</button>
                                                    </div>`
                                    );

                                    fileItem.find('.delete-file').click(function () {
                                        var index = $(this).parent().data('index');
                                        listAttachments.splice(index, 1);
                                        $(this).parent().remove();
                                        updateFileIndices();
                                    });

                                    fileNamesContainer.append(fileItem);
                                    base64String = "";
                                }
                            })(files[i]);

                            reader.readAsDataURL(files[i]);
                        }
                    });
                    //---file upload code end-------------


                });

            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }


        function updateFileIndices() {
            $('#fileNamesContainer .file-item').each(function (index) {
                $(this).data('index', index);
                listAttachments[index].fileindex = index;
            });
        }

        function updateDefectpercentage(input) {
            var failQty = parseInt(input.parentElement.parentElement.cells[11].querySelector('.failQty').value);
            var recQty = input.parentElement.parentElement.cells[7].querySelector('.recQty').value;
            var defect = (failQty / recQty) * 100;
            input.parentElement.parentElement.cells[12].querySelector('.defect').value = defect;
        }

        function updateDefectpercentage2(input) {
            var failQty = parseInt(input.parentElement.parentElement.cells[11].querySelector('.fail_quantity').value);
            var recQty = input.parentElement.parentElement.cells[7].querySelector('.receive_quantity').value;
            var defect = (failQty / recQty) * 100;
            input.parentElement.parentElement.cells[12].querySelector('.defect_percentage').value = defect;
        }

        function uploadFile() {

            $("#modalcontainer #attachments").trigger("click");
        };

        function EditTranMcdReceive(btn) {

            listAttachments = [];
            var received_id = $(btn).attr("received_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/TranMcdReceive/TranMcdReceiveEdit?received_id=" + received_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                    $("#modalcontent .S2GenSupplier").val(null).trigger('change.select2');

                    // $("#modalcontainer #attachments").change(function () {
                    //     var files = this.files;
                    //     var size = $(this)[0].files.length;
                    //     formData = new FormData();

                    //     for (var i = 0; i < size; i++) {
                    //         var reader = new FileReader();

                    //         reader.onload = (function (singlefile) {

                    //             var filename = singlefile.name;
                    //             var filetype = singlefile.name.indexOf(".rar") > -1 ? ".rar" : singlefile.type;

                    //             return function (e) {

                    //                 var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");

                    //                 var indx = listAttachments.length; //getMaxFileIndex();//$("#frames .spanClose").length;


                    //                 var attachfile = {
                    //                     filename: filename,
                    //                     filetype: filetype,
                    //                     extension: filetype.substring(filetype.lastIndexOf('.') + 1),
                    //                     base64string: base64String,
                    //                     server_filename: "",
                    //                     CurrentState: 1,
                    //                     fileindex: indx
                    //                 };

                    //                 listAttachments.push(attachfile);

                    //                 $("#fileNamesContainer").append('<p>' + filename + '</p>');


                    //                 base64String = "";

                    //             }


                    //         })($(this)[0].files[i]);

                    //         reader.readAsDataURL($(this)[0].files[i]);


                    //     }
                    // });

                    var poid = $("#mcd_po_id").val();
                    var tt = poid[0].id;

                    if (poid != null) {

                        setTimeout(function () {
                            showLoader("Loading..........");
                        }, 0);

                        ajaxGetHandler("/TranMcdReceive/GetPODetails?po_id=" + poid, null, function (data) {
                            console.log(data);
                            // $("#techpack_number").val(data.pr.techpack_number);
                            $("#supplier_id").val(data.po.supplier_name);
                            $("#delivery_unit").val(data.po.delivery_unit_name);
                            $("#delivery_unit_id").val(data.po.delivery_unit);
                            // $("#delivery_unit").val(data.po.delivery_unit);
                            $("#supplierId").val(data.po.supplier_id);
                            $("#delivery_address").val(data.po.deliveryAddress);
                            $("#deliveryAddressId").val(data.po.deliveryAddress);

                            $("#gen_item_structure_group_id").val(data.po.item_structure_group_id);

                            var item_structure_group_id_val = data.po.item_structure_group_id;
                            var deliveryUnit = data.po.delivery_unit;
                            var supplierId = data.po.supplierId;
                            $("#gen_item_structure_group_id").val(item_structure_group_id_val)

                            setTimeout(function () {
                                hideLoader();
                            }, 0);
                            $("#purchaseDetrails1").show();

                            obj_fabric_List = [];
                        });
                    }

                    // });

                    $("#modalcontainer #attachments").change(function () {
                        var files = this.files;
                        var size = $(this)[0].files.length;
                        formData = new FormData();

                        for (var i = 0; i < size; i++) {
                            var reader = new FileReader();

                            reader.onload = (function (singlefile) {

                                var filename = singlefile.name;
                                var filetype = singlefile.name.indexOf(".rar") > -1 ? ".rar" : singlefile.type;

                                return function (e) {

                                    var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");

                                    var indx = listAttachments.length;


                                    var attachfile = {
                                        filename: filename,
                                        filetype: filetype,
                                        extension: filetype.substring(filetype.lastIndexOf('.') + 1),
                                        base64string: base64String,
                                        server_filename: "",
                                        current_state: 1,
                                        fileindex: indx
                                    };

                                    listAttachments.push(attachfile);

                                    $("#fileNamesContainer").append('<p>' + filename + '</p>');


                                    base64String = "";

                                }


                            })($(this)[0].files[i]);

                            reader.readAsDataURL($(this)[0].files[i]);


                        }
                    });
                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewTranDraftMcdReceive(btn) {

            var received_id = $(btn).attr("received_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/TranMcdReceive/TranMcdDraftReceiveView?received_id=" + received_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });

            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewTranMcdReceive(btn) {

            var received_id = $(btn).attr("received_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/TranMcdReceive/TranMcdReceiveView?received_id=" + received_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });

            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function SaveMcd(btn, isSubmit) {
            var success_status_Code = "200";
            debugger;
            if (!_cusFormValidate("frmAddReceive")) {
                return;
            }

            details = [];
            var genItemMasterIds = [];
            var flag = 0;

            //var selectedPO = $('#po_id').select2("data");
            var poid = $('#poid').val();
            var challanNo = $('#del_chalan_no').val();
            var driverName = $('#driver_name').val();
            var vehicalNo = $('#vehical_no').val();
            var tollerence = $('#tollerence').val();
            var delevary_status = $('#modalcontent #ddldeliverystatus1').find('option:selected').val();
            var transaction_mode = $('#modalcontent #ddltranmode1').find('option:selected').val();
            var transport_type = $('#modalcontent #ddlTransport1').find('option:selected').val();
            //var rackVal = $('#modalcontent #modalContainerRack #ddlrackName').val();
            // var rackVal = $('#ddlrackName').val();

            $.each($("#DTTranFabricDetails tbody tr"), function (key, val) {
                var item_new = check_textbox_value($(this).find(".item_id_scm1"));
                genItemMasterIds.push(item_new);
            });


            $.each($("#DTTranFabricDetails tbody tr"), function (key, val) {

                var obj = {
                    //po_id: selectedPO[0].id,
                    po_id: poid,
                    gen_item_master_id: $(val).find(".item_id").val(), //check_textbox_value($(this).find(".item_id")),
                    item_id: $(val).find(".item_id").val(),
                    po_quantity: $(val).find(".quantity").val(),//check_textbox_value($(this).find(".quantity")),
                    item_quantity: $(val).find(".quantity").val(),
                    measurement_unit: $(val).find(".uom").val(),//check_textbox_value($(this).find(".uom")),
                    unit: $(val).find(".uom").val(),
                    receive_quantity: $(val).find(".recQty").val(), //check_textbox_value($(this).find(".recQty")),
                    mcd_no: $(val).find(".mcdNo").val(), //check_textbox_value($(this).find(".mcdNo")),
                    chalan_quantity: $(val).find(".chalanQty").val(), //check_textbox_value($(this).find(".chalanQty")),
                    random_sample_quantity: $(val).find(".randomQty").val(), //check_textbox_value($(this).find(".randomQty")),
                    aql: $(val).find(".aql").val(),//check_textbox_value($(this).find(".aql")),
                    pass_quantity: $(val).find(".passQty").val(),//check_textbox_value($(this).find(".passQty")),
                    fail_quantity: $(val).find(".failQty").val(),//check_textbox_value($(this).find(".failQty")),
                    defect_percentage: $(val).find(".defect").val(), //check_textbox_value($(this).find(".defect")),
                    measurement_unit_detail_id: $(val).find(".measurement_unit_det_id").val(),//check_textbox_value($(this).find('.measurement_unit_det_id')),
                    gen_warehouse_floor_rack_info: $(val).find(".rackName").val(), //$('.rackName').val(),
                   // gen_warehouse_floor_rack_id: $('.floorId').val(), //($("#modalContainerRack #ddlrackName").length > 0 && $("#modalContainerRack #ddlrackName").val() !== null) ? $("#modalContainerRack #ddlrackName").val() : 0,
                    remarks: $(val).find(".remarks").val(), //check_textbox_value($(this).find(".remarks"))

                };
                details.push(obj);

            });


            var unmatchingDetails = details.filter(function (detail) {
                return !genItemMasterIds.includes(detail.item_id);  // Check if gen_item_master_id exists in serverItemIds
            });


            // var obj_rack = {
            //     rack_name: $('.rackName').val(),
            //     floor_rack_id: rackVal
            // };
            // rackDetail.push(obj_rack);

            var obj_FabricPo = {
                //
                po_date: $('#modalcontent #po_date').val(),
                // po_id: selectedPO[0].id,
                po_id: poid,
                arrival_date: $('#modalcontent #arrival_date').val(),
                receive_date: $('#modalcontent #receive_date').val(),
                supplier_id: check_value($('#modalcontent #supplierId').val()),
                delivery_unit: check_value($('#modalcontent #delivery_unit_id').val()),//$('#delivery_unit_id').val(),
                // delivery_address: check_value($('#modalcontent #delivery_address').val()),
                del_chalan_no: challanNo,
                del_chalan_date: $('#modalcontent #del_chalan_date').val(),
                tran_mode: transaction_mode,
                transport_type: transport_type,
                vehical_no: vehicalNo,
                driver_name: driverName,
                tollerence: tollerence == null || tollerence === "" ? 0 : tollerence,
                delevary_status: delevary_status,
                gen_item_structure_group_id: check_value($('#modalcontent #item_structure_group_id').val()),
                is_submitted: isSubmit,
                List_Files: listAttachments,
                details: details,
                unmatchingDetails: unmatchingDetails
                //rackDetail: rackDetail

            }
            //console.log(obj_FabricPo); return;
            
            if (unmatchingDetails.length > 0) {
                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/TranMcdReceive/SaveTranRevise", obj_FabricPo, function (response) {
                    setTimeout(function () {
                        hideLoader();
                    }, 0);


                    if (response.status_Code == success_status_Code) {
                        flag = 1;
                        alert(flag);

                        ajaxPostObjectHandler("/TranMcdReceive/SaveTranMcdReceive", obj_FabricPo, function (response) {

                            setTimeout(function () {
                                hideLoader();
                            }, 0);


                            if (response.status_Code == success_status_Code) {

                                LoadDraftReceiveData();
                                LoadReceiveData();
                                LoadPOApprovalData();

                                showSuccessAlert("Success", response.status_Result, "OK", function () {

                                    closePopup(); details = [];

                                });
                            }
                            else {
                                showErrorAlert("Alert", response.status_Result, "OK", function () {

                                });
                            }
                        }, true, function () { hideLoader(); }, true);

            
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);
            
     }
       else {
                 ajaxPostObjectHandler("/TranMcdReceive/SaveTranMcdReceive", obj_FabricPo, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);


                    if (response.status_Code == success_status_Code) {

                        LoadDraftReceiveData();
                        LoadReceiveData();
                        LoadPOApprovalData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {
                            closePopup(); details = [];
                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);

         }

 }




        function ConfirmReceived(btn) {

            var poid = $('#poid').val();
            // var selectedPO = $('#po_id').select2("data");
            var challanNo = $('#del_chalan_no').val();
            var driverName = $('#driver_name').val();
            var vehicalNo = $('#vehical_no').val();
            var tollerence = $('#tollerence').val();
            var delevary_status = $('#modalcontent #ddldeliverystatus1').val();
            var transaction_mode = $('#modalcontent #ddltranmode1').val();
            var transport_type = $('#modalcontent #ddlTransport1').find('option:selected').val();
            //var rackVal = $('#modalcontent #modalContainerRack #ddlrackName').val();
            // var rackVal = $('#ddlrackName').val();

            $.each($("#DTTranFabricDetails tbody tr"), function (key, val) {

                var obj = {
                    po_id: poid,
                    gen_item_master_id: check_textbox_value($(this).find(".item_id")),
                    po_quantity: check_textbox_value($(this).find(".quantity")),
                    measurement_unit: check_textbox_value($(this).find(".uom")),
                    receive_quantity: check_textbox_value($(this).find(".recQty")),
                    mcd_no: check_textbox_value($(this).find(".mcdNo")),
                    chalan_quantity: check_textbox_value($(this).find(".chalanQty")),
                    random_sample_quantity: check_textbox_value($(this).find(".randomQty")),
                    aql: check_textbox_value($(this).find(".aql")),
                    pass_quantity: check_textbox_value($(this).find(".passQty")),
                    fail_quantity: check_textbox_value($(this).find(".failQty")),
                    defect_percentage: check_textbox_value($(this).find(".defect")),
                    measurement_unit_detail_id: check_textbox_value($(this).find('.measurement_unit_det_id')),
                    gen_warehouse_floor_rack_info: $('.rackName').val(),
                    gen_warehouse_floor_rack_id: $('.floorId').val(), //($("#modalContainerRack #ddlrackName").length > 0 && $("#modalContainerRack #ddlrackName").val() !== null) ? $("#modalContainerRack #ddlrackName").val() : 0,
                    remarks: check_textbox_value($(this).find(".remarks"))

                };
                details.push(obj);

            });

            // var obj_rack = {
            //     rack_name: $('.rackName').val(),
            //     floor_rack_id: rackVal
            // };
            // rackDetail.push(obj_rack);

            var obj_FabricPo = {
                //
                po_date: $('#modalcontent #po_date').val(),
                po_id: poid,
                arrival_date: $('#modalcontent #arrival_date').val(),
                receive_date: $('#modalcontent #receive_date').val(),
                supplier_id: check_value($('#modalcontent #supplierId').val()),
                delivery_unit: check_value($('#modalcontent #delivery_unit_id').val()),//$('#delivery_unit_id').val(),
                // delivery_address: check_value($('#modalcontent #delivery_address').val()),
                del_chalan_no: challanNo,
                del_chalan_date: $('#modalcontent #del_chalan_date').val(),
                tran_mode: transaction_mode,
                transport_type: transport_type,
                vehical_no: vehicalNo,
                driver_name: driverName,
                tollerence: tollerence == null || tollerence === "" ? 0 : tollerence,
                delevary_status: delevary_status,
                gen_item_structure_group_id: check_value($('#modalcontent #item_structure_group_id').val()),
                is_submitted: 2,
                List_Files: listAttachments,
                details: details
                //rackDetail: rackDetail

            }
            //console.log(obj_FabricPo); return;
            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/TranMcdReceive/SaveTranMcdReceive", obj_FabricPo, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);


                if (response.status_Code == "200") {

                    LoadDraftReceiveData();
                    LoadReceiveData();
                    LoadPOApprovalData();




                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup(); details = [];

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }



        function deleteFile(guid, row) {

            DeleteList.push(guid);
            row.closest('tr').remove();
        }


        function UpdateTranMcd(btn, isSubmit) {
            details = [];


            var selectedPr = $('#po_id').select2("data");
            var challanNo = $('#del_chalan_no').val();
            var driverName = $('#driver_name').val();
            var vehicalNo = $('#vehical_no').val();
            var tollerence = $('#tollerence').val();
            var delevary_status = $('#modalcontent .deliveryStatus').find('option:selected').val();
            var transaction_mode = $('#modalcontent .transmode').find('option:selected').val();
            var transport_type = $('#modalcontent .transportType').find('option:selected').val();
            var receive_no = $('#receive_no').val();

            $.each($("#DTTranFabricDetails1 tbody tr"), function (key, val) {

                var obj = {
                    po_id: $("#mcd_po_id").val(),
                    receiveId: $("#receiveId").val(),
                    receive_detail_id: check_textbox_value($(this).find(".receiveDetailId")),//$("#receiveDetailId").val(),
                    gen_item_master_id: check_textbox_value($(this).find(".item_id")),
                    po_quantity: check_textbox_value($(this).find(".quantity")),
                    measurement_unit: check_textbox_value($(this).find(".uom")),
                    receive_quantity: check_textbox_value($(this).find(".receive_quantity")),
                    mcd_no: check_textbox_value($(this).find(".mcd_no")),
                    chalan_quantity: check_textbox_value($(this).find(".chalanQty")),
                    random_sample_quantity: check_textbox_value($(this).find(".sample_quantity")),
                    aql: check_textbox_value($(this).find(".aql")),
                    pass_quantity: check_textbox_value($(this).find(".pass_quantity")),
                    fail_quantity: check_textbox_value($(this).find(".fail_quantity")),
                    defect_percentage: check_textbox_value($(this).find(".defect_percentage")),
                    measurement_unit_detail_id: check_textbox_value($(this).find('.measurement_unit_det_id1')),
                    gen_warehouse_floor_rack_info: $('.rackName').val(),
                    gen_warehouse_floor_rack_id: $('.floorId').val(),
                    remarks: check_textbox_value($(this).find(".remarks")),
                    current_state: $(val).find(".btn-danger").attr("receive_detail_id") == "0" ? 1 : 2
                    //current_state: 2


                };
                details.push(obj);

            });

            var obj_FabricPo = {
                //
                received_id: $('#receiveId').val(),
                po_date: $('#modalcontent #po_date').val(),

                po_id: $('#mcd_po_id').val(),
                arrival_date: $('#modalcontent #arrival_date').val(),
                supplier_id: check_value($('#modalcontent #supplierId').val()),
                delivery_unit: check_value($('#modalcontent #delivery_unit_id').val()),//$('#delivery_unit_id').val(),
                del_chalan_no: challanNo,
                del_chalan_date: $('#modalcontent #del_chalan_date').val(),
                tran_mode: transaction_mode,
                transport_type: transport_type,
                vehical_no: vehicalNo,
                driver_name: driverName,
                tollerence: tollerence == null || tollerence === "" ? 0 : tollerence,
                delevary_status: delevary_status,
                gen_item_structure_group_id: check_value($('#modalcontent #genItenStrucId').val()),
                receive_no: receive_no,
                is_submitted: isSubmit,
                List_Files: listAttachments,
                details: details
                //rackDetail: rackDetail

            }
            setTimeout(function () {
                showLoader("Updating..........");
            }, 0);



            ajaxPostObjectHandler("/TranMcdReceive/UpdateTranMcdReceive", obj_FabricPo, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadDraftReceiveData();
                    LoadReceiveData();
                    LoadPOApprovalData();

                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup(); listAttachments = []; DeleteList = [];

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }

        function DeleteFabricPo(id) {

            showConfirmationAlert("Alert", "Do You Want to Delete??", "Yes", function () {

                var obj_FabricPo = {
                    strMasterID: id
                }

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/FabricPo/DeleteFabricPo", obj_FabricPo, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadReceiveData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {
                            LoadReceiveData();
                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                }, true);

            });
        }


        $("#btnLoadData").click(function () {
            if ($("#fiscal_year_id").val() == '') {
                $("#fiscal_year_id").focus();
                $("#fiscal_year_id").css("border", "1px solid red");
            }
            else if ($("#event_id").val() == '') {
                $("#event_id").focus();
                $("#event_id").parent().find(".select2-selection--single").css("border", "1px solid red");

            }
            else {

                $("#fiscal_year_id").css("border", "");
                $("#event_id").parent().find(".select2-selection--single").css("border", "");

                LoadDraftReceiveData();
                LoadReceiveData();
                LoadPOApprovalData();


            }

        });

        $(function () {

            LoadDraftReceiveData();
            LoadReceiveData();
            LoadPOApprovalData();
            BindTabEvents("tab_bar_style");

        });


        function LoadPOApprovalData() {
            var dt_search = {

                filterId: '#DTPOApprovalList_filter input[type=search]',
                tableId: "#DTPOApprovalList"

            };
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#sup_fil").val(),
                delivery_unit_id: $("#delivery_unit_id").val()

            };
            var dt = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By PO No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
            
                search: {
                    return: true
                },
                //"bFilter": true,
                "searching": true,
                "ajax": $.fn.dataTable.json({ url: "/TranMcdReceive/GetPOApprovalData", data: input }),
                //"searchDelay": 1000,

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 5, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("po_id", data.po_id);

                },
                "columns": [


                    { "data": "po_no", "name": "po_no", "autoWidth": true },
                    { "data": "pr_no", "name": "pr_no", "autoWidth": true },
                    {
                        "data": "po_date",
                        "name": "po_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "event_title", "name": "event_title", "autoWidth": true },
                    { "data": "supplier_name", "name": "supplier_name", "autoWidth": true },
                    { "data": "unit_name", "name": "unit_name", "autoWidth": true },


                    // { "data": "is_submitted", "name": "is_submitted", "autoWidth": true },
                    //  { "data": "status", "name": "status", "autoWidth": true },

                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ],
                
            });
        }

        function LoadDraftReceiveData() {
            var dt_search = {

                filterId: '#DTDraftReceiveData_filter input[type=search]',
                tableId: "#DTDraftReceiveData"

            };
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#sup_fil").val(),
                delivery_unit_id: $("#delivery_unit_id").val()

            };
            var dt = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By Receive No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
               
                search: {
                    return: true
                },
                "searching": true,
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/TranMcdReceive/GetTranMcdDraftReceiveData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 5, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 6, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("po_id", data.po_id);

                },
                "columns": [

                    { "data": "receive_no", "name": "receive_no", "autoWidth": true },
                    {
                        "data": "arrival_date",
                        "name": "arrival_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "po_no", "name": "po_no", "autoWidth": true },
                    { "data": "supplier_name", "name": "supplier_name", "autoWidth": true },
                    { "data": "unit_name", "name": "unit_name", "autoWidth": true },

                    { "data": "delivery_status_type", "name": "delivery_status_type", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ],
               
            });




        }

        function LoadReceiveData() {
            var dt_search = {

                filterId: '#DTReceiveData_filter input[type=search]',
                tableId: "#DTReceiveData"

            };
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#sup_fil").val(),
                delivery_unit_id: $("#delivery_unit_id").val()

            };
            var dt = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By Receive No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
              
                search: {
                    return: true
                },
                "searching": true,
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/TranMcdReceive/GetTranMcdReceiveData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 5, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 6, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("po_id", data.po_id);

                },
                "columns": [

                    { "data": "receive_no", "name": "receive_no", "autoWidth": true },
                    {
                        "data": "arrival_date",
                        "name": "arrival_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "po_no", "name": "po_no", "autoWidth": true },
                    { "data": "supplier_name", "name": "supplier_name", "autoWidth": true },
                    { "data": "unit_name", "name": "unit_name", "autoWidth": true },

                    { "data": "delivery_status_type", "name": "delivery_status_type", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });




        }


        function deleteRowAdd(button) {

            $(button).parent().parent().remove();
        }


        function deleteRowEdit(button) {

            var receive_detail_id = $(button).attr("receive_detail_id");
            var item_id = $(button).attr("item_id");
            var obj = {
                receive_detail_id: receive_detail_id,
                // pr_id: $('#pr_id').val(),
                gen_item_master_id: item_id,
                current_state: 3
            }
            details.push(obj);

            $(button).parent().parent().remove();


        }

    </script>


}







