@model EPYSLSAILORAPP.Application.DTO.Tran_MerchandisingMgt.tran_purchase_requisition_DTO
@using EPYSLSAILORAPP.Application.DTO.Tran_DesignMgt
@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "Draft Requisition List";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}
<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Draft Requisition</h6>
                        </div>
                        @await Component.InvokeAsync("DataFilterSCM")
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <button type="button" class="btn btn-primary" onclick="AddDraftPRFabric(this);" style="margin-left: 0px;width:150px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add Fabric</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary" onclick="AddDraftPRAccesories(this);" style="margin-left: 0px;width:150px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add Accesories</button>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="DTDraftPR" class="table table-striped table-bordered" cellspacing="0">
                                        <thead>
                                            <tr>

                                                <th>DPR No</th>
                                                <th>DPR Date</th>
                                                <th>Delivery date</th>
                                                <th>Season</th>
                                            
                                                <th>Raised By</th>
                                               
                                              
                                                <th>Delivery Unit</th>                                              
                                                <th>Supplier</th>                                         
                                               <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>


                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 80% !important; max-width: 100% !important; ">
        <div class="modal-content" id="modal_main">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Accessories  Requisition
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
         var listAttachments = [];
        var DeleteList = [];
        function closePopup() {
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
        }

        function AddDraftPRFabric() {
                listAttachments = []; 
                $("#fileNamesContainer").html('');

            ajaxGetHandler("/DraftPR/DraftFabricPRNew", null, function (data) {

                hideLoader();

                $('#modalcontent').html(data);
                $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer').modal("show");
                
                LoadTechPackDropDownByClass("modalcontainer #modal_main", "S2TechPack");

                $("#modalcontent .S2GenSupplier").val(null).trigger('change.select2');
                $("#modalcontent .S2TechPack").val(null).trigger('change.select2');

                $('#supplier_id').on('change', function() {
                    var selectedSupplier = $(this).select2("data");
                    $('#supplier_concern_person').val((selectedSupplier[0].contact_person));
                    $('#supplier_address').val((selectedSupplier[0].office_address));
                            
                });


                $("#modalcontainer #attachments").change(function () {                        
                var files = this.files;
                var size = $(this)[0].files.length;
                formData = new FormData();

                for (var i = 0; i < size; i++) {
                    var reader = new FileReader();

                    reader.onload = (function (singlefile) {

                        var filename = singlefile.name;
                        var filetype = singlefile.name.indexOf(".rar") > -1 ? ".rar" : singlefile.type;

                        return function (e) {

                            var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");

                            var indx = listAttachments.length; //getMaxFileIndex();//$("#frames .spanClose").length;

           
                            var attachfile = {
                                filename: filename,
                                filetype: filetype,
                                extension: filetype.substring(filetype.lastIndexOf('.') + 1),
                                base64string: base64String,
                                server_filename: "",
                                current_state: 1,
                                fileindex: indx
                            };

                            listAttachments.push(attachfile);

                            $("#fileNamesContainer").append('<p>' + filename + '</p>');


                            base64String = "";

                        }


                    })($(this)[0].files[i]);

                    reader.readAsDataURL($(this)[0].files[i]);


                }
            });
            });

        
        }
        function AddDraftPRAccesories() {
            listAttachments = [];
            $("#fileNamesContainer").html('');

            ajaxGetHandler("/DraftPR/DraftAccesoriesPRNew", null, function (data) {

                hideLoader();

                $('#modalcontent').html(data);
                $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer').modal("show");
                
                LoadTechPackDropDownByClass("modalcontainer #modal_main", "S2TechPack");

                $("#modalcontent .S2GenSupplier").val(null).trigger('change.select2');
                $("#modalcontent .S2TechPack").val(null).trigger('change.select2');

                $('#supplier_id').on('change', function () {
                    var selectedSupplier = $(this).select2("data");
                    $('#supplier_concern_person').val((selectedSupplier[0].contact_person));
                    $('#supplier_address').val((selectedSupplier[0].office_address));

                });


                $("#modalcontainer #attachments").change(function () {
                    var files = this.files;
                    var size = $(this)[0].files.length;
                    formData = new FormData();

                    for (var i = 0; i < size; i++) {
                        var reader = new FileReader();

                        reader.onload = (function (singlefile) {

                            var filename = singlefile.name;
                            var filetype = singlefile.name.indexOf(".rar") > -1 ? ".rar" : singlefile.type;

                            return function (e) {

                                var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");

                                var indx = listAttachments.length; //getMaxFileIndex();//$("#frames .spanClose").length;


                                var attachfile = {
                                    filename: filename,
                                    filetype: filetype,
                                    extension: filetype.substring(filetype.lastIndexOf('.') + 1),
                                    base64string: base64String,
                                    server_filename: "",
                                    current_state: 1,
                                    fileindex: indx
                                };

                                listAttachments.push(attachfile);

                                $("#fileNamesContainer").append('<p>' + filename + '</p>');


                                base64String = "";

                            }


                        })($(this)[0].files[i]);

                        reader.readAsDataURL($(this)[0].files[i]);


                    }
                });
            });


        }
        function uploadFile(){

            $("#modalcontainer #attachments").trigger("click");
        };
        function EditDraftPR(btn){

            listAttachments = [];
            var pr_id = $(btn).attr("dpr_id");

               setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/DraftPR/DraftPREdit?pr_id=" + pr_id, null, function (data) {

                    hideLoader();

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");
                    
                    LoadTechPackDropDownByClass("modalcontainer #modal_main", "S2TechPack");
                 

                    $('#supplier_id').on('change', function () {
                        var selectedSupplier = $(this).select2("data");
                        if (selectedSupplier[0].contact_person)$('#supplier_concern_person').val((selectedSupplier[0].contact_person));
                        if (selectedSupplier[0].office_address) $('#supplier_address').val((selectedSupplier[0].office_address));

                    });

                    $("#modalcontainer #attachments").change(function () {
                        var files = this.files;
                        var size = $(this)[0].files.length;
                        formData = new FormData();

                        for (var i = 0; i < size; i++) {
                            var reader = new FileReader();

                            reader.onload = (function (singlefile) {

                                var filename = singlefile.name;
                                var filetype = singlefile.name.indexOf(".rar") > -1 ? ".rar" : singlefile.type;

                                return function (e) {

                                    var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");

                                    var indx = listAttachments.length; //getMaxFileIndex();//$("#frames .spanClose").length;


                                    var attachfile = {
                                        filename: filename,
                                        filetype: filetype,
                                        extension: filetype.substring(filetype.lastIndexOf('.') + 1),
                                        base64string: base64String,
                                        server_filename: "",
                                        current_state: 1,
                                        fileindex: indx
                                    };

                                    listAttachments.push(attachfile);

                                    $("#fileNamesContainer").append('<p>' + filename + '</p>');


                                    base64String = "";

                                }


                            })($(this)[0].files[i]);

                            reader.readAsDataURL($(this)[0].files[i]);


                        }
                    });
                });


            } catch (e) {
                hideLoader();
            }
        }

        function ViewDraftPR(btn) {

            var pr_id = $(btn).attr("pr_id");

               setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/DraftPR/DraftPRView?pr_id=" + pr_id, null, function (data) {

                    hideLoader();

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                hideLoader();
            }
        }
        
        function SaveDraftPR(btn) {
            details=[]

            $.each($("#DTTranAccessoriesDetails tbody tr"), function (key, val) {

                var obj = {
                    item_id: check_textbox_value($(this).find(".item_id")),
                    item_quantity: check_textbox_value($(this).find(".quantity")),
                    uom: check_textbox_value($(this).find(".uom"))
                   
                };
                details.push(obj);


            });
       
            var obj_DraftPR = {
                		dpr_no: $('#modalcontent #dpr_no').val(),
		                dpr_date: $('#modalcontent #dpr_date').val(),
		                delivery_date: $('#modalcontent #delivery_date').val(),
                        designer_id: check_value($('#modalcontent #designer_id').val()),
                        item_structure_group_id: $('#modalcontent #item_structure_group_id').val(),
                        merchandiser_id: check_value($('#modalcontent #merchandiser_id').val()),
                        techpack_id: check_value($('#modalcontent #techpack_id').val()),
                        event_id: check_value($('#modalcontent #event_id').val()),		               
		                delivery_unit_id: check_value($('#modalcontent #delivery_unit_id').val()),
		                delivery_unit_address: $('#modalcontent #delivery_unit_address').val(),
		                remarks: $('#modalcontent #remarks').val(),
		                supplier_id: check_value($('#modalcontent #supplier_id').val()),
		                supplier_address: $('#modalcontent #supplier_address').val(),
		                supplier_concern_person: $('#modalcontent #supplier_concern_person').val(),
		                terms_condition_list: $('#modalcontent #terms_condition_list').val(),
		                test_requirements_list: $('#modalcontent #test_requirements_list').val(),
                        List_Files: listAttachments,
		                is_submitted: false,
		                is_approved: false,
                        details: details
               
            }
                    
           

        

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

            ajaxPostObjectHandler("/DraftPR/SaveDraftPR", obj_DraftPR, function (response) {

                    hideLoader();

                    if (response.status_Code == "200") {

                        LoadDraftPRData();



                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);

            
        }
        function SaveAccessoriesRequisition(btn) {
            details = []

            $.each($("#DTTranAccessoriesDetails tbody tr"), function (key, val) {

                var obj = {
                    item_id: check_textbox_value($(this).find(".item_id")),
                    item_quantity: check_textbox_value($(this).find(".quantity")),
                    uom: check_textbox_value($(this).find(".uom"))

                };
                details.push(obj);


            });

            var obj_AccessoriesRequisition = {
                dpr_no: $('#modalcontent #dpr_no').val(),
                dpr_date: $('#modalcontent #dpr_date').val(),
                delivery_date: $('#modalcontent #delivery_date').val(),
                designer_id: check_value($('#modalcontent #designer_id').val()),
                item_structure_group_id: $('#modalcontent #item_structure_group_id').val(),
                merchandiser_id: check_value($('#modalcontent #merchandiser_id').val()),
                techpack_id: check_value($('#modalcontent #techpack_id').val()),
                event_id: check_value($('#modalcontent #event_id').val()),
                delivery_unit_id: check_value($('#modalcontent #delivery_unit_id').val()),
                delivery_unit_address: $('#modalcontent #delivery_unit_address').val(),
                remarks: $('#modalcontent #remarks').val(),
                supplier_id: check_value($('#modalcontent #supplier_id').val()),
                supplier_address: $('#modalcontent #supplier_address').val(),
                supplier_concern_person: $('#modalcontent #supplier_concern_person').val(),
                terms_condition_list: $('#modalcontent #terms_condition_list').val(),
                test_requirements_list: $('#modalcontent #test_requirements_list').val(),
                List_Files: listAttachments,
                is_submitted: false,
                is_approved: false,
                details: details

            }





            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/DraftPR/SaveAccessoriesRequisition", obj_AccessoriesRequisition, function (response) {

                hideLoader();

                if (response.status_Code == "200") {

                    LoadDraftPRData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }

        function SaveFabricRequisition(btn) {
            details=[]

            $.each($("#DTTranFabricDetails tbody tr"), function (key, val) {

                var obj = {
                    item_id: check_textbox_value($(this).find(".item_id")),
                    item_quantity: check_textbox_value($(this).find(".quantity")),
                    uom: check_textbox_value($(this).find(".uom"))
                   
                };
                details.push(obj);


            });
       
            var obj_FabricRequisition = {
                		dpr_no: $('#modalcontent #dpr_no').val(),
		                dpr_date: $('#modalcontent #dpr_date').val(),
		                delivery_date: $('#modalcontent #delivery_date').val(),
                        designer_id: check_value($('#modalcontent #designer_id').val()),
                        merchandiser_id: check_value($('#modalcontent #merchandiser_id').val()),
                        techpack_id: check_value($('#modalcontent #techpack_id').val()),
                        event_id: check_value($('#modalcontent #event_id').val()),		               
		                delivery_unit_id: check_value($('#modalcontent #delivery_unit_id').val()),
		                delivery_unit_address: $('#modalcontent #delivery_unit_address').val(),
		                remarks: $('#modalcontent #remarks').val(),
		                supplier_id: check_value($('#modalcontent #supplier_id').val()),
		                supplier_address: $('#modalcontent #supplier_address').val(),
		                supplier_concern_person: $('#modalcontent #supplier_concern_person').val(),
		                terms_condition_list: $('#modalcontent #terms_condition_list').val(),
		                test_requirements_list: $('#modalcontent #test_requirements_list').val(),
                        List_Files: listAttachments,
		                is_submitted: false,
		                is_approved: false,
                        details: details
               
            }

          
           

        

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

            ajaxPostObjectHandler("/DraftPR/SaveFabricRequisition", obj_FabricRequisition, function (response) {

                    hideLoader();

                    if (response.status_Code == "200") {

                    LoadDraftPRData();



                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);

            
        }


        function update(btn, isSubmit) {

           
            details = []

            $.each($("#DTTranAccessoriesDetails tbody tr"), function (key, val) {

                var obj = {
                    item_id: check_textbox_value($(this).find(".item_id")),
                    item_quantity: check_textbox_value($(this).find(".quantity")),
                    uom: check_textbox_value($(this).find(".uom"))

                };
                details.push(obj);


            });

            var obj_DraftPR = {
                dpr_id: $('#modalcontent #dpr_id').val(),
                dpr_no: $('#modalcontent #dpr_no').val(),
                dpr_date: $('#modalcontent #dpr_date').val(),
                delivery_date: $('#modalcontent #delivery_date').val(),
                designer_id: check_value($('#modalcontent #designer_id').val()),
                item_structure_group_id: $('#modalcontent #item_structure_group_id').val(),
                merchandiser_id: check_value($('#modalcontent #merchandiser_id').val()),
                techpack_id: check_value($('#modalcontent #techpack_id').val()),
                event_id: check_value($('#modalcontent #event_id').val()),
                delivery_unit_id: check_value($('#modalcontent #delivery_unit_id').val()),
                delivery_unit_address: $('#modalcontent #delivery_unit_address').val(),
                remarks: $('#modalcontent #remarks').val(),
                supplier_id: check_value($('#modalcontent #supplier_id').val()),
                supplier_address: $('#modalcontent #supplier_address').val(),
                supplier_concern_person: $('#modalcontent #supplier_concern_person').val(),
                terms_condition_list: $('#modalcontent #terms_condition_list').val(),
                test_requirements_list: $('#modalcontent #test_requirements_list').val(),
                List_Files: listAttachments,
                is_submitted: isSubmit,
                is_approved: false,
                details: details,
                DeleteList: DeleteList


            }


            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);


            ajaxPostObjectHandler("/DraftPR/UpdateDraftPR", obj_DraftPR, function (response) {

                hideLoader();

                if (response.status_Code == "200") {

                    LoadDraftPRData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();
                        listAttachments = []; DeleteList = [];

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }
		
		function DeleteDraftPR(id) {

			showConfirmationAlert("Alert", "Do You Want to Delete??", "Yes", function () {

				var obj_DraftPR = {
					strMasterID: id
				}

				setTimeout(function () {
					showLoader("Saving..........");
				}, 0);

				ajaxPostObjectHandler("/DraftPR/DeleteDraftPR", obj_DraftPR, function (response) {

					hideLoader();

					if (response.status_Code == "200") {

						LoadDraftPRData();

						showSuccessAlert("Success", response.status_Result, "OK", function () {

							closePopup();

						});
					}
					else {
						showErrorAlert("Alert", response.status_Result, "OK", function () {

						});
					}
				}, true, function () { hideLoader(); }, true);

			});
		}


        $("#btnLoadData").click(function () {
            if ($("#fiscal_year_id").val() == '') {
                $("#fiscal_year_id").focus();
                $("#fiscal_year_id").css("border", "1px solid red");
            }
            else if ($("#event_id").val() == '') {
                $("#event_id").focus();
                $("#event_id").parent().find(".select2-selection--single").css("border", "1px solid red");

            }
            else {

                $("#fiscal_year_id").css("border", "");
                $("#event_id").parent().find(".select2-selection--single").css("border", "");

                LoadDraftPRData();

            }

        });

        $(function () {

            LoadDraftPRData();

        });

        function LoadDraftPRData() {
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#supplier_id").val(),
                delivery_unit_id: $("#delivery_unit_id").val()

            };
            var dt = $("#DTDraftPR").DataTable({
                "ajax": $.fn.dataTable.json({ url: "/DraftPR/GetDraftPRData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("pr_id", data.pr_id);

                },
                "columns": [

                    { "data": "dpr_no", "name": "dpr_no", "autoWidth": true },
                    { "data": "dpr_date", "name": "dpr_date", "autoWidth": true },
                    { "data": "delivery_date", "name": "delivery_date", "autoWidth": true },
                    { "data": "event_title", "name": "event_title", "autoWidth": true },
                    { "data": "designer_name", "name": "designer_name", "autoWidth": true },
                    { "data": "unit_name", "name": "unit_name", "autoWidth": true },
                    { "data": "supplier_name", "name": "supplier_name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });
        }
        function SendForApproval(btn) {

            details = []

            $.each($("#DTTranAccessoriesDetails tbody tr"), function (key, val) {

                var obj = {
                    item_id: check_textbox_value($(this).find(".item_id")),
                    item_quantity: check_textbox_value($(this).find(".quantity")),
                    uom: check_textbox_value($(this).find(".uom"))

                };
                details.push(obj);


            });

            var obj_DraftPR = {
                pr_id: $('#modalcontent #pr_id').val(),
                pr_no: $('#modalcontent #pr_no').val(),
                pr_date: $('#modalcontent #pr_date').val(),
                delivery_date: $('#modalcontent #delivery_date').val(),
                designer_id: check_value($('#modalcontent #designer_id').val()),
                event_id: check_value($('#modalcontent #event_id').val()),
                delivery_unit_id: check_value($('#modalcontent #delivery_unit_id').val()),
                delivery_unit_address: $('#modalcontent #delivery_unit_address').val(),
                remarks: $('#modalcontent #remarks').val(),
                supplier_id: check_value($('#modalcontent #supplier_id').val()),
                supplier_address: $('#modalcontent #supplier_address').val(),
                supplier_concern_person: $('#modalcontent #supplier_concern_person').val(),
                terms_condition_list: $('#modalcontent #terms_condition_list').val(),
                test_requirements_list: $('#modalcontent #test_requirements_list').val(),
                List_Files: listAttachments,
                is_submitted: true,
                is_approved: false,
                details: details,
                DeleteList: DeleteList


            }


            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);


            ajaxPostObjectHandler("/DraftPR/UpdateDraftPR", obj_DraftPR, function (response) {

                hideLoader();

                if (response.status_Code == "200") {

                    LoadDraftPRData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }
    </script>
}





