<footer class="main-footer" style="height: 1px; margin-left: 48%;    position: absolute; margin-bottom: 5px;">
    <strong style="margin-top: 3px;  display: block;">© Copyright <span id="year"></span> <a target="_blank" href="https://www.epylliongroup.com">Epyllion Group</a>. All rights reserved.</strong>
 
   
</footer>