@model EPYSLSAILORAPP.Domain.DTO.tran_scm_bill_submission_DTO

@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "Bill Submission List";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}


<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Bill Submission Challan Wise</h6>
                        </div>
                        <!-- /.card-header -->
                        <!-- /.card-body -->
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <button type="button" class="btn btn-primary" onclick="AddBillSubmissionChallan();" style="margin-left: 0px;width:150px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add </button>
                        </div>
                    </div>

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" id="tab_bar_style">
                                    <ul id="tab_precostinglanding" class="nav nav-tabs">
                                       

                                        <li class="active" tab_index="2">
                                            <a style="text-decoration:unset;" class="tab_link active" aria-current="page" href="#submitted" data-toggle="tab">Submitted List</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content">
                                        
                                        <div class="tab-pane active" id="submitted" tabpane_index="2">
                                            <div class="box">
                                                <table id="DTBillSubmitted" class="table table-striped table-bordered" cellspacing="0">
                                                    <thead style="text-align:center">
                                                        <tr>

                                                         
                                                            <th>Challan no</th>
                                                            <th>Po no</th>
                                                            <th>Challan date</th>
                                                            <th>Supplier</th>
                                                            <th>Delivery unit</th>
                                                            <th>Action</th>

                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>


                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 80% !important; max-width: 80% !important; ">
        <div class="modal-content">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Bill Submission
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function closePopup() {
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
        }

        function AddBillSubmissionChallan() {

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            ajaxGetHandler("/BillSubmissionChallan/BillSubmissionChallanNew", null, function (data) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                $('#modalcontent').html(data);
                $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer').modal("show");
                $("#modalcontent .S2GenSupplier").val(null).trigger('change.select2');
                $("#modalcontent .S2TranPurchaseRequisition").val(null).trigger('change.select2');

                // $('#supplier_id').on('change', function () {
                //     var selectedSupplier = $(this).select2("data");

                //     if (selectedSupplier[0].contact_person) $('#supplier_concern_person').val((selectedSupplier[0].contact_person));
                //     if (selectedSupplier[0].office_address) $('#supplier_address').val((selectedSupplier[0].office_address));

                // });


                $('#supplier_id').on('change', function () {
                    var supplierId = $(this).val();
                    var selectedSupplier = $(this).select2("data");
                    $('#supplier_address').val((selectedSupplier[0].office_address));
                    if (supplierId) {
                        BindSupplierConcernPerson(supplierId);
                    } else {

                        $('#supplier_concern_person').empty().append('<option value="">Select Concern Person</option>');
                    }


                });




                $('#pr_id').on('change', function () {

                    setTimeout(function () {
                        showLoader("Loading..........");
                    }, 0);

                    ajaxGetHandler("/FabricPo/GetPRDetails?pr_id=" + $('#pr_id').val(), null, function (data) {

                        $("#techpack_number").val(data.pr.techpack_number);
                        $("#suggested_supplier_name").val(data.pr.supplier_name);
                        $("#delivery_unit_name").val(data.pr.delivery_unit_name);
                        $("#delivery_unit_id1").val(data.pr.delivery_unit_id);

                        var table = document.getElementById("DTTranFabricDetails").getElementsByTagName('tbody')[0];
                        while (table.firstChild) {
                            table.removeChild(table.firstChild);
                        }
                        data.data.forEach(function (obj) {


                            var newRow = table.insertRow(table.rows.length);

                            var cell1 = newRow.insertCell(0);
                            var cell2 = newRow.insertCell(1);
                            var cell3 = newRow.insertCell(2);
                            var cell4 = newRow.insertCell(3);
                            var cell5 = newRow.insertCell(4);
                            var cell6 = newRow.insertCell(5);
                            var cell7 = newRow.insertCell(6);
                            var cell8 = newRow.insertCell(7);
                            var cell9 = newRow.insertCell(8);


                            cell1.innerHTML = "<input disabled type='number'class='form-control item_id' value=" + obj.item_id + " >";
                            cell2.innerHTML = "<input disabled type='text'class='form-control item_id' value=" + obj.sub_group_name + " >";
                            cell3.innerHTML = "<input disabled type='text'class='form-control' value='" + obj.item_name + "' >";
                            cell4.innerHTML = obj.item_spec;
                            cell4.style.display = "none";
                            cell5.innerHTML = "<input type='text' disabled class='form-control quantity' name='quantity' value=" + obj.item_quantity + ">";
                            cell6.innerHTML = "<input disabled type='text'class='form-control uom' value=" + obj.uomText + " >";

                            cell7.innerHTML = "<input type='number'class='form-control unitPrice'>";
                            cell8.innerHTML = "<input disabled type='number' class='form-control totalPrice'>";
                            cell9.innerHTML = "<input type='text'class='form-control remarks'>";
                        });





                        setTimeout(function () {
                            hideLoader();
                        }, 0);
                        $("#purchaseDetrails").show();

                        obj_fabric_List = [];
                    });

                });

                $("#modalcontainer #attachments").change(function () {
                    var files = this.files;
                    var size = $(this)[0].files.length;
                    var allowedExtensions = ['.pdf'];
                    formData = new FormData();

                    for (var i = 0; i < size; i++) {
                        var file = $(this)[0].files[i];
                        var extension = file.name.substring(file.name.lastIndexOf('.')).toLowerCase();

                        if (allowedExtensions.indexOf(extension) === -1) {
                            showErrorAlert("Alert", "Only  .pdf files are allowed.", "OK", function () { });
                            continue;
                        }

                        var reader = new FileReader();

                        reader.onload = (function (singlefile) {
                            var filename = singlefile.name;
                            var filetype = singlefile.type;

                            return function (e) {
                                var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");
                                var indx = listAttachments.length;

                                var attachfile = {
                                    filename: filename,
                                    filetype: filetype,
                                    extension: extension.substring(extension.lastIndexOf('.') + 1),
                                    base64string: base64String,
                                    server_filename: "",
                                    current_state: 1,
                                    fileindex: indx
                                };

                                listAttachments.push(attachfile);
                                $("#fileNamesContainer").append('<p>' + filename + '</p>');
                                base64String = "";
                            }
                        })(file);

                        reader.readAsDataURL(file);
                    }
                });
            });


        }

        function AddBillSubmission() {
            var po_id = $(btn).attr("po_id");
            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            ajaxGetHandler("/BillSubmission/BillSubmissionNew?po_id=" + po_id, null, function (data) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                $('#modalcontent').html(data);
                $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer').modal("show");

            });


        }

        function EditBillSubmission(btn) {


            var bill_submission_id = $(btn).attr("bill_submission_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/BillSubmission/BillSubmissionEdit?bill_submission_id=" + bill_submission_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");
                    var loading_cost = $('#modalcontent #loading_cost').val();
                    var transport_cost = $('#modalcontent #transport_cost').val();
                    var discount_amount = $('#modalcontent #discount_amount').val();
                    var vat_amount = $('#modalcontent #vat_amount').val();
                    var addition = parseFloat(loading_cost) + parseFloat(transport_cost);
                    $('#modalcontent #total_with_addition').val(addition);
                    var deduction = parseFloat(discount_amount);
                    $('#modalcontent #total_with_deduction').val(deduction);
                    $('#modalcontent #total_without_vat').val(parseFloat(vat_amount));
                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewBillSubmission(btn) {

            var bill_submission_id = $(btn).attr("bill_submission_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/BillSubmission/BillSubmissionView?bill_submission_id=" + bill_submission_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");
                    var loading_cost = $('#modalcontent #loading_cost').val();
                    var transport_cost = $('#modalcontent #transport_cost').val();
                    var discount_amount = $('#modalcontent #discount_amount').val();
                    var vat_amount = $('#modalcontent #vat_amount').val();
                    var addition = parseFloat(loading_cost) + parseFloat(transport_cost);
                    $('#modalcontent #total_with_addition').val(addition);
                    var deduction = parseFloat(discount_amount);
                    $('#modalcontent #total_with_deduction').val(deduction);
                    $('#modalcontent #total_without_vat').val(parseFloat(vat_amount));
                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function SaveBillSubmission(btn) {

            var obj_BillSubmission = {

                po_id: ($('#modalcontent #po_id').val()),
                supplier_id: ($('#modalcontent #supplier_id').val()),
                bill_no: $('#modalcontent #bill_no').val(),
                challan_no: $('#modalcontent #challan_no').val(),
                challan_date: $('#modalcontent #challan_date').val(),
                bill_date: $('#modalcontent #bill_date').val(),
                total_po_amount: $('#modalcontent #total_po_amount').val(),
                loading_cost_in_percentage: $('#modalcontent #loading_cost_in_percentage').val(),
                loading_cost: $('#modalcontent #loading_cost').val(),
                transport_cost_in_percentage: $('#modalcontent #transport_cost_in_percentage').val(),
                transport_cost: $('#modalcontent #transport_cost').val(),
                discount_in_percentage: $('#modalcontent #discount_in_percentage').val(),
                discount_amount: $('#modalcontent #discount_amount').val(),
                vat_in_percentage: $('#modalcontent #vat_in_percentage').val(),
                vat_amount: $('#modalcontent #vat_amount').val(),
                total_value: $('#modalcontent #total_value').val(),
                remarks: $('#modalcontent #remarks').val(),


            }




            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/BillSubmission/SaveBillSubmission", obj_BillSubmission, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadPendingBillData();
                    LoadBillSubmittedData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }

        function UpdateBillSubmission(btn, is_send_for_approval) {

            var obj_BillSubmission = {
                bill_submission_id: check_value($('#modalcontent #bill_submission_id').val()),
                po_id: check_value($('#modalcontent #po_id').val()),
                supplier_id: check_value($('#modalcontent #supplier_id').val()),
                bill_no: $('#modalcontent #bill_no').val(),
                challan_no: $('#modalcontent #challan_no').val(),
                challan_date: $('#modalcontent #challan_date').val(),
                bill_date: $('#modalcontent #bill_date').val(),
                total_po_amount: $('#modalcontent #total_po_amount').val(),
                loading_cost_in_percentage: $('#modalcontent #loading_cost_in_percentage').val(),
                loading_cost: $('#modalcontent #loading_cost').val(),
                transport_cost_in_percentage: $('#modalcontent #transport_cost_in_percentage').val(),
                transport_cost: $('#modalcontent #transport_cost').val(),
                discount_in_percentage: $('#modalcontent #discount_in_percentage').val(),
                discount_amount: $('#modalcontent #discount_amount').val(),
                vat_in_percentage: $('#modalcontent #vat_in_percentage').val(),
                vat_amount: $('#modalcontent #vat_amount').val(),
                total_value: $('#modalcontent #total_value').val(),
                is_submitted: true,
                is_send_for_approval: is_send_for_approval,
                remarks: $('#modalcontent #remarks').val(),


            }

            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);


            ajaxPostObjectHandler("/BillSubmission/UpdateBillSubmission", obj_BillSubmission, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadPendingBillData();
                    LoadBillSubmittedData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }

        function DeleteBillSubmission(id) {

            showConfirmationAlert("Alert", "Do You Want to Delete??", "Yes", function () {

                var obj_BillSubmission = {
                    strMasterID: id
                }

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/BillSubmission/DeleteBillSubmission", obj_BillSubmission, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadBillSubmissionData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                }, true);

            });
        }

        $(function () {

            //LoadPendingBillData();
            LoadBillSubmittedData();
            BindTabEvents("tab_precostinglanding");

        });


        function LoadBillSubmittedData() {
            var dt_search = {

                filterId: '#DTBillSubmitted_filter input[type=search]',
                tableId: "#DTBillSubmitted"

            };
            var dt = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By Challan No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
              
                search: {
                    return: true
                },
                "ajax": $.fn.dataTable.json({ url: "/BillSubmission/GetBillSubmittedData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 5, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("bill_submission_id", data.bill_submission_id);

                },
                "columns": [

                    { "data": "challan_no", "name": "challan_no", "autoWidth": true },
                    { "data": "po_no", "name": "po_no", "autoWidth": true },

                   
                    { "data": "challan_date", "name": "challan_date", "autoWidth": true },


                    { "data": "supplier_name", "name": "supplier_name", "autoWidth": true },
                    { "data": "delivery_unit_name", "name": "delivery_unit_name", "autoWidth": true },

                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ],
                
            });
        }
        function LoadPendingBillData() {
            var dt_search = {

                filterId: '#DTBillPending_filter input[type=search]',
                tableId: "#DTBillPending"

            };

            var dt = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By PO No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },

                
                search: {
                    return: true
                },
                "ajax": $.fn.dataTable.json({ url: "/BillSubmission/GetPOApprovalData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 5, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 6, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("po_id", data.po_id);

                },
                "columns": [

                    { "data": "po_no", "name": "po_no", "autoWidth": true },
                   
                    { "data": "po_date", "name": "po_date", "autoWidth": true },
                    { "data": "delivery_start_date", "name": "delivery_start_date", "autoWidth": true },
                    { "data": "delivery_end_date", "name": "delivery_end_date", "autoWidth": true },
                    { "data": "supplier_name", "name": "supplier_name", "autoWidth": true },
                    { "data": "delivery_unit_name", "name": "delivery_unit_name", "autoWidth": true },
                    // { "data": "is_submitted", "name": "is_submitted", "autoWidth": true },
                    

                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ],
                
                
            });
        }


        

    </script>
}





