@model EPYSLSAILORAPP.Domain.DTO.tran_mcd_requisition_issue_DTO

@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "MCD Requisition Issue List";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}


<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Fabric Requisition Issue</h6>
                        </div>
                        <!-- /.card-header -->
                        @* @await Component.InvokeAsync("DataFilterMCD") *@
                        <!-- /.card-body -->
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" id="tab_bar_style">
                                    <ul id="tab_precostinglanding" class="nav nav-tabs">
                                        <li class="active" tab_index="1">
                                            <a style="text-decoration:unset;" class="tab_link active" aria-current="page" href="#pending" data-toggle="tab">Pending List</a>
                                        </li>

                                        <li class="" tab_index="2">
                                            <a style="text-decoration:unset;" class="tab_link" href="#submitted" data-toggle="tab">Draft List</a>
                                        </li>
                                        <li class="" tab_index="3">
                                            <a style="text-decoration:unset;" class="tab_link" href="#approved" data-toggle="tab">Submitted List</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="pending" tabpane_index="1">
                                            <div class="box">
                                                <table id="DTMCDRequisitionSlip" class="table table-striped table-bordered" cellspacing="0">
                                                    <thead style="text-align:center">
                                                        <tr>


                                                            <th>Requisition Slip No</th>
                                                            <th>Techpack</th>
                                                            <th>Requisition date</th>
                                                            <th>Requisition by</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="submitted" tabpane_index="2">
                                            <div class="box">
                                                <table id="DTDraftRequisitionSlip" class="table table-striped table-bordered" cellspacing="0">
                                                    <thead style="text-align:center">
                                                        <tr>


                                                            <th>Issue No</th>

                                                            <th>Techpack</th>
                                                            <th>Requisition Slip No</th>
                                                            <th>Date added</th>

                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                        <div class="tab-pane " id="approved" tabpane_index="3">
                                            <div class="box">
                                                <table id="DTApprovedRequisitionSlip" class="table table-striped table-bordered" cellspacing="0">
                                                    <thead style="text-align:center">
                                                        <tr>
                                                            <th>Issue No</th>

                                                            <th>Techpack</th>
                                                            <th>Requisition Slip No</th>
                                                            <th>Date added</th>

                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>



                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 80% !important; max-width: 80% !important; ">
        <div class="modal-content">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            MCD Requisition Issue
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function closePopup() {
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
        }



        function McdRequisitionIssue(btn) {


            var tran_mcd_requisition_issue_id = $(btn).attr("requisition_slip_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/MCDRequisitionIssue/MCDRequisitionIssueNew?tran_mcd_requisition_slip_id=" + tran_mcd_requisition_issue_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewMCDRequisitionIssue(btn) {

            var tran_mcd_requisition_issue_id = $(btn).attr("tran_mcd_requisition_issue_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/MCDRequisitionIssue/MCDRequisitionIssueView?tran_mcd_requisition_issue_id=" + tran_mcd_requisition_issue_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }
        function MCDRequisitionIssueDraft(btn) {

            var tran_mcd_requisition_issue_id = $(btn).attr("requisition_issue_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/MCDRequisitionIssue/MCDRequisitionIssueEdit?tran_mcd_requisition_issue_id=" + tran_mcd_requisition_issue_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function MCDRequisitionIssueView(btn) {

            var tran_mcd_requisition_issue_id = $(btn).attr("requisition_issue_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/MCDRequisitionIssue/MCDRequisitionIssueView?tran_mcd_requisition_issue_id=" + tran_mcd_requisition_issue_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }
        function SaveFabricIssue(btn, isSubmit) {
            debugger;
            details = []

            $.each($("#DTTranFabricDetailRow tbody tr"), function (key, val) {
              
                var obj = {
                    item_id: check_textbox_value($(this).find(".gen_item_id")),
                    requisition_quantity: check_textbox_value($(this).find(".requisition_quantity")),
                    issue_quantity: check_textbox_value($(this).find(".quantity")),
                    color_code: check_textbox_value($(this).find(".color_code")),
                    remarks: check_textbox_value($(this).find(".remarks")),
                    measurement_unit_id: check_textbox_value($(this).find(".gen_munit_id")),
                    measurement_unit_name: check_textbox_value($(this).find(".gen_munit_name"))

                };
                details.push(obj);


            });


            var obj_MCDRequisitionIssue = {
                tran_mcd_requisition_issue_id: 0,
                requisition_slip_id: check_value($('#modalcontent #requisition_slip_id').val()),
                techpack_id: check_value($('#modalcontent #techpack_id').val()),
                remarks: $('#modalcontent #remarks').val(),
                is_full_issued: $('#modalcontent #issue_stat').val() == 0 ? false : true,
                is_submitted: isSubmit,
                details: details



            }
            console.log(obj_MCDRequisitionIssue);


            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/MCDRequisitionIssue/SaveMCDRequisitionIssue", obj_MCDRequisitionIssue, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadMCDRequisitionIssueData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }

        function UpdateFabricIssue(btn, is_sub) {

            details = []

            $.each($("#DTTranFabricDetailRow tbody tr"), function (key, val) {

                var obj = {
                    tran_mcd_requisition_issue_details_id: check_textbox_value($(this).find(".tran_mcd_requisition_issue_details_idEdit")),

                    tran_mcd_requisition_issue_id: check_textbox_value($(this).find(".tran_mcd_requisition_issue_idEdit")),

                    item_id: check_textbox_value($(this).find(".gen_item_id")),
                    requisition_quantity: check_textbox_value($(this).find(".requisition_quantity")),
                    issue_quantity: check_textbox_value($(this).find(".quantity")),
                    remarks: check_textbox_value($(this).find(".remarks")),
                    measurement_unit_id: check_textbox_value($(this).find(".gen_munit_id")),
                    measurement_unit_name: check_textbox_value($(this).find(".gen_munit_name")),
                    current_state:2

                };
                details.push(obj);


            });


            var obj_MCDRequisitionIssue = {
                tran_mcd_requisition_issue_id: check_value($('#modalcontent #tran_mcd_requisition_issue_id').val()),
                requisition_slip_id: check_value($('#modalcontent #requisition_slip_id').val()),
                techpack_id: check_value($('#modalcontent #techpack_id').val()),
                remarks: $('#modalcontent #remarks').val(),
                requisition_slip_no: $('#modalcontent #requisition_slip_no').val(),
                requisition_date: $('#modalcontent #requisition_date').val(),
                requisitioner_name: $('#modalcontent #requisitioner_name').val(),
                issue_no: $('#modalcontent #issue_no').val(),
                issue_date: $('#modalcontent #issue_date').val(),
                location_name: $('#modalcontent #location_name').val(),
                is_submitted: is_sub,
                is_full_issued: $('#modalcontent #issue_stat').val() == 0 ? false : true,
                details: details
            }

            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/MCDRequisitionIssue/UpdateMCDRequisitionIssue", obj_MCDRequisitionIssue, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadMCDRequisitionIssueData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);
        }

        function DeleteMCDRequisitionIssue(id) {

            showConfirmationAlert("Alert", "Do You Want to Delete??", "Yes", function () {

                var obj_MCDRequisitionIssue = {
                    strMasterID: id
                }

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/MCDRequisitionIssue/DeleteMCDRequisitionIssue", obj_MCDRequisitionIssue, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadMCDRequisitionIssueData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                }, true);

            });
        }

        $(function () {

            LoadMCDRequisitionIssueData();
            BindTabEvents("tab_precostinglanding");

        });

        function LoadMCDRequisitionIssueData() {

            var dt_search = {

                dt_search_pending: {
                    filterId: '#DTMCDRequisitionSlip_filter input[type=search]',
                    tableId: "#DTMCDRequisitionSlip"
                },
                dt_search_draft: {
                    filterId: '#DTDraftRequisitionSlip_filter input[type=search]',
                    tableId: "#DTDraftRequisitionSlip"
                },
                dt_search_submitted: {
                    filterId: '#DTApprovedRequisitionSlip_filter input[type=search]',
                    tableId: "#DTApprovedRequisitionSlip"
                }

               

            };



            var dt = $(dt_search.dt_search_pending.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search Requisition Slip No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.dt_search_pending.filterId).val('');
                                    $(dt_search.dt_search_pending.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
                
                search: {
                    return: true
                },
                
                "ajax": $.fn.dataTable.json({ url: "/MCDRequisitionIssue/GetJoinedMCDRequisitionSlipData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("requisition_slip_id", data.requisition_slip_id);

                },
                "columns": [

                    { "data": "requisition_slip_no", "name": "requisition_slip_no", "autoWidth": true },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },

                    {
                        "data": "requisition_date",
                        "name": "requisition_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },

                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });


            var draft = $(dt_search.dt_search_draft.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search Issue No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.dt_search_draft.filterId).val('');
                                    $(dt_search.dt_search_draft.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },

                search: {
                    return: true
                },
                "searching": true,
                "ajax": $.fn.dataTable.json({ url: "/MCDRequisitionIssue/GetDraftRequisitionSlipData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("requisition_slip_id", data.tran_mcd_requisition_issue_id);

                },
                "columns": [

                    { "data": "issue_no", "name": "issue_no", "autoWidth": true },

                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "requisition_slip_no", "name": "requisition_slip_no", "autoWidth": true },

                    {
                        "data": "date_added",
                        "name": "date_added",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });

            var approved = $(dt_search.dt_search_submitted.tableId).DataTable({

                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search Issue No',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.dt_search_submitted.filterId).val('');
                                    $(dt_search.dt_search_submitted.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },

               
                search: {
                    return: true
                },
                "searching": true,
                "ajax": $.fn.dataTable.json({ url: "/MCDRequisitionIssue/GetSubmittedRequisitionSlipData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("requisition_issue_id", data.tran_mcd_requisition_issue_id);

                },
                "columns": [


                    { "data": "issue_no", "name": "issue_no", "autoWidth": true },
                    {
                        "data": "date_added",
                        "name": "date_added",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "requisition_slip_no", "name": "requisition_slip_no", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });
        }

    </script>
}





