@model EPYSLSAILORAPP.Domain.DTO.tran_mcd_receive_DTO

@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "Accessories Requisition Slip Finishing";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}
<style>

    #tab_precostinglanding.nav-tabs > li.active > a,
    #tab_precostinglanding.nav-tabs > li.active > a:hover,
    #tab_precostinglanding.nav-tabs > li.active > a:focus,
    #tab_precostinglanding.nav-tabs > li > a.active,
    #tab_precostinglanding.nav-tabs > li > a:hover,
    #tab_precostinglanding.nav-tabs > li > a:focus {
        color: #555;
        cursor: default;
        background-color: khaki;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

</style>

<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Accessories Requisition Slip Finishing</h6>
                        </div>
                       @*  @await Component.InvokeAsync("DataFilterMCD") *@
                        <br />
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <button type="button" class="btn btn-primary" onclick="AddItem();" style="margin-left: 0px;width:150px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add </button>
                            </div>

                            <div class="form-group row" style="display:none">
                                <label class="col-sm-2 col-form-label-sm text-right" style="font-size:14px">PO No <span class="text-danger ml-005">*</span></label>
                                <div class="col-sm-4">
                                    @await Component.InvokeAsync("S2TranScmPo", new
                                        {
                                            ddlId = "po_id",
                                            selectedvalue = "",
                                            cssclass = "form-control S2TranScmPo",
                                            isRequired = false,
                                            isReadOnly = false,
                                            placeholder = "Select PO",
                                            preloaded = "",
                                        })
                                    <span asp-validation-for="po_id" class="text-danger"></span>
                                </div>
                            </div>



                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" id="tab_bar_style">
                                    <ul id="tab_precostinglanding" class="nav nav-tabs">
                                        <li class="active" tab_index="1">
                                            <a href="#det1" style="text-decoration: unset;width: 170px;" class="active tab_link  " data-toggle="tab">DRAFT LIST</a>
                                        </li>
                                        <li class="" tab_index="2">
                                            <a href="#det2" style="text-decoration: unset;width: 170px;" class=" tab_link  " data-toggle="tab">PROPOSED LIST</a>
                                        </li>
                                        <li class="" tab_index="3">
                                            <a href="#det3" style="text-decoration: unset;width: 170px;" class=" tab_link  " data-toggle="tab">APPROVED LIST</a>
                                        </li>

                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="det1" tabpane_index="1">
                                            <div class="card">

                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <table style="font-size:12px;" id="DTFabricRequisitionDraftSlip" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th><label class="labelNormal">Requisition Slip No</label></th>
                                                                <th style="width:300px;"><label class="labelNormal">Requisition Date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal  ">Techpach No</label></th>
                                                                <th><label class="labelNormal">Requisition By</label></th>
                                                                <th><label class="labelNormal "> Action</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det2" tabpane_index="2">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table style="font-size:12px;" id="DTFabricRequisitionProposedSlip" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th><label class="labelNormal">Proposed Slip No</label></th>
                                                                <th style="width:300px;"><label class="labelNormal">Requisition Date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal  ">Techpach No</label></th>
                                                                <th><label class="labelNormal">Requisition By</label></th>
                                                                <th><label class="labelNormal "> Action</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>

                                        <div class="tab-pane " id="det3" tabpane_index="3">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table style="font-size:12px;" id="DTFabricRequisitionApprovedSlip" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th><label class="labelNormal">Approved Slip No</label></th>
                                                                <th style="width:300px;"><label class="labelNormal">Requisition Date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal  ">Techpach No</label></th>
                                                                <th><label class="labelNormal">Requisition By</label></th>
                                                                <th><label class="labelNormal "> Action</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>






                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 90% !important; max-width: 80% !important; ">
        <div class="modal-content" id="modalcontent_1" style="overflow-y: scroll;">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Accessories Requsition Slip
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        var listAttachments = [];
        var DeleteList = [];
        function closePopup() {
            event.preventDefault();
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
            //location.reload();
        }

        function AddItem() {
            
            //$('#po_id').on('change', function () {

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            ajaxGetHandler("/AccessoriesRequisitionSlip/AddAccessoriesRequisitionSlipFinishingNew", null, function (data) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                $('#modalcontent').html(data);
                $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer').modal("show");
                LoadTechPackDropDownByClass("modalcontainer #modalcontent_1", "S2TechPack");
               

            });
        }



        function updateDefectpercentage(input) {
            var failQty = parseInt(input.parentElement.parentElement.cells[11].querySelector('.failQty').value);
            var recQty = input.parentElement.parentElement.cells[7].querySelector('.recQty').value;
            var defect = (failQty / recQty) * 100;
            input.parentElement.parentElement.cells[12].querySelector('.defect').value = defect;
        }

        function uploadFile() {

            $("#modalcontainer #attachments").trigger("click");
        };
        function EditFabricPo(btn) {

            listAttachments = [];
            var po_id = $(btn).attr("po_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/FabricPo/FabricPoEdit?po_id=" + po_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");
                   
                    $("#modalcontent .S2GenSupplier").val(null).trigger('change.select2');

                    $("#modalcontainer #attachments").change(function () {
                        var files = this.files;
                        var size = $(this)[0].files.length;
                        formData = new FormData();

                        for (var i = 0; i < size; i++) {
                            var reader = new FileReader();

                            reader.onload = (function (singlefile) {

                                var filename = singlefile.name;
                                var filetype = singlefile.name.indexOf(".rar") > -1 ? ".rar" : singlefile.type;

                                return function (e) {

                                    var base64String = e.target.result.replace("data:", "").replace(/^.+,/, "");

                                    var indx = listAttachments.length; //getMaxFileIndex();//$("#frames .spanClose").length;


                                    var attachfile = {
                                        filename: filename,
                                        filetype: filetype,
                                        extension: filetype.substring(filetype.lastIndexOf('.') + 1),
                                        base64string: base64String,
                                        server_filename: "",
                                        CurrentState: 1,
                                        fileindex: indx
                                    };

                                    listAttachments.push(attachfile);

                                    $("#fileNamesContainer").append('<p>' + filename + '</p>');


                                    base64String = "";

                                }


                            })($(this)[0].files[i]);

                            reader.readAsDataURL($(this)[0].files[i]);


                        }
                    });
                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function UpdateFabricRequisitionSlip(btn) {
            
            var requisition_slip_id = $(btn).attr("requisition_slip_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/FabricRequisitionSlip/TranMcdReceiveView?received_id=" + requisition_slip_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function SaveFinishingRequisitionSlip(btn,isSubmitt) {
            debugger;
            // if (!_cusFormValidate("frmAddReceive")) {
            //    return;
            // }

            details = []

            var selectedTeckpack = $('#techpack_id').select2("data");
            var requisition_by = $('#requisition_by').val();
            var remarks = $('#remarks').val();
            var gen_item_structure_group_sub_id = $('#gen_item_structure_group_sub_id').val();
            // var vehicalNo = $('#vehical_no').val();
            // var tollerence = $('#tollerence').val();
            // var delevary_status = $('#modalcontent #ddldeliverystatus1').find('option:selected').text();
            // var transaction_mode = $('#modalcontent #ddltranmode1').find('option:selected').text();
            // var transport_type = $('#modalcontent #ddlTransport1').find('option:selected').text();


            $.each($("#DTTranFinishingDetailRow tbody tr"), function (key, val) {

                var obj = {
                    
                    techpack_id: selectedTeckpack[0].id,
                    gen_item_master_id: $(val).find(".itemId").val(),
                    measurement_unit_detail_id: $(val).find(".measurementUnitId").val(),
                    measurement_unit: $(val).find(".measurementUnit").val(),
                    color_code: $(val).find(".colorCode").val(),
                   // available_stock_quantity: $(val).find(".avlStockQunty").val(),
                    available_stock_quantity: $(val).find(".totalRecevQty").val(),
                    requisition_quantity: $(val).find(".reqQuantityaccsew").val(),
                    remarks: $(val).find(".remarksDtl").val(),
                    gen_item_structure_group_sub_id: $(val).find(".gen_subGroup_id").val(),

                };
                details.push(obj);

            });

            var obj_FabricRequisitionSlip = {
                techpack_id: selectedTeckpack[0].id,
                requisition_date: $('#modalcontent #requisition_date').val(),
                requisition_by: requisition_by,
                remarks: remarks,
                gen_item_structure_group_id: 3,
                is_submitted: isSubmitt,
                gen_item_structure_group_sub_id: details[0].gen_item_structure_group_sub_id,//check_value($('#modalcontent #gen_item_structure_group_sub_id').val()),

                //tollerence: tollerence == null || tollerence === "" ? 0 : tollerence,

                details: details
            }

            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/AccessoriesRequisitionSlip/SaveFinishingRequisitionSlip", obj_FabricRequisitionSlip, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);


                var requisition_slip_id;
                // if (response.status_Code == "200") {
                //     LoadFabricRequisitionSlipData();
                //     showSuccessAlert("Success", response.status_Result, "OK", function () {

                //         closePopup();

                //     });
                if (response.status_Code === "200") {
                    console.log(response.data);

                    LoadFabricRequisitionSlipDraftData();
                    LoadFabricRequisitionSlipProposedData();
                    LoadFabricRequisitionSlipApprovedData();

                    // Show success message using SweetAlert
                    Swal.fire({
                        title: 'Success',
                        text: 'Successfully.',
                        icon: 'success',
                        confirmButtonText: 'OK',
                        // showCancelButton: true,
                        // cancelButtonText: 'Propose for Approval',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            closePopup();

                        } else {
                            alert('success');
                            //service_work_order_id = response.data;
                            // proposeForApproval(service_work_order_id);
                        }
                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }

        function ProposeForApprovalFinishing(btn) {
            debugger;

            var requisition_slip_id1 = $('#requisition_slip_id').val(); // Ensure this field has a value

            ajaxPostObjectHandler("/AccessoriesRequisitionSlip/ProposeForApprovalFinishing?Id=" + requisition_slip_id1, null, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                var requisition_slip_id;

                if (response.status_Code === "200") {
                    console.log(response.data);

                    LoadFabricRequisitionSlipDraftData();
                    LoadFabricRequisitionSlipProposedData();
                    LoadFabricRequisitionSlipApprovedData();;

                    Swal.fire({
                        title: 'Success',
                        text: 'Successful.',
                        icon: 'success',
                        confirmButtonText: 'OK',
                        // showCancelButton: true,
                        // cancelButtonText: 'Propose for Approval',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            closePopup();
                        } else {
                            alert('success');
                            //service_work_order_id = response.data;
                            // proposeForApproval(service_work_order_id);
                        }
                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);
        }

      

        function UpdateFabricPo(btn, isSubmit) {

            details = []

            $.each($("#DTTranFabricDetails tbody tr"), function (key, val) {

                var obj = {
                    pr_id: $('#pr_id').val(),
                    item_id: check_textbox_value($(this).find(".item_id")),
                    item_quantity: check_textbox_value($(this).find(".quantity")),
                    unit: check_textbox_value($(this).find(".uom")),
                    unit_price: check_textbox_value($(this).find(".unitPrice")),
                    total_price: check_textbox_value($(this).find(".totalPrice")),
                    remarks: check_textbox_value($(this).find(".remarks"))

                };
                details.push(obj);


            });

            var obj_FabricPo = {
                po_date: $('#modalcontent #po_date').val(),
                pr_id: $('#pr_id').val(),
                po_id: $('#po_id').val(),
                delivery_start_date: $('#modalcontent #delivery_start_date').val(),
                delivery_end_date: $('#modalcontent #delivery_end_date').val(),
                supplier_id: check_value($('#modalcontent #supplier_id').val()),

                is_submitted: isSubmit,
                List_Files: listAttachments,
                po_details: details,
                DeleteList: DeleteList
            }
            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);



            ajaxPostObjectHandler("/FabricPo/UpdateFabricPo", obj_FabricPo, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);


                if (response.status_Code == "200") {

                    LoadReceiveData();



                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup(); listAttachments = []; DeleteList = [];

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);


        }

        function ViewFinishingRequisitionSlip(btn) {
            
            var requisition_slip_id = $(btn).attr("requisition_slip_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/AccessoriesRequisitionSlip/FinishingRequisitionSlipEdit?requisition_slip_id=" + requisition_slip_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");


                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }


        function DeleteFabricPo(id) {

            showConfirmationAlert("Alert", "Do You Want to Delete??", "Yes", function () {

                var obj_FabricPo = {
                    strMasterID: id
                }

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/FabricPo/DeleteFabricPo", obj_FabricPo, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadReceiveData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                }, true);

            });
        }

        $(function () {
          
            LoadFabricRequisitionSlipDraftData();
            LoadFabricRequisitionSlipProposedData();
            LoadFabricRequisitionSlipApprovedData();
            activeChange();

            // add by shiafur on 27-07-24 for number input validation 
            $(document).on('keypress', '.mcdNoaccfin', function (e) {

                if ((e.which < 48 || e.which > 57) && e.which !== 46) {
                    e.preventDefault();
                }

            });

            $(document).on('input', '.mcdNoaccfin', function (e) {
                var $input = $(this);
                var value = $input.val();

                if (value.length > 1 && value.startsWith('0')) {
                    $input.val(value.substring(1));
                }

            });

            $(document).on('keypress', '.bookingQtyaccfin', function (e) {

                if ((e.which < 48 || e.which > 57) && e.which !== 46) {
                    e.preventDefault();
                }

            });

            $(document).on('input', '.bookingQtyaccfin', function (e) {
                var $input = $(this);
                var value = $input.val();



                if (value.length > 1 && value.startsWith('0')) {
                    $input.val(value.substring(1));
                }

            });

            $(document).on('keypress', '.reqQuantityaccfin', function (e) {

                if ((e.which < 48 || e.which > 57) && e.which !== 46) {
                    e.preventDefault();
                }

            });

            $(document).on('input', '.reqQuantityaccfin', function (e) {
                var $input = $(this);
                var value = $input.val();



                if (value.length > 1 && value.startsWith('0')) {
                    $input.val(value.substring(1));
                }

            });

            $(document).on('change', '.reqQuantityaccsew', function () {
                debugger;
                var stystockqty = parseInt($('.avlStockQunty').val());
                var reqQuantity = parseInt($('.reqQuantityaccsew').val());
                var alreadyReqQty = parseInt($('.alreadyReqQty').val());
                var balQty = stystockqty - alreadyReqQty;

                var totalRecvQty = parseInt($('.totalRecevQty').val());
                var totalbalQty = totalRecvQty - alreadyReqQty;



                if (reqQuantity > totalbalQty) {

                    showErrorAlert("Alert", "Requisition quantity cannot be greater than tota receive quantity And check already requisted Quantity!!!", "OK");
                    $('.reqQuantityaccsew').val('');
                }

                // if (reqQuantity > stystockqty || reqQuantity > balQty) {

                //     showErrorAlert("Alert", "Requisition quantity cannot be greater than stock quantity And check already requisted Quantity!!!", "OK");
                //     $('.reqQuantityaccsew').val('');
                // }



            })
            

    });

        function activeChange() {
            $('#tab_precostinglanding.nav-tabs > li').click(function () {
                // Remove active class from all tabs
                $('#tab_precostinglanding.nav-tabs > li').removeClass('active');
                // Add active class to the clicked tab
                $(this).addClass('active');
                // Remove active class from all tab links
                $('#tab_precostinglanding.nav-tabs > li > a').removeClass('active');
                // Add active class to the clicked tab link
                $(this).find('a').addClass('active');
                // Remove active class from all tab contents
                $('.tab-content > .tab-pane').removeClass('active');
                // Add active class to the corresponding tab content
                var tabContentId = $(this).find('a').attr('href');
                $(tabContentId).addClass('active');
            });
        }

        function LoadFabricRequisitionSlipDraftData() {
            
            var dt = $("#DTFabricRequisitionDraftSlip").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/AccessoriesRequisitionSlip/GetFinishingRequisitionSlipData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("requisition_slip_id", data.requisition_slip_id);

                },
                "columns": [

                    { "data": "requisition_slip_no", "name": "requisition_slip_no", "autoWidth": true },
                    {
                        "data": "requisition_date",
                        "name": "requisition_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }

        function LoadFabricRequisitionSlipProposedData() {
            
            var dt = $("#DTFabricRequisitionProposedSlip").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/AccessoriesRequisitionSlip/GetFinishingRequisitionSlipProposedData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("requisition_slip_id", data.requisition_slip_id);

                },
                "columns": [

                    { "data": "requisition_slip_no", "name": "requisition_slip_no", "autoWidth": true },
                    {
                        "data": "requisition_date",
                        "name": "requisition_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }

        function LoadFabricRequisitionSlipApprovedData() {
            
            var dt = $("#DTFabricRequisitionApprovedSlip").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/AccessoriesRequisitionSlip/GetFinishingRequisitionSlipApprovedData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("requisition_slip_id", data.requisition_slip_id);

                },
                "columns": [

                    { "data": "requisition_slip_no", "name": "requisition_slip_no", "autoWidth": true },
                    {
                        "data": "requisition_date",
                        "name": "requisition_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }
    </script>
}





