@model EPYSLSAILORAPP.Domain.DTO.tran_embellish_receive_DTO

@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "Embellishment Receive Landing";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<style>

    #tab_precostinglanding.nav-tabs > li.active > a,
    #tab_precostinglanding.nav-tabs > li.active > a:hover,
    #tab_precostinglanding.nav-tabs > li.active > a:focus,
    #tab_precostinglanding.nav-tabs > li > a.active,
    #tab_precostinglanding.nav-tabs > li > a:hover,
    #tab_precostinglanding.nav-tabs > li > a:focus {
        color: #555;
        cursor: default;
        background-color: khaki;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

</style>

<div class="content-wrapper">
    <label style="display:none" class="col-sm-6 col-form-label-sm text-left" id="service_work_order_id1" style="font-size:12px;margin-bottom: 0; padding: 0;"></label>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Embellishment Receive Landing</h6>
                        </div>
                        @*  @await Component.InvokeAsync("DataFilterSCMwd") *@
                        <!-- /.card-header -->


                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" id="tab_bar_style">
                                    <ul id="tab_precostinglanding" class="nav nav-tabs">
                                        <li class="active" tab_index="1">
                                            <a href="#det1" style="text-decoration: unset;width: 170px;" class="active tab_link  " data-toggle="tab">PENDING LIST</a>
                                        </li>
                                        <li class="" tab_index="2">
                                            <a href="#det2" style="text-decoration: unset;width: 170px;" class=" tab_link  " data-toggle="tab">DRAFT LIST</a>
                                        </li>
                                        <li class="" tab_index="3">
                                            <a href="#det3" style="text-decoration: unset;width: 200px;" class=" tab_link  " data-toggle="tab">PROPOSED LIST</a>
                                        </li>
                                        <li class="" tab_index="4">
                                            <a href="#det4" style="text-decoration: unset;width: 170px;" class=" tab_link  " data-toggle="tab">APPROVED LIST</a>
                                        </li>

                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="det1" tabpane_index="1">
                                            <div class="card">

                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <table id="DTDeliveryReceivePendingList" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th style="width:200px;"><label class="labelNormal">Service Work Order No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal  ">Techpack No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Supplier Name</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Process Name</label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Action</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det2" tabpane_index="2">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table id="DTReceiveChallanDraftList" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th style="width:200px;"><label class="labelNormal">Embellish Receive No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Embellish Receive Date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Techpack No </label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Service Work Order No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Supplier Name</label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Status</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det3" tabpane_index="3">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table id="DTDeliveryChallanProposedList" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th style="width:200px;"><label class="labelNormal">Embellish Receive No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Embellish Receive Date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Techpack No </label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Service Work Order No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Supplier Name</label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Status</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det4" tabpane_index="4">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table id="DTDeliveryChallanApprovedList" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:200px;"><label class="labelNormal">Embellish Receive No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Embellish Receive Date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Techpack No </label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Service Work Order No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Supplier Name</label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Status</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 90% !important; max-width: 80% !important; ">
        <div class="modal-content" id="modalcontent_1" style="overflow-y: scroll;">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Embellishment Receive
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopupLanding();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/MCD/TranMcdReceive/_TranReckAdd.cshtml" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@section Scripts {
    <script>
        var listAttachments = [];
        var DeleteList = [];
        function closePopupLanding() {
            
            event.preventDefault();
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
            //location.reload();
        }

        function updateDefectpercentage(input) {
            var failQty = parseInt(input.parentElement.parentElement.cells[11].querySelector('.failQty').value);
            var recQty = input.parentElement.parentElement.cells[7].querySelector('.recQty').value;
            var defect = (failQty / recQty) * 100;
            input.parentElement.parentElement.cells[12].querySelector('.defect').value = defect;
        }

        function TranDeliveryReceiveAdd(btn) {
            
            var service_work_order_id = $(btn).attr("service_work_order_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/EmbellishmentReceive/TranDeliveryReceiveAdd?service_work_order_id=" + service_work_order_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });

            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function SaveEmbReceiveChallan(btn,isSubmit) {
           
            
            // if (!_cusFormValidate("frmAddReceive")) {
            //    return;
            // }

            details = []

            var WorkOrderId = $('#WorkOrderId').val();
            var techpackid = $('#techpack_id').val();
            var supplier_id = $('#supplier_id').val();
            var gen_process_master_id = $('#gen_process_master_id').val();
            var embellish_receive_date = $('#ReceiveDate').val();
            var challan_no_receive = $('#chalanNo').val();
            var challan_receive_date = $('#chalanDate').val();
            var note = $('#note').val();
            var totalQty = $('#totalQty').val();

            //var genProcessMasterId = $('#gen_process_master_id').val();

            $.each($("#DTBatchDetailReceive tbody tr"), function (key, val) {

                var obj = {
                    bundle_number: $(val).find(".bundle_number").val(),
                    color_code: $(val).find(".color_code").val(),
                    batch_no: $(val).find(".batch_no").val(),
                    garment_part_name: $(val).find(".garment_part_name").val(),
                    style_size: $(val).find(".style_size").val(),
                    bundle_quantity: $(val).find(".bundle_quantity").val(),
                    receive_quantity: $(val).find(".rec_quantity").val(),
                    physical_count: $(val).find(".physical_quantity").val(),
                    short_quantity: $(val).find(".short_quantity").val(),
                    repair_quantity: $(val).find(".repair_quantity").val(),
                    tran_cutting_color_batch_id: $(val).find(".batchIdhidden").val(),
                    tran_cutting_color_batch_garment_part_bundle_id: $(val).find(".bundleId").val(),
                    gen_garment_part_id: $(val).find(".partId").val()


                };
                details.push(obj);

            });

            var obj_emb_delivery_receive = {
                techpack_id: techpackid,
                service_work_order_id: WorkOrderId,
                supplier_id: supplier_id,
                gen_process_master_id: gen_process_master_id,
                embellish_receive_date: embellish_receive_date,
                challan_no_receive: challan_no_receive,
                challan_receive_date: challan_receive_date,
                note: note,
                total_qty: totalQty,
                is_submitted: isSubmit,
                total_no_bundle: $('#totalBundle').val(),
                details: details
            }

            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/EmbellishmentReceive/SaveEmbDeliveryReceive", obj_emb_delivery_receive, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadDeliveryChallanReceivePendingData();
                    LoadReceiveChallanDraftData();
                    LoadReceiveChallanApprovedData();
                    LoadReceiveChallanProposedData();

                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();
                        closePopup_details();
                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }


        function ViewEmbDeliveryChallanReceiveDetails(btn) {

            var embellish_receive_id = $(btn).attr("embellish_receive_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/EmbellishmentReceive/EmbDeliveryChallanReceiveDetails?embellish_receive_id=" + embellish_receive_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });
            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewEmbDeliveryChallanProposedDetails(btn) {

            var embellish_receive_id = $(btn).attr("embellish_receive_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/EmbellishmentReceive/EmbDeliveryChallanReceiveDetails?embellish_receive_id=" + embellish_receive_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });
            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewEmbDeliveryChallanReceiveApproveDetails(btn) {

            var embellish_receive_id = $(btn).attr("embellish_receive_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/EmbellishmentReceive/EmbDeliveryChallanReceiveDetails?embellish_receive_id=" + embellish_receive_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });
            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }


        function ProposedForApproval(btn) {

            var obj_Approval = {
                embellish_receive_id: $('#del_chalan_id').text(),
                is_submitted: 1


            }
            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/EmbellishmentReceive/ProposedForApprovalOrApprove", obj_Approval, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadDeliveryChallanReceivePendingData();
                    LoadReceiveChallanDraftData();
                    LoadReceiveChallanProposedData();
                    LoadReceiveChallanApprovedData();

                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopupLanding();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }

        function ApprovedDetailDeliveryChalan(btn) {

            var obj_Approval = {
                embellish_receive_id: $('#del_chalan_id').text(),
                is_submitted: 2


            }
            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/EmbellishmentReceive/ProposedForApprovalOrApprove", obj_Approval, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadDeliveryChallanReceivePendingData();
                    LoadReceiveChallanDraftData();
                    LoadReceiveChallanProposedData();
                    LoadReceiveChallanApprovedData();

                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopupLanding();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }


        $(function () {
            // LoadTranPODropDownByClass();

            LoadDeliveryChallanReceivePendingData();
            LoadReceiveChallanDraftData();
            LoadReceiveChallanApprovedData();
            LoadReceiveChallanProposedData();
            activeChange();

        });

        function activeChange() {
            $('#tab_precostinglanding.nav-tabs > li').click(function () {
                // Remove active class from all tabs
                $('#tab_precostinglanding.nav-tabs > li').removeClass('active');
                // Add active class to the clicked tab
                $(this).addClass('active');
                // Remove active class from all tab links
                $('#tab_precostinglanding.nav-tabs > li > a').removeClass('active');
                // Add active class to the clicked tab link
                $(this).find('a').addClass('active');
                // Remove active class from all tab contents
                $('.tab-content > .tab-pane').removeClass('active');
                // Add active class to the corresponding tab content
                var tabContentId = $(this).find('a').attr('href');
                $(tabContentId).addClass('active');
            });
        }

        $("#btnLoadData").click(function () {
            if ($("#fiscal_year_id").val() == '') {
                $("#fiscal_year_id").focus();
                $("#fiscal_year_id").css("border", "1px solid red");
            }
            else if ($("#event_id").val() == '') {
                $("#event_id").focus();
                $("#event_id").parent().find(".select2-selection--single").css("border", "1px solid red");

            }
            else {

                $("#fiscal_year_id").css("border", "");
                $("#event_id").parent().find(".select2-selection--single").css("border", "");

            }

        });


        function LoadDeliveryChallanReceivePendingData() {
            
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#supplier_id").val()


            };
            var dt = $("#DTDeliveryReceivePendingList").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/EmbellishmentReceive/GetEmbellishmentReceivePendingData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("receive_no", data.receive_no);

                },
                "columns": [

                    { "data": "service_work_order_no", "name": "service_work_order_no", "autoWidth": true },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "process_name", "name": "process_name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }

        function LoadReceiveChallanDraftData() {
            
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#supplier_id").val()


            };
            var dt = $("#DTReceiveChallanDraftList").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/EmbellishmentReceive/GetReceiveChallanDraftData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("embellish_receive_no", data.embellish_receive_no);

                },
                "columns": [

                    { "data": "embellish_receive_no", "name": "embellish_receive_no", "autoWidth": true },
                    {
                        "data": "embellish_receive_date",
                        "name": "embellish_receive_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "service_work_order_no", "name": "service_work_order_no", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }

        function LoadReceiveChallanProposedData() {
            
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#supplier_id").val()


            };
            var dt = $("#DTDeliveryChallanProposedList").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/EmbellishmentReceive/GetReceiveChallanProposedData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("embellish_receive_no", data.embellish_receive_no);

                },
                "columns": [

                    { "data": "embellish_receive_no", "name": "embellish_receive_no", "autoWidth": true },
                    {
                        "data": "embellish_receive_date",
                        "name": "embellish_receive_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "service_work_order_no", "name": "service_work_order_no", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }


        function LoadReceiveChallanApprovedData() {
            
            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                supplier_id: $("#supplier_id").val()


            };
            var dt = $("#DTDeliveryChallanApprovedList").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/EmbellishmentReceive/GetReceiveChallanApprovedData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("embellish_receive_no", data.embellish_receive_no);

                },
                "columns": [

                    { "data": "embellish_receive_no", "name": "embellish_receive_no", "autoWidth": true },
                    {
                        "data": "embellish_receive_date",
                        "name": "embellish_receive_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "service_work_order_no", "name": "service_work_order_no", "autoWidth": true },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }


    </script>
}





