@using Newtonsoft.Json;

@{
    ViewBag.Title = "Range Plan";
    Layout = null;

}

<input type="hidden" id="hdembellishment_id" value="@ViewBag.embellishment_id" />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Embellishment :</label>


        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" value="@ViewBag.embellishment" class="border-gray-200 rounded-sm text-sm " disabled />

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Con/Pc (Kg/Yrd)</label>


        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input style="width:100%" type="number" class="border-gray-200 rounded-sm text-sm " />

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Total Req (Kg/Yrd)</label>


        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input style="width:100%" type="number" class="border-gray-200 rounded-sm text-sm " />

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Price (Kg/Yrd)</label>


        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input style="width:100%" type="number" class="border-gray-200 rounded-sm text-sm " />

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Cost/Pc</label>


        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input style="width:100%" type="number" class="border-gray-200 rounded-sm text-sm " />

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="btnSave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save  </button>

    </div>

</div>





