@model EPYSLSAILORAPP.Domain.DTO.tran_va_plan_DTO;
@{
    ViewBag.Title = "Range Plan";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}
<script type="text/javascript">
    localStorage.setItem("pageName", "ViewBag.PageName");
    localStorage.setItem("menuId", "ViewBag.MenuId");
</script>
@* <script src="~/scripts/PlanningAndAllocationning/PlanningAndAllocationNew.js" asp-append-version="true"></script>
 *@
<style>
    .rightalign {
        text-align: right;
    }

    .leftalign {
        text-align: left;
    }

    .centeralign {
        text-align: center;
    }

    .dataTables_wrapper {
        margin-top: -40px;
    }
</style>
<div class="content">

    <!-- Start::main-content -->
    <div class="main-content">
        <div id="pageId">
            <input type="hidden" id="hd_PlanningAndAllocationid" value="@Model.tran_va_plan_id" />
            <input type="hidden" asp-for="tran_range_plan_id" />

            <div class="row" id="divTblId">
                <div class="col-span-12">
                    <div id="toolbarId" class="master-toolbar">
                        <div class="box">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Fiscal Year</label>

                                        @await Component.InvokeAsync("GenericDropdownList", new
                                        {
                                        ddlId = "fiscal_year_id",
                                        strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.fiscal_year_list)),
                                        selectedvalue = ViewBag.fiscal_year_id,
                                        cssclass = "form-control",
                                        enable = false,
                                        isRequired = true,
                                        placeholder = "Select Fiscal Year"
                                        })
                                    </div>
                                </div>
                                @*   <div class="col-md-4">

                                <button style="margin-top:30px;" type="button" class="btn btn-primary" id="btnNewPlanningAndAllocation"><i class="fa fa-plus"></i>&nbsp;New Business Plan</button>

                                </div> *@

                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row" style="background-color: antiquewhite;padding-top: 5px;">
                            <div class="col-md-3">
                                <div class="form-group" style="    text-align: right;">
                                    <label class="labelNormal " style="margin-bottom: 2px!important;font-weight:bold;">Total Business Plan</label>
                                    <input id="txtTotalBusinessPlan" style="width: 80%;height: 30px;margin-bottom: 7px!important;" disabled type="number" class="border-gray-200 rounded-sm gridhdr">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" style="    text-align: right;">
                                    <label class="labelNormal " style="margin-bottom: 2px!important;font-weight:bold;">Total Range Quantity</label>
                                    <input id="txtTotalRangeQuantity" style="width: 80%;height: 30px;margin-bottom: 7px!important;" disabled type="number" class="border-gray-200 rounded-sm gridhdr">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="    text-align: right;">
                                    <label class="labelNormal " style="margin-bottom: 2px!important;font-weight:bold;">Total MRP Value</label>
                                    <input id="txtTotalPlanningAndAllocationMRPValue" style="width: 80%;height: 30px;margin-bottom: 7px!important;" disabled type="number" class="border-gray-200 rounded-sm gridhdr">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="    text-align: right;">
                                    <label class="labelNormal " style="margin-bottom: 2px!important;font-weight:bold;">Total CPU Value</label>
                                    <input id="txtTotalPlanningAndAllocationCPUValue" style="width: 80%;height: 30px;margin-bottom: 7px!important;" disabled type="number" class="border-gray-200 rounded-sm gridhdr">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <table id="DTTranPlanningAndAllocation" class="table dataTable table-striped table-bordered" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th><label class="  ">SL</label></th>
                                        <th><label class="labelNormal  ">Event</label></th>
                                        <th style="text-align:right"><label class="labelNormal ">Event Sales Plan(Tk)</label></th>
                                        <th style="text-align:center"><label class="labelNormal ">Total Range Plan Qnty</label></th>
                                        <th style="text-align:center"><label class="labelNormal ">Value Added Product</label></th>
                                        <th style="text-align:center;"><label class="labelNormal ">Status</label></th>
                                        <th style="width:390px;text-align:center">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="row">
                            <label class="labelNormal" style="margin-bottom: 10px!important">Remarks</label>
                            <div class="col-md-12">
                                <input style="width:100%;" type="text" asp-for="@Model.remarks" class="border-gray-200 rounded-sm text-sm">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom: 50px;">

                                <button style="width:150px;" type="button" class="btn btn-secondary  " id="btnBack"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;&nbsp;Back</button>


                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="modalcontainer_common" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width: 90% !important; max-width: 90% !important; ">
        <div class="modal-content">
            <div class="modal-header" style="padding:10px;padding:10px;background-color: #318db6;color: white;">
                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h2 id="modalTitle" class="modal-title" style="line-height: 2.5;">Range Plan Details</h2>
                    </div>
                    <div class="col-md-6" style="text-align:right;">


                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 10px; padding-top: 10px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent-common">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/scripts/businessplanning/rangeplan.js"></script>

    <script>
        var dtevent;

     
        function closePopup() {
            $('#modalcontent-common').html("");

            $('#modalcontainer_common').modal("hide");
        }
        function jsdatatableloaded() {

            var total_mrp = 0; var total_cpu = 0; var total_qnty = 0;

            for (var index = 0; index < dtevent.rows().data().length; index++) {
                total_mrp += (dtevent.rows().data()[index].total_mrp_value != null ? parseFloat(dtevent.rows().data()[index].total_mrp_value) : 0);
                total_cpu += (dtevent.rows().data()[index].total_cpu_value != null ? parseFloat(dtevent.rows().data()[index].total_cpu_value) : 0);
                total_qnty += (dtevent.rows().data()[index].total_range_plan_quantity != null ? parseInt(dtevent.rows().data()[index].total_range_plan_quantity) : 0);
            }

            $("#txtTotalPlanningAndAllocationMRPValue").val(total_mrp);
            $("#txtTotalPlanningAndAllocationCPUValue").val(total_cpu);
            $("#txtTotalRangeQuantity").val(total_qnty);
            $("#txtTotalBusinessPlan").val(dtevent.rows().data()[0].yearly_gross_sales);
            //yearly_gross_sales
        }

    
        function LoadPlanDetailsData() {

            var input = {
                fiscal_year_id: $("#popup_fiscal_year_id").val(),
                event_id: $("#popup_event_id").val(),

                style_gender_id: $("#style_gender_id").val(),
                style_item_origin_id: $("#style_item_origin_id").val(),
                style_item_type_id: $("#style_item_type_id").val(),
                style_product_type_id: $("#style_product_type_id").val(),
                style_master_category_id: $("#style_master_category_id").val(),

                filter_option: $("#ddlFilterOption").val()
            };

            dt_source = $("#modalcontent-common #DTTranRangePlan").DataTable({
                "ajax": $.fn.dataTable.json({ url: "/RangePlan/GetTranRangePlanYearDataView", data: input }),
               
                "bLengthChange": false,
                "bPaginate": false,
                "bInfo": false,
                "bFilter": false,
                //scrollX: true,
                scrollCollapse: true,
                //scrollY: '200px',
                responsive: true,
                "jQueryUI": true,
                columnDefs: [
                    // { targets: 0, "visible": true, "sortable": true },
                    { targets: 0, "visible": true, "sortable": false },
                    { targets: 1, "visible": true, "sortable": false },
                    { targets: 2, "visible": true, "sortable": false },
                    { targets: 3, "visible": true, "sortable": false },

                ],
                
                // tran_va_plan_id: dt_source.rows().data()[0].tran_va_plan_id,
                // tran_range_plan_event_id: dt_source.rows().data()[0].tran_range_plan_event_id,
                createdRow: function (row, data, dataIndex) {//
                    $(row).attr('style_item_product_id', data.style_item_product_id);
                    $(row).attr('range_plan_detail_id', data.range_plan_detail_id);

                    $(row).attr('tran_va_plan_event_id', data.tran_va_plan_event_id);
                    $(row).attr('tran_range_plan_event_id', data.tran_range_plan_event_id);
                    $(row).attr('range_plan_detail_id', data.range_plan_detail_id);
                },
                "drawCallback": function (settings) {

                    jsdatatableloadedpoup();

                },
                "columns": [ //
                    // {
                    //     className: 'dt-control',
                    //     orderable: false,
                    //     data: null,
                    //     defaultContent: ''
                    // },
                    { "data": "row_index", "name": "row_index", "autoWidth": true },
                    { "data": "product_details", "name": "product_details", "autoWidth": true },
                    { "data": "style_item_product_name", "name": "style_item_product_name", "autoWidth": true },

                    { "data": "strtxtRangePlanQnty", "name": "strtxtRangePlanQnty", "autoWidth": true },

                    { "data": "strBtnSize", "name": "strBtnSize", "autoWidth": true },

                    { "data": "strtxtPerPcMRPVal", "name": "strtxtPerPcMRPVal", "autoWidth": true },
                    { "data": "strtxtMRPVal", "name": "strtxtMRPVal", "autoWidth": true },
                    { "data": "strtxtPerPcCPUVal", "name": "strtxtPerPcCPUVal", "autoWidth": true },
                    { "data": "strtxtCPUVal", "name": "strtxtCPUVal", "autoWidth": true },
                    { "data": "strPriorityDropDownHTML", "name": "strPriorityDropDownHTML", "autoWidth": true },


                ]
            });
        }
        function jsdatatableloadedpoup() {
            for (var index = 0; index < dt_source.rows().data().length; index++) {
                var obj = {
                    range_plan_id: dt_source.rows().data()[index].range_plan_id,
                    range_plan_detail_id: dt_source.rows().data()[index].range_plan_detail_id,
                    style_item_product_id: dt_source.rows().data()[index].style_item_product_id,

                    range_plan_quantity: dt_source.rows().data()[index].range_plan_quantity,
                    mrp_per_pc_value: dt_source.rows().data()[index].mrp_per_pc_value,
                    mrp_value: dt_source.rows().data()[index].mrp_value,
                    cpu_per_pc_value: dt_source.rows().data()[index].cpu_per_pc_value,
                    cpu_value: dt_source.rows().data()[index].cpu_value,
                    priority_id: dt_source.rows().data()[index].priority_id,
                    style_product_type_id: dt_source.rows().data()[index].style_product_type_id,
                    tran_bp_year_id: dt_source.rows().data()[index].tran_bp_year_id,
                    tran_bp_event_id: dt_source.rows().data()[index].tran_bp_event_id,

                    size_list: JSON.parse(dt_source.rows().data()[index].strStyleSizes)

                };

                if (dt_source.rows().data()[0].total_rangeplan_mrp_value > 0)
                    total_rangeplan_mrp_value = dt_source.rows().data()[0].total_rangeplan_mrp_value;

                if (dt_source.rows().data()[0].total_rangeplan_cpu_value > 0)
                    total_rangeplan_cpu_value = dt_source.rows().data()[0].total_rangeplan_cpu_value;

                if (dt_source.rows().data()[0].total_rangeplan_quantity > 0)
                    total_rangeplan_quantity = dt_source.rows().data()[0].total_rangeplan_quantity;

                if (dt_source.rows().data()[0].bp_yearly_gross_sales > 0)
                    bp_yearly_gross_sales = dt_source.rows().data()[0].bp_yearly_gross_sales;

                if (dt_source.rows().data()[0].event_gross_sales > 0)
                    bp_event_gross_sales = dt_source.rows().data()[0].event_gross_sales;


                obj_detailList.push(obj);
            }


            $("#modalcontent-common #txtTotalBusinessPlan").val(bp_yearly_gross_sales);
            $("#modalcontent-common #txtTotalEventPlan").val(bp_event_gross_sales);
            $("#modalcontent-common #txtTotalRangePlanMRPValue").val(total_rangeplan_mrp_value);
            $("#modalcontent-common #txtTotalRangePlanCPUValue").val(total_rangeplan_cpu_value);
            $("#modalcontent-common #txtTotalRangeQuantity").val(total_rangeplan_quantity);

            // $("#modalcontent-common #remarks").val(dt_source.rows().data()[0].remarks);
            $("#modalcontent-common #txtTotalAddedQntity").val(dt_source.rows().data()[0].totaladded);
            $("#modalcontent-common #txtTotalNotAddedQntity").val(dt_source.rows().data()[0].totalnotadded);


            $("[type='number']").keypress(function (evt) {
                evt.preventDefault();
            });
            $("#modalcontent-common #DTTranRangePlan ").find("input").attr("disabled", "disabled");
            $("#modalcontent-common #DTTranRangePlan ").find("select").attr("disabled", "disabled");
        }
        function LoadPlanningAndAllocationDetails(btn) {
            try {
                setTimeout(function () {
                    showLoader("Loading..........");
                }, 0);
                ajaxGetHandler("/RangePlan/RangePlanViewPopup?fiscal_year_id=" + $(btn).attr("fiscal_year_id") + "&eventid=" + $(btn).attr("eventid") + "&range_plan_id=" + $(btn).attr("range_plan_id"), null, function (data) {
                    hideLoader();

                    obj_detailList = [];
                    total_PlanningAndAllocation_mrp_value = 0;
                    total_PlanningAndAllocation_cpu_value = 0;
                    total_PlanningAndAllocation_quantity = 0;
                    bp_yearly_gross_sales = 0;
                    bp_event_gross_sales = 0;
                    $('#modalcontent-common').html(data);
                    $('#modalcontainer_common').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer_common').modal("show");

                    LoadPlanDetailsData();

                    $('#modalcontent-common #btnCancel').click(function () {

                        $('#modalcontent-common').html("");

                        $('#modalcontainer_common').modal("hide");
                    });

                }, true);


            } catch (e) {
                 hideLoader();
            }
        }

        function LoadRangePlanDetails(btn) {
            try {
                setTimeout(function () {
                    showLoader("Loading..........");
                }, 0);
                ajaxGetHandler("/RangePlan/RangePlanViewPopup?fiscal_year_id=" + $(btn).attr("fiscal_year_id") + "&eventid=" + $(btn).attr("eventid") + "&range_plan_id=" + $(btn).attr("range_plan_id"), null, function (data) {

                    hideLoader();
                    obj_detailList = [];
                    total_PlanningAndAllocation_mrp_value = 0;
                    total_PlanningAndAllocation_cpu_value = 0;
                    total_PlanningAndAllocation_quantity = 0;
                    bp_yearly_gross_sales = 0;
                    bp_event_gross_sales = 0;
                    $('#modalcontent-common').html(data);
                    $('#modalcontainer_common').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer_common').modal("show");

                    LoadPlanDetailsData();

                    $('#modalcontent-common #btnCancel').click(function () {

                        $('#modalcontent-common').html("");

                        $('#modalcontainer_common').modal("hide");
                    });

                }, true);


            } catch (e) {
                 hideLoader();
            }
        }
       
        function LoadPlanData() {

            var input = {
                fiscal_year_id: $("#fiscal_year_id").val()
            };

            dtevent = $("#DTTranPlanningAndAllocation").DataTable({
                "ajax": $.fn.dataTable.json({ url: "/PlanningAndAllocation/GetPlanningAndAllocationEventData", data: input }),
               
                "bLengthChange": false,
                "bPaginate": false,
                "bInfo": false,
                columnDefs: [ //strIsFinalized
                    // { targets: 0, "visible": true, "sortable": true },
                    { targets: 0, "visible": true, "sortable": false },
                    { targets: 1, "visible": true, "sortable": false },
                    { targets: 2, "visible": true, "sortable": false },
                    { targets: 3, "visible": true, "sortable": false },
                    { targets: 4, "visible": true, "sortable": false },
                    { targets: 5, "visible": true, "sortable": false },
                    { targets: 6, "visible": true, "sortable": false },
                 
                  
                ],
                "rowCallback": function (row, data) {
                    $('td:eq(0)', row).css('text-align', "center");
                    $('td:eq(1)', row).css('text-align', "left");
                    $('td:eq(2)', row).css('text-align', "right");
                    $('td:eq(3)', row).css('text-align', "right");
                    $('td:eq(4)', row).css('text-align', "center");
                    $('td:eq(5)', row).css('text-align', "center");
                    $('td:eq(6)', row).css('text-align', "center");
                },
                "columns": [
                    { "data": "row_index", "name": "row_index", "autoWidth": true, },
                    { "data": "event_title", "name": "event_title", "autoWidth": true },
                    { "data": "event_gross_sales", "name": "event_gross_sales", "autoWidth": true },
                  
                    { "data": "total_range_plan_quantity", "name": "total_range_plan_quantity", "autoWidth": true },
                    { "data": "added_product", "name": "added_product", "autoWidth": true },
                    { "data": "strIsFinalized", "name": "strIsFinalized", "autoWidth": true },
                    { "data": "strBtns", "name": "strBtns", "autoWidth": true },
                ]
            });
        }
        $(function () {


            LoadPlanData();

            $("#fiscal_year_id").change(function () {

                LoadPlanData();

            });


            $("#btnBack").click(function () {

                document.location = "/PlanningAndAllocation/PlanningAndAllocationLanding";

            });


            $("#btnSubmitPlanningAndAllocation").click(function () {

                var request = {
                    range_plan_id: parseInt($("#hd_PlanningAndAllocationid").val()),
                    tran_bp_year_id: parseInt($("#tran_bp_year_id").val()),
                    remarks: $("#remarks").val(),
                    is_submitted: true,
                    is_approved:false,


                };

                ajaxPostObjectHandler("/PlanningAndAllocation/UpdatePlanningAndAllocation", request, function (response) {

                    if (response.status_Code == "200") {

                        showSuccessAlertAutoClose("Success", response.status_Result, "OK", function () {
                            document.location = "/PlanningAndAllocation/PlanningAndAllocationLanding";
                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true);

            });

        });
    </script>

 }