@model EPYSLSAILORAPP.Domain.DTO.tran_va_plan_DTO;
@{
    ViewBag.Title = "Style Breakdown";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}
<style>
    #toolbarId select {
        font-size: 11px !important;
    }


    .dataTables_wrapper {
        margin-top: -40px;
    }

</style>

<div class="content-wrapper">

    <section class="content">
        <input id="hd_range_plan_id" type="hidden" value="@Model.tran_range_plan_id" />
        <input id="hd_va_plan_id" type="hidden" value="@Model.tran_va_plan_id" />
        <input id="hd_encoded_fiscal_year" type="hidden" value="@ViewBag.encoded_fiscal_year" />

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Style Breakdown</h3>
                        </div>
                        <!-- /.card-header -->
                        @await Component.InvokeAsync("DataFilter")
                        <!-- /.card-body -->
                    </div>


                </div>
                <!-- /.col -->
            </div>

            <div>
                <div>
                    <div class="row">
                        <div class="col-md-12" id="tab_bar_style">
                            <ul id="tab_precosting" class="nav nav-tabs">
                                <li class="active" tab_index="1">
                                    <a href="#det1" style="text-decoration: unset;" class="active tab_link  " data-toggle="tab">Pending List</a>
                                </li>
                                <li class="" tab_index="2">
                                    <a href="#det2" style="text-decoration: unset;" class=" tab_link  " data-toggle="tab">Approved List</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="det1" tabpane_index="1">
                                    <table style="font-size:12px;" id="DTTranPlanningAndAllocation" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                        <thead style="text-align:center">
                                            <tr>

                                                <th><label class="labelNormal">SL</label></th>
                                                <th style="width:300px;"><label class="labelNormal">Product Details</label></th>
                                                <th style="width:200px;"><label class="labelNormal  ">Product</label></th>
                                                <th><label class="labelNormal ">Style Number</label></th>
                                                <th><label class="labelNormal ">Style QTY</label></th>
                                                <th><label class="labelNormal ">Trading Type</label></th>
                                                <th style="width:100px;"><label class="labelNormal ">Action</label></th>

                                            </tr>
                                        </thead>
                                    </table>

                                </div>
                                <div class="tab-pane " id="det2" tabpane_index="2">
                                    <table style="font-size:12px;" id="DTTranPlanningAndAllocation_Approved" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                        <thead style="text-align:center">
                                            <tr>

                                                <th><label class="labelNormal">SL</label></th>
                                                <th style="width:300px;"><label class="labelNormal">Product Details</label></th>
                                                <th style="width:200px;"><label class="labelNormal  ">Product</label></th>
                                                <th><label class="labelNormal ">Style Number</label></th>
                                                <th><label class="labelNormal ">Style QTY</label></th>
                                                <th><label class="labelNormal ">Trading Type</label></th>
                                                <th style="width:100px;"><label class="labelNormal ">Action</label></th>

                                            </tr>
                                        </thead>
                                    </table>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>
<div class="content">

    <!-- Start::main-content -->
    <div class="main-content">
        <div id="pageId">
            <div class="row" id="divTblId">

                <div class="col-span-12">
                    <div id="toolbarId" class="master-toolbar" style="font-size: 13px;">
                        <div class="box" style="margin-top: 10px;background-color: aliceblue;">
                        </div>
                    </div>
                    <div class="box">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div id="modalcontainer_common" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width: 80% !important; max-width: 80% !important; ">
        <div class="modal-content">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Style Setup
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">


                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 10px; padding-top: 10px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent-common">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @* <script src="~/scripts/businessplanning/PlanningAndAllocation.js" asp-append-version="true"></script> *@
    <script>
        var dt_source;
        var dt_approved;
        var obj_detailList = [];
        var all_styles = [];
        var total_PlanningAndAllocation_mrp_value = 0;
        var total_PlanningAndAllocation_cpu_value = 0;
        var total_PlanningAndAllocation_quantity = 0;
        var bp_yearly_gross_sales = 0;
        var bp_event_gross_sales = 0;
        var tran_va_plan_id = 0;
        var tran_va_plan_event_id = 0;

        function jsdatatableloaded() {
            if (dt_source.rows().data().length > 0) {
                $("#txtTotalBusinessPlan").val(dt_source.rows().data()[0].bp_yearly_gross_sales);
                $("#txtTotalEventPlan").val(dt_source.rows().data()[0].event_gross_sales);
                $("#txtTotalRangeQuantity").val(dt_source.rows().data()[0].total_rangeplan_quantity);

                $("#txtTotalAddedQntity").val(dt_source.rows().data()[0].totaladded);
                $("#txtTotalNotAddedQntity").val(dt_source.rows().data()[0].totalnotadded);
            }
        }

        function LoadPlanData() {

            var dt_search = {

                filterId: '#DTTranPlanningAndAllocation_filter input[type=search]',
                tableId: "#DTTranPlanningAndAllocation"

            };

            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                range_plan_id: $("#hd_range_plan_id").val(),

                style_gender_id: $("#style_gender_id").val(),
                style_item_origin_id: $("#style_item_origin_id").val(),
                style_item_type_id: $("#style_item_type_id").val(),
                style_product_type_id: $("#style_product_type_id").val(),
                style_master_category_id: $("#style_master_category_id").val(),

                filter_option: 0
            };

            dt_source = $(dt_search.tableId).DataTable({
                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By Product Details',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },
                
                search: {
                    return: true
                },
                "ajax": $.fn.dataTable.json({ url: "/PlanningAndAllocation/GetTranPlanningAndAllocationYearApprovalData", data: input }),

                // "bLengthChange": false,
                // "bPaginate": false,
                // "bInfo": false,
                //scrollX: true,
                scrollCollapse: true,
                //scrollY: '200px',
                responsive: true,
                "jQueryUI": true,
                columnDefs: [
                    // { targets: 0, "visible": true, "sortable": true },
                    { targets: 0, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 5, "visible": true, "sortable": false, "className": "text-center" },

                ],
                createdRow: function (row, data, dataIndex) {

                    if (data.tran_va_plan_event_id != null)
                        tran_va_plan_event_id = data.tran_va_plan_event_id;

                    if (data.tran_va_plan_id != null && data.tran_va_plan_id != "0")
                        tran_va_plan_id = data.tran_va_plan_id;

                    $(row).attr('row_index', dataIndex);
                    $(row).attr('range_plan_id', data.range_plan_id);
                    $(row).attr('range_plan_quantity', data.range_plan_quantity);
                    $(row).attr('tran_va_plan_detl_id', data.tran_va_plan_detl_id);
                    $(row).attr('tran_va_plan_id', data.tran_va_plan_id);
                    $(row).attr('tran_va_plan_event_id', data.tran_va_plan_event_id);

                    // if (data.tran_va_plan_detl_id != null) {
                    //     $(row).find("td").css("background-color", "palegoldenrod");
                    // }

                },
                "columns": [ //,strBtnSizev
                    { "data": "row_index", "name": "row_index", "autoWidth": true },
                    { "data": "product_details", "name": "product_details", "autoWidth": true },
                    { "data": "style_item_product_name", "name": "style_item_product_name", "autoWidth": true },
                    { "data": "style_code", "name": "style_code", "autoWidth": true },
                    { "data": "style_quantity", "name": "style_quantity", "autoWidth": true },
                    { "data": "trading_type_name", "name": "trading_type_name", "autoWidth": true },
                    { "data": "strApprovalBtnStyleSetup", "name": "strApprovalBtnStyleSetup", "autoWidth": true },
                ],
                
            });
        }

        function LoadPlanApprovedData() {

            var dt_search = {

                filterId: '#DTTranPlanningAndAllocation_Approved_filter input[type=search]',
                tableId: "#DTTranPlanningAndAllocation_Approved"

            };

            var input = {
                fiscal_year_id: $("#fiscal_year_id").val(),
                event_id: $("#event_id").val(),
                range_plan_id: $("#hd_range_plan_id").val(),

                style_gender_id: $("#style_gender_id").val(),
                style_item_origin_id: $("#style_item_origin_id").val(),
                style_item_type_id: $("#style_item_type_id").val(),
                style_product_type_id: $("#style_product_type_id").val(),
                style_master_category_id: $("#style_master_category_id").val(),

                filter_option: 1
            };

            dt_approved = $(dt_search.tableId).DataTable({

                layout: {

                    top2End: {
                        search: {
                            placeholder: 'Search By Product Details',

                        },

                        buttons: [
                            {
                                text: 'Clear Search',
                                className: 'btn btn-custom',
                                action: function (e, dt, node, config) {

                                    $(dt_search.filterId).val('');
                                    $(dt_search.tableId).DataTable().search('').draw();
                                }
                            }
                        ]
                    },


                    topEnd: null,

                },

                
                search: {
                    return: true
                },
                "ajax": $.fn.dataTable.json({ url: "/PlanningAndAllocation/GetTranPlanningAndAllocationYearApprovalData", data: input }),

                // "bLengthChange": false,
                // "bPaginate": false,
                // "bInfo": false,
                //scrollX: true,
                scrollCollapse: true,
                //scrollY: '200px',
                responsive: true,
                "jQueryUI": true,
                columnDefs: [
                    // { targets: 0, "visible": true, "sortable": true },
                    { targets: 0, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 2, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 3, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 4, "visible": true, "sortable": false, "className": "text-center" },
                    { targets: 5, "visible": true, "sortable": false, "className": "text-center" },

                ],
                createdRow: function (row, data, dataIndex) {//

                    if (data.tran_va_plan_event_id != null)
                        tran_va_plan_event_id = data.tran_va_plan_event_id;

                    if (data.tran_va_plan_id != null && data.tran_va_plan_id != "0")
                        tran_va_plan_id = data.tran_va_plan_id;

                    $(row).attr('row_index', dataIndex);
                    $(row).attr('range_plan_id', data.range_plan_id);
                    $(row).attr('range_plan_quantity', data.range_plan_quantity);
                    $(row).attr('tran_va_plan_detl_id', data.tran_va_plan_detl_id);
                    $(row).attr('tran_va_plan_id', data.tran_va_plan_id);
                    $(row).attr('tran_va_plan_event_id', data.tran_va_plan_event_id);

                    // if (data.tran_va_plan_detl_id != null) {
                    //     $(row).find("td").css("background-color", "palegoldenrod");
                    // }

                },
                "columns": [ //,strBtnSizev
                    { "data": "row_index", "name": "row_index", "autoWidth": true },
                    { "data": "product_details", "name": "product_details", "autoWidth": true },
                    { "data": "style_item_product_name", "name": "style_item_product_name", "autoWidth": true },
                    { "data": "style_code", "name": "style_code", "autoWidth": true },
                    { "data": "style_quantity", "name": "style_quantity", "autoWidth": true },
                    { "data": "trading_type_name", "name": "trading_type_name", "autoWidth": true },
                    { "data": "strViewBtnStyleSetup", "name": "strViewBtnStyleSetup", "autoWidth": true },
                ],
                
            });
        }

        function BtnStyleClickView(btn) {


            var style_code = $(btn).parent().parent().find(".txt_style_code_gen").val();
            var no_of_style = $(btn).parent().parent().find(".ddlNoOfStyle").val();

            if (no_of_style == "0") {
                showErrorAlert("Alert", "Select Number of Style First", "OK", function () {

                    $(btn).parent().parent().find(".ddlNoOfStyle").focus();

                });
                return;
            }

            var style_product = $(btn).parent().parent().find("td:eq(2)").text();
            var range_plan_qnty = $(btn).parent().parent().find("td:eq(3)").text();

            var objStyle = {
                row_index: $(btn).parent().parent().attr("row_index"),

                no_of_style: $(btn).parent().parent().find(".ddlNoOfStyle").val(),
                style_code_gen: $(btn).parent().parent().find(".txt_style_code_gen").val(),
                style_item_product_id: $(btn).attr("style_item_product_id"),
                range_plan_qnty: $(btn).parent().parent().find("td:eq(3)").text(),
                style_product: $(btn).parent().parent().find("td:eq(2)").text(),

                range_plan_detail_id: dt_approved.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].range_plan_detail_id,
                range_plan_id: dt_approved.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].range_plan_id,
                tran_range_plan_event_id: dt_approved.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_range_plan_event_id,

                tran_va_plan_id: dt_approved.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_va_plan_id,
                tran_va_plan_detl_id: dt_approved.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_va_plan_detl_id,
                tran_va_plan_event_id: dt_approved.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_va_plan_event_id,
                is_view: 1,
                str_style_size: dt_approved.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].strjsonSizeList
            }

            try {
                setTimeout(function () {
                    showLoader("Loading..........");
                }, 0);
                //  ajaxGetHandler("/PlanningAndAllocation/StyleSetupNew?range_plan_qnty=" + range_plan_qnty + "&style_product=" + style_product + "&style_code=" + style_code + "&no_of_style=" + no_of_style + "&product_id=" + $(btn).attr("style_item_product_id"), null, function (data) {
                ajaxGetHandler("/PlanningAndAllocation/StyleSetupEdit?input=" + JSON.stringify(objStyle), null, function (data) {
                    hideLoader();
                    $('#modalcontent-common').html(data);
                    $('#modalcontainer_common').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer_common').modal("show");

                    var otherstyles = all_styles.
                        filter(p => p.tran_va_plan_detl_style_id != $("#ddl_s2embellishment").val());

                    var added_style_count = otherstyles.reduce(function (sum, obj) {
                        return sum + obj.style_quantity;
                    }, 0);

                    $("#txtAddedStyleQnty").val(added_style_count);
                    $("#txtRemainingStyleQnty").val(parseInt($("#txtRangePlanQnty").val()) - added_style_count);


                    $($(".dtcolorcodestyle")[0]).find("input[type=number]:eq(0)").trigger("change");

                    MakePopupReadOnly("modalcontent-common", "btnModalClose");

                    $("#modalcontent-common #ddlstyle").removeAttr("disabled");


                }, true);


            } catch (e) {
                hideLoader();
            }

        }

        function BtnStyleClickApprove(btn,isview) {

            var dt = dt_source;

            if ($(btn).closest(".dataTable").attr("id") == "DTTranPlanningAndAllocation_Approved") { 
                dt = dt_approved;
            }
            

            var style_code = $(btn).parent().parent().find(".txt_style_code_gen").val();
            var no_of_style = $(btn).parent().parent().find(".ddlNoOfStyle").val();

            if (no_of_style == "0") {
                showErrorAlert("Alert", "Select Number of Style First", "OK", function () {

                    $(btn).parent().parent().find(".ddlNoOfStyle").focus();

                });
                return;
            }

            var objStyle = {
                row_index: $(btn).parent().parent().attr("row_index"),
                tran_va_plan_detl_style_id: $(btn).attr("tran_va_plan_detl_style_id"),
                no_of_style: $(btn).parent().parent().find(".ddlNoOfStyle").val(),
                //style_code_gen: $(btn).parent().parent().find(".txt_style_code_gen").val(),
                style_item_product_id: $(btn).attr("style_item_product_id"),
                style_code_gen: $(btn).parent().parent().find("td:eq(3)").text(),
                style_product: $(btn).parent().parent().find("td:eq(2)").text(),

                //range_plan_detail_id: dt.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].range_plan_detail_id,
               // range_plan_id: dt.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].range_plan_id,
                tran_range_plan_event_id: dt.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_range_plan_event_id,

                tran_va_plan_id: dt.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_va_plan_id,
                tran_va_plan_detl_id: dt.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_va_plan_detl_id,
                tran_va_plan_event_id: dt.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].tran_va_plan_event_id,
                is_view: 0,
                str_style_size: dt.rows().data()[parseInt($(btn).parent().parent().attr("row_index"))].strjsonSizeList
            }

            try {
                setTimeout(function () {
                    showLoader("Loading..........");
                }, 0);
                //  ajaxGetHandler("/PlanningAndAllocation/StyleSetupNew?range_plan_qnty=" + range_plan_qnty + "&style_product=" + style_product + "&style_code=" + style_code + "&no_of_style=" + no_of_style + "&product_id=" + $(btn).attr("style_item_product_id"), null, function (data) {
                ajaxGetHandler("/PlanningAndAllocation/StyleSetupApprove?input=" + JSON.stringify(objStyle), null, function (data) {
                    hideLoader();
                    $('#modalcontent-common').html(data);
                    $('#modalcontainer_common').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer_common').modal("show");

                    var otherstyles = all_styles.
                        filter(p => p.tran_va_plan_detl_style_id != $("#hd_current_style_id").val());

                    var added_style_count = otherstyles.reduce(function (sum, obj) {
                        return sum + obj.style_quantity;
                    }, 0);

                    $("#txtAddedStyleQnty").val(added_style_count);
                    $("#txtRemainingStyleQnty").val(parseInt($("#txtRangePlanQnty").val()) - added_style_count);
                    $("#txtstylecode").val($(btn).parent().parent().find("td:eq(3)").text());

                    $($(".dtcolorcodestyle")[0]).find("input[type=number]:eq(0)").trigger("change");

                    if (isview == 1) {

                        MakePopupReadOnly("modalcontent-common", "btnModalClose");

                        $("#modalcontent-common .btnApproveReject").removeAttr("disabled");
                        $("#modalcontent-common #txtapprove_remarks").removeAttr("disabled");
                    }
                    else {

                        MakePopupReadOnly("modalcontent-common", "btnModalClose");

                        $("#modalcontent-common .btnApproveReject").css("display","none");
                        $("#modalcontent-common #txtapprove_remarks").css("display", "none");
                    }

                }, true);


            } catch (e) {
                hideLoader();
            }

        }


        function LoadColorFromBox(txt) {
            $(txt).parent().find(".txtColorCode").val($(txt).val());

            checkCompleteness($(txt).closest(".box"));
        }

        function ddl_s2embellishment_changeevent() {

        }

        function ddlColorQuantityChange(ddl) {

            $("#dtdtcolorcodestyle input[type=number]").val('0');
            $("#txtTotalGivenSizeQuantity").val("0");

            if ($(ddl).closest(".box").find(".txtStyleQuantity").val().length == 0) {
                $(ddl).closest(".box").find(".txtStyleQuantity").css("border", "1px solid red");
                $(ddl).closest(".box").find(".ddlColorQuantity").val('0');
                $(ddl).closest(".box").find(".txtStyleQuantity").focus();

                return;
            }

            var dtable = $("#dtdtcolorcodestyle");

            // var colorcode = $(ddl).parent().parent().parent().find(".txtStyleColorCode").val().length > 0 ?
            //     $(ddl).parent().parent().parent().find(".txtStyleColorCode").val() + "-" : "Color-";

            var no_of_color = $(ddl).val();

            if (no_of_color != "0") {

                $(dtable).find("tbody tr:eq(0)").css("display", "table-row");

                if (no_of_color == "1") {

                }
                else {

                    var current_row_count = $(dtable).find("tbody tr").length;

                    if (current_row_count <= (no_of_color)) {
                        for (var rowno = current_row_count; rowno < parseInt(no_of_color); rowno++) {
                            var row_html = $(dtable).find("tbody tr:eq(0)").clone().removeAttr("id");
                            $(dtable).find("tbody").append(row_html);
                        }
                    }
                    else {
                        for (var rowno = parseInt(current_row_count) - 1; rowno >= parseInt(no_of_color); rowno--) {
                            $(dtable).find("tbody tr:eq(" + rowno + ")").remove();

                        }

                    }
                }

            }

            var rowindex = 1;

            $(dtable).find("tbody tr").each(function (index, element) {
                $(element).find("td:eq(0)").text(rowindex);
                // $(element).find(".txtColorCode").val(colorcode + rowindex);
                rowindex++;
            });

            //checkCompleteness($(ddl).closest(".box"));

        }

        function txtStyleQuantityChange(current_element) {

            if (all_styles.filter(p => p.style_code == $(current_element).val()).length > 0) {
                showErrorAlert("Alert", "Style Code Exists", "OK", function () {
                    $(current_element).css("border", "1px solid red");
                    return;
                });
            }

            $(current_element).css("border", "");

            $(current_element).closest(".box").find(".dtcolorcodestyle input[type=number]").val('0');
            $("#txtTotalGivenSizeQuantity").val("0");

            var txtRemainingStyleQnty = $("#modalcontent-common #txtRemainingStyleQnty").val();

            var total = getTotalByClassInsideTable("#modalcontent-common ", "txtStyleQuantity");

            if (total > parseFloat(txtRemainingStyleQnty)) {
                showErrorAlert("Alert", "Style Quantity Exceeds Remaining Style Quantity", "OK", function () {
                    $(current_element).val('0');
                    return;
                });
            }

            $($(".dtcolorcodestyle")[0]).find("input[type=number]:eq(0)").trigger("change");

        }

        function DeleteStyle(elem) {
            $(elem).parent().css("display", "none");
            $(elem).parent().find(".tab_link").attr("is_delete", "1");

            // $(elem).parent().parent().parent().find(".tab-pane[id=style" + $(elem).parent().attr("tab_index") + "]").remove();

            $(elem).parent().parent().parent().find(".tab-pane[id=style" + $(elem).parent().attr("tab_index") + "]").find("input[type=number]").remove();
            $(elem).parent().parent().parent().find(".tab-pane[id=style" + $(elem).parent().attr("tab_index") + "]").find(".btnSaveNext").remove();

            // $("#modalcontent-common .btnUpdateStyleInfo").attr("disabled", "disabled");
            $(".nav-tabs li  a:eq(0)").trigger("click");
        }

        function btnSaveNextClick(btn) {

            if (checkCompleteness($(btn).closest(".box")) == true) {
                var btnindex = $(btn).attr("btn_index");

                modal_tab_events_click_next_tab($(".nav-tabs").find("li[tab_index=" + btnindex + "]"));

                if ($(".dtcolorcodestyle")[parseInt(btnindex) + 1] != null)
                    $($(".dtcolorcodestyle")[parseInt(btnindex) + 1]).find("input[type=number]:eq(0)").trigger("change");
            }

        }


        function ColorSizeQuantityChanged(elem) {

            var current_element = $(elem);

            var txttotal = $("#txtTotalGivenSizeQuantity");

            var total = getTotalByClassInsideTableObject($(elem).closest(".dtcolorcodestyle"), "txtColorSizeQuantity");

            if (total > parseFloat($(elem).closest(".box").find(".txtStyleQuantity").val())) {
                showErrorAlert("Alert", "Quantity Exceeds Style Quantity", "OK", function () {
                    $(current_element).val('0');
                    return;
                });
            }
            else {
                $(txttotal).val(total);
                //checkCompleteness($(current_element).closest(".box"));

            }

        }

        function checkCompleteness(parent) {

            if ($(parent).length == 0) {
                return false;
            }

            var isOk = true;//

            $(parent).find(".select2-selection").css("border", "");
            $(parent).find(".ddlColorQuantity").css("border", "");
            $(parent).find(".txtStyleQuantity").css("border", "");
            $(parent).find(".ddl_item_product_sub_category").css("border", "");

            if ($(parent).find(".ddl_item_product_sub_category").val().length == 0) {
                $(parent).find(".ddl_item_product_sub_category").css("border", "1px solid red");
                isOk = false;
            }
            if ($(parent).find(".ddl_s2embellishment").val().length == 0) {
                $(parent).find(".select2-selection").css("border", "1px solid red");
                isOk = false;
            }
            if ($(parent).find(".txtStyleQuantity").val().length == 0) {
                $(parent).find(".txtStyleQuantity").css("border", "1px solid red");
                isOk = false;
            }
            if ($(parent).find(".ddlColorQuantity").val() == "0" && $(parent).find(".ddlColorQuantity").is(":visible")) {
                $(parent).find(".ddlColorQuantity").css("border", "1px solid red");
                isOk = false;
            }

            var total = getTotalByClassInsideTableObject($(parent).find(".dtcolorcodestyle"), "txtColorSizeQuantity");

            if (total == parseFloat($(parent).find(".txtStyleQuantity").val())) {
                if ($(parent).find(".btnSaveNext").length > 0) {
                    var btn_index = parseInt($(parent).find(".btnSaveNext").attr("btn_index"));

                    if (
                        $("#modalcontent-common .btnSaveNext[btn_index=" + (btn_index + 1) + "]").length == 0
                        // &&
                        // $("#modalcontent-common .btnSaveNext[btn_index=" + (btn_index + 1) + "]").is(":visible")==false
                    ) {

                        if ($("#modalcontent-common .btnUpdateStyleInfo").length > 0) {
                            $("#modalcontent-common .btnUpdateStyleInfo").removeAttr("disabled");

                            // if ($(parent).find(".btnSaveNext").length > 0)
                            //     $(parent).find(".btnSaveNext").attr("disabled", "disabled");
                        }

                        else if ($("#modalcontent-common .btnSaveStyleInfo").length > 0) {
                            //$("#modalcontent-common .btnSaveStyleInfo").removeAttr("disabled");
                        }
                        else {
                            $(parent).find(".btnSaveNext").removeAttr("disabled");
                        }
                    }
                    else {
                        $(parent).find(".btnSaveNext").removeAttr("disabled");

                    }
                }


            }
            else {
                // if ($("#modalcontent-common .btnUpdateStyleInfo").length > 0)
                //     $("#modalcontent-common .btnUpdateStyleInfo").attr("disabled", "disabled");
                // else if ($(parent).find(".btnSaveStyleInfo").length > 0)
                //     $(parent).find(".btnSaveStyleInfo").attr("disabled", "disabled");
                // else if ($(parent).find(".btnSaveNext").length > 0)
                //     $(parent).find(".btnSaveNext").attr("disabled", "disabled");


                var btn_index = parseInt($(parent).find(".btnSaveNext").attr("btn_index"));

                // if ($("#modalcontent-common .btnSaveNext[btn_index=" + (btn_index + 1) + "]").length == 0) {

                //     // if ($("#modalcontent-common .btnUpdateStyleInfo").length > 0) {
                //     //     $("#modalcontent-common .btnUpdateStyleInfo").attr("disabled", "disabled");

                //         // if ($(parent).find(".btnSaveNext").length > 0)
                //         //     $(parent).find(".btnSaveNext").removeAttr("disabled");
                //    // }

                //     else if ($("#modalcontent-common .btnSaveStyleInfo").length > 0) {
                //         // $("#modalcontent-common .btnSaveStyleInfo").attr("disabled", "disabled");

                //     }
                //     else {
                //         //  $(parent).find(".btnSaveNext").attr("disabled", "disabled");
                //     }
                // }
                // else {
                //     $(parent).find(".btnSaveNext").removeAttr("disabled");
                //     $(parent).find(".btnSaveNext").css("display", "block");
                // }

                isOk = false;
            }

            return isOk;

        }
        function closePopup() {
            $('#modalcontent-common').html("");

            $('#modalcontainer_common').modal("hide");
        }

        $(function () {

            LoadPlanData();
            LoadPlanApprovedData();

            BindTabEvents("tab_precosting");

            $("#btnSavePlanningAndAllocation").click(function () {

                SaveData(0);

            });


            $("#btnLoadData").click(function () {
                if ($("#fiscal_year_id").val() == '') {
                    $("#fiscal_year_id").focus();
                    $("#fiscal_year_id").css("border", "1px solid red");
                }
                else if ($("#event_id").val() == '') {
                    $("#event_id").focus();
                    $("#event_id").parent().find(".select2-selection--single").css("border", "1px solid red");

                }
                else {

                    $("#fiscal_year_id").css("border", "");
                    $("#event_id").parent().find(".select2-selection--single").css("border", "");

                    LoadPlanData();
                    LoadPlanApprovedData();

                }

            });


            $(".filterOption").hide();

            $("#btnBack").click(function () {
                document.location = "/PlanningAndAllocation/PlanningAndAllocationCreateLanding?fiscal_year_id=" + getUrlVars("fiscal_year_id");
            });

          

        });

        function SaveOrUpdate(btn) {
            if (dt_source.rows().data()[0].tran_va_plan_id == null) {
                SaveData(btn);
            }
            else {
                UpdateData(btn);
            }

           
        }

        function LoadStyleDetails(elem) {

            var style_id = $(elem).val();

            if (style_id == "0") {
                $("#txtStyleCode").val($("#hd_style_code_gen").val());
                $("#ddl_item_product_sub_category").val($('#ddl_item_product_sub_category option:first').val());
                $("#txtStyleQuantity").val('0');

                var otherstyles = all_styles;

                var added_style_count = otherstyles.reduce(function (sum, obj) {
                    return sum + obj.style_quantity;
                }, 0);

                $("#txtAddedStyleQnty").val(added_style_count);
                $("#txtRemainingStyleQnty").val(parseInt($("#txtRangePlanQnty").val()) - added_style_count);

                $("#ddl_s2embellishment").val(null).trigger("change");

                $('#dtdtcolorcodestyle tbody tr:not(:first)').remove();



            }
            else {
                var objstyle = all_styles.filter(p => p.tran_va_plan_detl_style_id == style_id)[0];

                $("#txtStyleCode").val(objstyle.style_code);

                $("#ddl_item_product_sub_category").val(objstyle.style_item_product_sub_category_id);

                $("#txtStyleQuantity").val(objstyle.style_quantity);

                var otherstyles = all_styles.filter(p => p.tran_va_plan_detl_style_id != style_id);

                var added_style_count = otherstyles.reduce(function (sum, obj) {
                    return sum + obj.style_quantity;
                }, 0);

                $("#txtAddedStyleQnty").val(added_style_count);
                $("#txtRemainingStyleQnty").val(parseInt($("#txtRangePlanQnty").val()) - added_style_count);

                $("#ddl_s2embellishment").val(null).trigger("change");

                for (var i = 0; i < objstyle.List_Embellishment.length; i++) {

                    $('#ddl_s2embellishment').append('<option  value="' + objstyle.List_Embellishment[i].id + '" selected="selected"">' + objstyle.List_Embellishment[i].text + '</option>');
                }

                $('#ddl_s2embellishment').trigger('change');

                $('#dtdtcolorcodestyle tbody tr:not(:first)').remove();

                for (var colorindex = 0; colorindex < objstyle.List_ColorInfo.length; colorindex++) {

                    var objcolorinfo = objstyle.List_ColorInfo[colorindex];

                    var wholediv = $("#dtdtcolorcodestyle #trfirstrow").clone();
                    $(wholediv).removeAttr("style");
                    $(wholediv).removeAttr("id");

                    $(wholediv).find(".row_sl").text((colorindex + 1));

                    $(wholediv).find(".txtColorPicker").val(objcolorinfo.color_code);
                    $(wholediv).find(".txtColorCode").val(objcolorinfo.color_code);
                    $(wholediv).find(".txtColorCode").attr("tran_va_plan_detl_style_color_id", objcolorinfo.tran_va_plan_detl_style_color_id);
                    $(wholediv).find(".txtColorCode").attr("tran_va_plan_detl_style_id", objcolorinfo.tran_va_plan_detl_style_id);

                    for (var colorsizeindex = 0; colorsizeindex < objcolorinfo.List_ColorSizeInfo.length; colorsizeindex++) {

                        var objcolorsizeinfo = objcolorinfo.List_ColorSizeInfo[colorsizeindex];
                        //="296"
                        // if (objcolorsizeinfo.style_color_size_quantity > 0) {
                        $(wholediv).find(".txtColorSizeQuantity[style_product_size_group_detid=" + objcolorsizeinfo.style_product_size_group_detid + "]").val(objcolorsizeinfo.style_color_size_quantity);
                        $(wholediv).find(".txtColorSizeQuantity[style_product_size_group_detid=" + objcolorsizeinfo.style_product_size_group_detid + "]").attr("tran_va_plan_detl_style_color_id", objcolorsizeinfo.tran_va_plan_detl_style_color_id);
                        $(wholediv).find(".txtColorSizeQuantity[style_product_size_group_detid=" + objcolorsizeinfo.style_product_size_group_detid + "]").attr("tran_va_plan_detl_style_color_size_id", objcolorsizeinfo.tran_va_plan_detl_style_color_size_id);
                        //  }
                    }

                    $("#dtdtcolorcodestyle tbody").append(wholediv);
                }
            }

            $(".txtColorSizeQuantity").trigger("change");

            if ($("#hdIsView").val() == "1") {
                MakePopupReadOnly("modalcontent-common", "btnModalClose");

                $("#modalcontent-common #ddlstyle").removeAttr("disabled");

            }

        }


        function LoadAllStyle(style_item_product_id, tran_va_plan_detl_id, ddlstyle) {
            ajaxGetHandler("/PlanningAndAllocation/LoadAllStyle?style_item_product_id=" + style_item_product_id + "&tran_va_plan_detl_id=" + tran_va_plan_detl_id, null, function (data) {
                all_styles = [];
                all_styles = data.List_style;

                $('#ddlstyle').empty();

                for (var i = 0; i < all_styles.length; i++) {
                    $('#ddlstyle').append($('<option>', {
                        value: all_styles[i].tran_va_plan_detl_style_id,
                        text: all_styles[i].style_code + ' (Quantity = ' + all_styles[i].style_quantity + ')'
                    }));
                }

                $('#ddlstyle').append($('<option>', {
                    value: '0',
                    text: 'New Style'
                }));

                $('#ddlstyle').val(ddlstyle);
                $('#ddlstyle').trigger("change");

            }, true);

        }

        function ApproveRejectData(btn) {

            var objstyle = {
                tran_va_plan_detl_style_id: $("#modalcontent-common #hd_current_style_id").val(),
                is_submitted: $(btn).attr("isapprove") == "1" ? 1 : 0,
                is_approved: $(btn).attr("isapprove") == "1" ? 1 : 2,
                approve_remarks: $("#modalcontent-common #txtapprove_remarks").val()
            }

            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/PlanningAndAllocation/ApproveRejectStyle", objstyle, function (response) {
                
                hideLoader();
                LoadPlanData();
                LoadPlanApprovedData();

                if (response.status_Code == "200") {

                   
                   
                    showSuccessAlert("Success", response.status_Result, "OK", function () {
                        $('#modalcontent-common').html('');
                        $('#modalcontainer_common').modal("hide");
                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }


    </script>

 }