@{
    Layout = "_LayoutHome";
}

@section Css {

}

<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a  class="h1"><b>SAILOR ERP</b></a>
    </div>
    <div class="card-body">
       Access Denied


    </div>
    <!-- /.card-body -->
</div>

