@using EPYSLSAILORAPP.Domain.DTO;
@using EPYSLSAILORAPP.Domain.Entity;
@using EPYSLSAILORAPP.Domain.RPC;
@using Newtonsoft.Json;
@model EPYSLSAILORAPP.Domain.DTO.tran_fabric_allocation_req_DTO;
@{
    ViewBag.Title = "TranFabricAllocationReq Edit";
    Layout = null;
}
<style>
    #toolbarId select {
        font-size: 11px !important;
    }

    .btninnerClose {
        color: #a52711;
        width: 26px;
        border: 1px solid #6f2d23;
        font-size: 22px;
        margin-top: 6px;
    }

    .dataTables_wrapper {
        margin-top: -40px;
    }

    .select_style {
        height: 30px;
    }

    .dataTable select {
        height: 25px !important;
        font-size: 10px !important;
    }

    .card-body {
        padding-bottom: 0px;
        padding-top: 0px;
        padding: 0rem 0rem;
    }

    .box {
        margin-bottom: 0.5rem;
    }

    .box-header {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-weight: 500;
        font-size: 12px;
    }

    .box-title {
        font-size: 12px;
        line-height: 1rem;
    }
</style>



<form method="POST" id="frmEdit" class="my-login-validation" novalidate="" enctype="multipart/form-data" autocomplete="off">


    <input type="hidden" id="tran_fabric_allocation_req_id" value="@Model.tran_fabric_allocation_req_id">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Fabric Allocation Requisition Add</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Allocation Number</label>
                        <input disabled style="width:100%" asp-for="allocation_number" type="text" placeholder="Auto Generated" class="border-#d1cccc-200 form-control" />
                        <span asp-validation-for="allocation_number" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Allocation Date</label>
                        <input style="width:100%" disabled asp-for="allocation_date" type="date" class="border-#d1cccc-200 form-control" />
                        <span asp-validation-for="allocation_date" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <hr />
            <div class="row">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        <h6 class="card-title">Fabric Item Details Information</h6>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-12" style="margin-bottom: 5px;text-align:left;">

                                <button style="width:200px;" type="button" class="btn btn-primary" id="btnAddFabricAllocation" onclick="AddFabricAllocationRow(this);"><i class="fa fa-file-open"></i>&nbsp;Add </button>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="table-responsive">
                                @{
                                    var segment_id = 1;
                                }
                                <table style="font-size:10px; max-width: 100%;" id="DTTranFabricDetails" class=" table dataTable table-striped table-bordered" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th><label class="labelNormal  ">Tech Pack</label></th>

                                            <th><label class="labelNormal">Select Fabric</label></th>

                                            <th><label class="labelNormal  ">Measurement Unit</label></th>

                                            <th><label class="labelNormal "> Stock Qty</label></th>
                                          @*   <th><label class="labelNormal "> Allocated Stock Qty</label></th> *@
                                            <th><label class="labelNormal "> Booking Qty</label></th>
                                            <th><label class="labelNormal "> Available Qty</label></th>
                                            <th><label class="labelNormal "> Remove</label></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr rowid="0" style="display:none;">
                                            <td style="width:120px;max-width:120px;">
                                                @await Component.InvokeAsync("S2TechPack", new
                                                    {
                                                        ddlId = "techpack_" + segment_id.ToString(),
                                                        selectedvalue = "",
                                                        cssclass = "form-control S2TechPack_Init",
                                                        isRequired = true,
                                                        isReadOnly = false,
                                                        placeholder = "Select Tech Pack",
                                                        preloaded = "",
                                                        model_parentid = "modalcontent"
                                                    })
                                            </td>

                                            <td style="width:180px;max-width:180px;">
                                                @await Component.InvokeAsync("S2GenItemMaster", new
                                                    {
                                                        ddlId = "itemmaster_" + segment_id.ToString(),
                                                        selectedvalue = "",
                                                        cssclass = "form-control S2GenItemMaster_Init",
                                                        isRequired = true,
                                                        isReadOnly = false,
                                                        placeholder = "Select Fabric",
                                                        preloaded = "",
                                                        model_parentid = "modalcontent"
                                                    })
                                            </td>

                                            <td style="width:120px;max-width:120px;">
                                                @await Component.InvokeAsync("GenericDropdownList", new
                                                    {
                                                        ddlId = "ddl_measurement_unit_detail_" + segment_id.ToString(),
                                                        strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.list_measurement)),
                                                        selectedvalue = "",
                                                        cssclass = "form-control ddl_measurement_unit_detail",
                                                        enable = false,
                                                        isRequired = true,
                                                        placeholder = "Select Measurement Unit"
                                                    })
                                            </td>
                                            <td style="width:75px;max-width:75px;">
                                                <input type="number" disabled class="form-control txt_total_stock_quantity" />

                                            </td>
                                           
                                            <td style="width:75px;max-width:75px;">
                                                <input type="number" class="form-control txt_booking_quantity" />
                                            </td>
                                            <td style="width:75px;max-width:75px;">
                                                <input type="number" disabled class="form-control txt_available_quantity" />
                                            </td>

                                            <td style="width:75px;max-width:75px;text-align:center;">
                                                <button class="btninnerClose" tran_fabric_allocation_req_det_id="0" onclick="removefabric(this);return false;" style="font-size: 14px;"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                        @{
                                            segment_id++;
                                        }
                                        @foreach (var obj in Model.List_Det)
                                        {
                                            <tr rowid="0">
                                                <td style="width:120px;max-width:120px;">
                                                    @await Component.InvokeAsync("S2TechPack", new
                                                        {
                                                            ddlId = "techpack_" + segment_id.ToString(),
                                                            selectedvalue = "",
                                                            cssclass = "form-control S2TechPack_Init",
                                                            isRequired = true,
                                                            isReadOnly = false,
                                                            placeholder = "Select Tech Pack",

                                                            preloaded = !string.IsNullOrEmpty(obj.tech_pack) ? JsonConvert.SerializeObject(
                                                             new
                                                             {
                                                                 tran_techpack_id = obj.tech_pack_id.ToString(),
                                                                 techpack_number = obj.tech_pack
                                                             }) : "",
                                                            model_parentid = "modalcontent"
                                                        })
                                                </td>

                                                <td style="width:180px;max-width:180px;">
                                                    @await Component.InvokeAsync("S2GenItemMaster", new
                                                        {
                                                            ddlId = "itemmaster_" + segment_id.ToString(),
                                                            selectedvalue = "",
                                                            cssclass = "form-control S2GenItemMaster_Init",
                                                            isRequired = true,
                                                            isReadOnly = false,
                                                            placeholder = "Select Fabric",

                                                            preloaded = !string.IsNullOrEmpty(obj.item_master) ? JsonConvert.SerializeObject(
                                                             new
                                                             {
                                                                 Id = obj.item_master_id.ToString(),
                                                                 Text = obj.item_master,
                                                                 OtherData = new
                                                                 {
                                                                     measurement_unit_detail_id = obj.measurement_unit_detail_id.ToString()
                                                                 }
                                                             }) : "",
                                                            model_parentid = "modalcontent"
                                                        })
                                                </td>

                                                <td style="width:120px;max-width:120px;">
                                                    @await Component.InvokeAsync("GenericDropdownList", new
                                                        {
                                                            ddlId = "ddl_measurement_unit_detail_" + segment_id.ToString(),
                                                            strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.list_measurement)),
                                                            selectedvalue = obj.measurement_unit_detail_id.ToString(),
                                                            cssclass = "form-control ddl_measurement_unit_detail",
                                                            enable = false,
                                                            isRequired = true,

                                                            preloaded = !string.IsNullOrEmpty(obj.measurement_unit_detail) ? JsonConvert.SerializeObject(obj.measurement_unit_detail) : "",
                                                            model_parentid = "modalcontent"
                                                        })
                                                </td>

                                                <td style="width:75px;max-width:75px;">
                                                    <input type="number" disabled class="form-control txt_total_stock_quantity" value="0" />

                                                </td>
                                               @*  <td style="width:75px;max-width:75px;">
                                                    <input type="number" disabled class="form-control txt_total_issued_quantity" value="0" />

                                                </td> *@
                                                <td style="width:75px;max-width:75px;">
                                                    <input type="number" class="form-control txt_booking_quantity" value="@Convert.ToInt64(obj.booking_quantity)" onchange="BookingCalc(this)" />
                                                </td>
                                                <td style="width:75px;max-width:75px;">
                                                    <input type="number" disabled class="form-control txt_available_quantity" />
                                                </td>

                                                <td style="width:75px;max-width:75px;text-align:center;">
                                                    <button tran_fabric_allocation_req_det_id="@obj.tran_fabric_allocation_req_det_id" class="btninnerClose" onclick="removefabric(this);return false;" style="font-size: 14px;"><i class="fa fa-remove"></i></button>
                                                </td>
                                            </tr>
                                            segment_id++;
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="row">

                <div class="col-md-12" style="margin-bottom: 5px;text-align:right;">

                    <button style="width:300px;" is_submit="1" type="button" class="btn btn-primary" id="btnUpdateTranFabricAllocationReq" onclick="UpdateTranFabricAllocationReq(this);"><i class="fa fa-file-open"></i>&nbsp;Update</button>

                    <button style="width:300px;" is_submit="2" type="button" class="btn btn-primary" id="btnUpdateTranFabricAllocationReq" onclick="UpdateTranFabricAllocationReq(this);"><i class="fa fa-file-open"></i>&nbsp;Submit For Approval</button>

                </div>
            </div>
        </div>

    </div>

</form>





