@using EPYSLSAILORAPP.Domain.DTO;
@using EPYSLSAILORAPP.Domain.Entity;
@using EPYSLSAILORAPP.Domain.RPC;
@using Newtonsoft.Json;
@model EPYSLSAILORAPP.Domain.DTO.tran_fabric_allocation_req_DTO;
@{
    ViewBag.Title = "Fabric Allocation Requisition Add";
    Layout = null;
}
<style>
    #toolbarId select {
        font-size: 11px !important;
    }

    .btninnerClose {
        color: #a52711;
        width: 26px;
        border: 1px solid #6f2d23;
        font-size: 22px;
        margin-top: 6px;
    }

    .dataTables_wrapper {
        margin-top: -40px;
    }

    .select_style {
        height: 30px;
    }

    .dataTable select {
        height: 25px !important;
        font-size: 10px !important;
    }

    .card-body {
        padding-bottom: 0px;
        padding-top: 0px;
        padding: 0rem 0rem;
    }

    .box {
        margin-bottom: 0.5rem;
    }

    .box-header {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-weight: 500;
        font-size: 12px;
    }

    .box-title {
        font-size: 12px;
        line-height: 1rem;
    }

    #DTTranFabricDetails tbody tr td, #DTTranFabricDetails {
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>



<form method="POST" id="frmAdd" class="my-login-validation" novalidate="" enctype="multipart/form-data" autocomplete="off">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Fabric Allocation Requisition Add</h6>
        </div>
        <div class="card-body">
            <div class="card-body">

                <div class="row">

                    <div class="col-md-12" style="margin-bottom: 5px;text-align:left;">

                        <button style="width:200px;" type="button" class="btn btn-primary" id="btnAddFabricAllocation" onclick="AddFabricAllocationRow(this);"><i class="fa fa-file-open"></i>&nbsp;Add </button>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="table-responsive">
                        @{
                            var segment_id = 1;
                        }
                        <table style="font-size:10px; max-width: 100%;" id="DTTranFabricDetails" class=" table dataTable table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th><label class="labelNormal  ">Tech Pack</label></th>

                                    <th><label class="labelNormal">Select Fabric</label></th>


                                    <th><label class="labelNormal  ">Measurement Unit</label></th>
                                    <th><label class="labelNormal "> Stock Qty</label></th>
                                    @* <th><label class="labelNormal "> Allocated Stock Qty</label></th> *@
                                    <th><label class="labelNormal "> Booking Qty</label></th>
                                    <th><label class="labelNormal "> Available Qty</label></th>
                                    <th><label class="labelNormal "> Remove</label></th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr rowid="0" style="display:none;">
                                    <td style="width:120px;max-width:120px;">
                                        @await Component.InvokeAsync("S2TechPack", new
                                            {
                                                ddlId = "techpack_" + segment_id.ToString(),
                                                selectedvalue = "",
                                                cssclass = "form-control S2TechPack_Init",
                                                isRequired = true,
                                                isReadOnly = false,
                                                placeholder = "Select Tech Pack",
                                                preloaded = "",
                                                model_parentid = "modalcontent"
                                            })
                                    </td>

                                    <td style="width:180px;max-width:180px;">
                                        @await Component.InvokeAsync("S2GenItemMaster", new
                                            {
                                                ddlId = "itemmaster_" + segment_id.ToString(),
                                                selectedvalue = "",
                                                cssclass = "form-control S2GenItemMaster_Init",
                                                isRequired = true,
                                                isReadOnly = false,
                                                placeholder = "Select Fabric",
                                                preloaded = "",
                                                model_parentid = "modalcontent"
                                            })
                                    </td>

                                    <td style="width:120px;max-width:120px;">
                                        @await Component.InvokeAsync("GenericDropdownList", new
                                            {
                                                ddlId = "ddl_measurement_unit_detail_" + segment_id.ToString(),
                                                strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.list_measurement)),
                                                selectedvalue = "",
                                                cssclass = "form-control ddl_measurement_unit_detail",
                                                enable = false,
                                                isRequired = true,
                                                placeholder = "Select Measurement Unit"
                                            })
                                    </td>
                                    <td style="width:75px;max-width:75px;">
                                        <input type="number" disabled class="form-control txt_total_stock_quantity" />

                                    </td>
                                   @*  <td style="width:75px;max-width:75px;">
                                        <input type="number" disabled class="form-control txt_total_issued_quantity" />

                                    </td> *@
                                    <td style="width:75px;max-width:75px;">
                                        <input type="number" class="form-control txt_booking_quantity" onchange="BookingCalc(this)" />
                                    </td>
                                    <td style="width:75px;max-width:75px;">
                                        <input type="number" disabled class="form-control txt_available_quantity" />
                                    </td>

                                    <td style="width:75px;max-width:75px;text-align:center;">
                                        <button class="btninnerClose" onclick="removefabric(this);return false;" style="font-size: 14px;"><i class="fa fa-remove"></i></button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

         
         
            <div class="row">

                <div class="col-md-12" style="margin-bottom: 5px;text-align:right;">

                    <button style="width:300px;" is_submit="1" type="button" class="btn btn-primary" id="btnSaveTranFabricAllocationReq" onclick="SaveTranFabricAllocationReq(this);"><i class="fa fa-file-open"></i>&nbsp;Draft Save</button>

                    <button style="width:300px;" is_submit="2" type="button" class="btn btn-primary" id="btnSaveTranFabricAllocationReq" onclick="SaveTranFabricAllocationReq(this);"><i class="fa fa-file-open"></i>&nbsp;Submit For Approval</button>

                </div>
            </div>
        </div>

    </div>


</form>





