<table id="DTReceiveChallanDraftList" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th style="width:200px;"><label class="labelNormal">Embellish Receive No</label></th>
            <th style="width:200px;"><label class="labelNormal">Embellish Receive Date</label></th>
            <th style="width:200px;"><label class="labelNormal">Techpack No </label></th>
            <th style="width:200px;"><label class="labelNormal "> Service Work Order No</label></th>
            <th style="width:200px;"><label class="labelNormal">Supplier Name</label></th>
            <th style="width:200px;"><label class="labelNormal "> Status</label></th>
        </tr>
    </thead>
</table>
