@using EPYSLSAILORAPP.Domain.DTO;
@using EPYSLSAILORAPP.Domain.Entity;
@using EPYSLSAILORAPP.Domain.RPC;
@using Newtonsoft.Json;
@model EPYSLSAILORAPP.Domain.DTO.tran_pp_meeting_DTO;
@{
    ViewBag.Title = "TranPpMeeting Edit";
    Layout = null;
}

<style>
    #toolbarId select {
        font-size: 11px !important;
    }

    .btninnerClose {
        color: #a52711;
        width: 26px;
        border: 1px solid #6f2d23;
        font-size: 22px;
        margin-top: 6px;
    }

    .dataTables_wrapper {
        margin-top: -40px;
    }

    .select_style {
        height: 30px;
    }

    .dataTable select {
        height: 25px !important;
        font-size: 10px !important;
    }

    .card-body {
        padding-bottom: 0px;
        padding-top: 0px;
        padding: 0rem 0rem;
    }

    .box {
        margin-bottom: 0.5rem;
    }

    .box-header {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-weight: 500;
        font-size: 12px;
    }

    .box-title {
        font-size: 12px;
        line-height: 1rem;
    }
</style>



<form method="POST" id="frmView" class="my-login-validation" novalidate="" enctype="multipart/form-data" autocomplete="off">

    <input type="hidden" id="tran_pp_meeting_id" value="@Model.tran_pp_meeting_id">

    <div class="card">
        <div class="card-header">
            <h6 class="card-title">TranPpMeeting View</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Techpack</label>
                        <input style="width:100%" disabled asp-for="techpack_number" type="text" class="border-#d1cccc-200 form-control " value="@Model.techpack_number"/>
                        <span asp-validation-for="techpack_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Remarks</label>
                        <input style="width:100%" disabled asp-for="remarks" type="text" class="border-#d1cccc-200 form-control " />
                        <span asp-validation-for="remarks" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Meeting Conducted By</label>
                        <input style="width:100%" disabled asp-for="name" type="text" class="border-#d1cccc-200 form-control " value="@Model.name"/>
                        <span asp-validation-for="meeting_conducted_by" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Meeting Conducted Date</label>
                        <input style="width:100%" disabled asp-for="meeting_conducted_date" type="date" class="border-#d1cccc-200 form-control " />
                        <span asp-validation-for="meeting_conducted_date" class="text-danger"></span>
                    </div>
                </div>
            </div>

            


        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  
                    @* <img id="imagePreview" src="~/uploadfolder/ppmeeting/@Model.imagePath" style="width:100px; height:100px; border:1px solid blue; border-radius:10px; padding:10px; " alt="no image" /> *@
                    <img id="imagePreview" src="@Model.imageBase64" style="width:100px; height:100px; border:1px solid blue; border-radius:10px; padding:10px; " alt="no image" />
                    
                </div>
            </div>

        </div>


    </div>




</form>





