@using EPYSLSAILORAPP.Application.DTO.Tran_DesignMgt
@using EPYSLSAILORAPP.Domain.DTO;
@using EPYSLSAILORAPP.Domain.Entity;
@using EPYSLSAILORAPP.Domain.RPC;
@using Newtonsoft.Json;

@model EPYSLSAILORAPP.Application.DTO.Tran_MerchandisingMgt.tran_purchase_requisition_DTO;
@{
    ViewBag.Title = "Accessories Requisition Add";
    Layout = null;
}
<style>
    #toolbarId select {
        font-size: 11px !important;
    }

    .btninnerClose {
        color: #a52711;
        width: 26px;
        border: 1px solid #6f2d23;
        font-size: 22px;
        margin-top: 6px;
    }

    .dataTables_wrapper {
        margin-top: -40px;
    }

    .select_style {
        height: 37px;
    }

    .dataTable select {
        height: 25px !important;
        font-size: 10px !important;
    }

    .card-body {
        padding-bottom: 0px;
        padding-top: 0px;
        padding: 0rem 0rem;
    }

    .box {
        margin-bottom: 0.5rem;
    }

    .box-header {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-weight: 500;
        font-size: 12px;
    }

    .box-title {
        font-size: 12px;
        line-height: 1rem;
    }
</style>



<form method="POST" id="frmAdd" class="my-login-validation" novalidate="" enctype="multipart/form-data" autocomplete="off">
    <div class="row">
        <div class="col-md-6">
            <div class="box" style="margin-top:7px;">
                <input style="width:100%" asp-for="event_id" type="hidden" />
                @* 	<div class="row">
                <div class="col-md-12">
                <div class="form-group">
                <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Pr No</label>
                <input style="width:100%" asp-for="pr_no" type="text" readonly placeholder="Auto Generated" class="form-control border-#d1cccc-200 rounded-sm text-sm" />


                </div>
                </div>

                </div> *@

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">PR Date</label>
                            <input style="width:100%" asp-for="pr_date" type="date" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
                            <span asp-validation-for="pr_date" class="text-danger"></span>
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Delivery Date</label>
                            <input style="width:100%" asp-for="delivery_date" type="date" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
                            <span asp-validation-for="delivery_date" class="text-danger"></span>
                        </div>
                       
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Techpack</label>


                            @await Component.InvokeAsync("S2TechPack", new
                                {
                                    ddlId = "techpack_id",
                                    selectedvalue = "",
                                    cssclass = "form-control S2TechPack",
                                    isRequired = false,
                                    isReadOnly = false,
                                    placeholder = "Select Techpack",
                                    preloaded = "",
                                    model_parentid = "modalcontainer"
                                })
                            <span asp-validation-for="techpack_id" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Merchandiser</label>
                            <input style="width:100%" readonly id="merchandiser_id" asp-for="merchandiser_id" type="hidden" />
                            <input style="width:100%" readonly id="merchandiser_name" asp-for="merchandiser_name" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
                            <span asp-validation-for="merchandiser_id" class="text-danger"></span>

                        </div>


                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Delivery Unit</label>


                            @await Component.InvokeAsync("GenericDropdownList", new
                                {
                                    ddlId = "delivery_unit_id",
                                    strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.DeliveryUnits)),
                                    selectedvalue = "",
                                    cssclass = "form-control",
                                    enable = true,
                                    isRequired = true,
                                    placeholder = "select"
                                })
                            <span asp-validation-for="delivery_unit_id" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Supplier</label>
                        @await Component.InvokeAsync("S2GenSupplier", new
                            {
                                ddlId = "supplier_id",
                                selectedvalue = "",
                                cssclass = "form-control S2GenSupplier",
                                isRequired = false,
                                isReadOnly = false,
                                placeholder = "Select Supplier",
                                preloaded = "",
                                model_parentid = "modalcontainer"
                            })
                        <span asp-validation-for="supplier_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Supplier Concern Person</label>
                            <input style="width:100%" asp-for="supplier_concern_person" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" readonly />
                            <span asp-validation-for="supplier_concern_person" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Supplier Address</label>
                            <input style="width:100%" asp-for="supplier_address" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" readonly />
                            <span asp-validation-for="supplier_address" class="text-danger"></span>
                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Remarks</label>
                            <input style="width:100%" asp-for="remarks" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
                            <span asp-validation-for="remarks" class="text-danger"></span>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <div class="col-md-6" style="margin-top:37px;">


            <input type="file" style="display:none" id="attachments" multiple />

            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger " id="btnUpload" onclick="uploadFile(this);">
                            Select File to Upload
                        </button>
                    </div>
                    <div class="col-md-8">
                        <div id="fileNamesContainer"></div>
                    </div>
                </div>
            </div>






        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Group</label>
            @await Component.InvokeAsync("GenericDropdownList", new
                {
                    ddlId = "item_structure_group_id",
                    strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.GroupList)),
                    selectedvalue = "",
                    cssclass = "form-control",
                    enable = true,
                    isRequired = true,
                    placeholder = "Select"
                })
        </div>

    </div>
    <div class="row" style="display:none;padding-top:5px" id="sewing">
        <div class="col-md-4">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Sub Group</label>
            @await Component.InvokeAsync("GenericDropdownList", new
                {
                    ddlId = "ddlSewing",
                    strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.SubCategorySewingList)),
                    selectedvalue = "",
                    cssclass = "form-control",
                    enable = true,
                    isRequired = true,
                    placeholder = "Select"
                })
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-primary" onclick="validateAndAddAccessories(this, 'ddlSewing');" style="margin-left: 0px;margin-top: 30px!important;width:160px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add Accessories</button>

        </div>
    </div>
    <div class="row" style="display:none;padding-top:5px" id="finishing">
        <div class="col-md-4">
            <label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Sub Group</label>
            @await Component.InvokeAsync("GenericDropdownList", new
                {
                    ddlId = "ddlFinishing",
                    strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.SubCategoryFinishinList)),
                    selectedvalue = "",
                    cssclass = "form-control",
                    enable = true,
                    isRequired = true,
                    placeholder = "Select"
                })
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-primary" onclick="validateAndAddAccessories(this, 'ddlFinishing');" style="margin-left: 0px;margin-top: 30px!important;width:160px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add Accessories</button>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <table style="font-size:10px;" id="DTTranAccessoriesDetails" class=" table dataTable table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th><label class="labelNormal">Combo</label></th>
                            <th><label class="labelNormal">Item Code</label></th>
                            <th><label class="labelNormal">Item Sub Group</label></th>
                            <th style="width:45%;"><label class="labelNormal">Item Name</label></th>
                            @* <th style="width:350px;"><label class="labelNormal">Item Spec</label></th> *@
                            <th><label class="labelNormal">Quantity</label></th>
                            <th><label class="labelNormal">UOM</label></th>
                            <th><label class="labelNormal">Suggested Unit Price</label></th>
                            <th><label class="labelNormal">Action</label></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin-bottom: 5px;text-align:right;">
            <button  type="button" class="btn btn-success " id="btnSaveAccessoriesRequisition" onclick="SaveAccessoriesRequisition(this,1);"><i class="fa fa-file-open"></i>&nbsp;Save</button>
            <button  type="button" class="btn btn-success " id="btnSaveAccessoriesRequisition" onclick="SaveAccessoriesRequisition(this,2);"><i class="fa fa-file-open"></i>&nbsp;Send for Approval</button>
        </div>
    </div>
</form>

<div id="modalcontainer_common_popup" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width:60% !important; max-width:60% !important; ">
        <div class="modal-content">

            <div class="modal-header" style="padding:0px;background-color: #bc7b20;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Add Details
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">


                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup_popup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 10px; padding-top: 10px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent-common_popup">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var obj_Accessories_List = [];
  

    function validateAndAddAccessories(button, ddlId) {
        var ddl = document.getElementById(ddlId);
        if (ddl.value === "") {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please select a subgroup from the dropdown list.'
            });
            return;
        }
        AddNewAccessories(this);
    }

    $(document).ready(function () {
        $.validator.addMethod("greaterthan", function (value, element, params) {
            var otherPropertyValue = $('#' + params.otherProperty).val();
            if (value && otherPropertyValue) {
                return new Date(value) >= new Date(otherPropertyValue);
            }
            return true;
        });

        $.validator.unobtrusive.adapters.add("greaterthan", ["otherproperty"], function (options) {
            options.rules["greaterthan"] = {
                otherProperty: options.params.otherproperty
            };
            options.messages["greaterthan"] = options.message;
        });
    });



    function AddNewAccessories(btn) {



        $("#modalcontainer_common").addClass("custom-class");
        var item_structure_group_id = $("#item_structure_group_id").val();
        var group = "";
        var gen_item_structure_group_sub_id = 0;


        if (item_structure_group_id == 2) {
            gen_item_structure_group_sub_id = $("#ddlSewing").val();
            group = $("#modalcontainer #ddlSewing option:selected").text();

        }
        if (item_structure_group_id == 3) {
            group = $("#modalcontainer #ddlFinishing option:selected").text();
            gen_item_structure_group_sub_id = $("#ddlFinishing").val();
        }


        var p_techpack_id = $('#techpack_id').val();
        $("#modalcontainer_common").addClass("custom-class");




        try {
            ajaxGetHandler("/AccessoriesRequisition/GetItemDetailsByTechpackforAcc?p_techpack_id=" + p_techpack_id + "&item_structure_group_id=" + item_structure_group_id + "&gen_item_structure_group_sub_id=" + gen_item_structure_group_sub_id, null, function (data) {

                $('#modalcontent-common_popup').html(data);
                $('#modalcontainer_common_popup').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer_common_popup').modal("show");

            }, true);


        } catch (e) {
            hideLoader();
        }

    }

    $('#modalcontainer #item_structure_group_id').on('change', function () {

        const selectedValue = $(this).val();


        if (selectedValue == 2) {

            $("#sewing").show();
            $("#finishing").hide();
        }
        if (selectedValue == 3) {
            $("#sewing").hide();
            $("#finishing").show();
        }

    });


    function closePopup_popup() {
        $('#modalcontent-common_popup').html("");

        $('#modalcontainer_common_popup').modal("hide");

        $('#modalcontainer_common_popup').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });
    }

    $('#modalcontainer_common_popup').on('hidden.bs.modal', function () {
        $('body').addClass('modal-open');
    });


    function GetAllSegment() {
        var alltext = "";

        for (var id = 1; id <= 15; id++) {
            if ($("#modalcontent-common_popup #segment_det" + id + "_id").length > 0) {
                alltext += $("#modalcontent-common_popup #segment_det" + id + "_id > option:selected").text() + " ";
            }

        }

        if (alltext.length == 0) {
            alltext = $("#txtgroupname").val();
        }

        return alltext;
    }
    function AddAccesories(btn) {
        var count = 0;
        $.each($("#DTAccDetailsList tbody tr"), function (key, val) {

            if ($(this).find(".is_select")[0].checked) {
                console.log($(this).find(".is_select")[0].checked);
                var obj = {
                    item_id: check_textbox_value($(this).find(".item_id")),
                    item_name: check_textbox_value($(this).find(".item_name")),
                    item_spec: check_textbox_value($(this).find(".item_spec")),
                    uom: check_textbox_value($(this).find(".uom")),
                    uomText: check_textbox_value($(this).find(".uomText")),
                    quantity: check_textbox_value($(this).find(".item_quantity")),
                    sub_group_name: check_textbox_value($(this).find(".sub_group_name")),
                    color_code: check_textbox_value($(this).find(".color_code")),
                    gen_item_structure_group_sub_id: check_textbox_value($(this).find(".gen_item_structure_group_sub_id"))


                };
                obj_Accessories_List.push(obj);

            }

        });


        if (obj_Accessories_List) {

          
            obj_Accessories_List.forEach(function (obj) {
                if (added_list.includes(obj.item_id)) {
                    count++;
                    return true;
                }
                added_list.push(obj.item_id);
                var table = document.getElementById("DTTranAccessoriesDetails").getElementsByTagName('tbody')[0];
                var newRow = table.insertRow(table.rows.length);

                var cell1 = newRow.insertCell(0);
                var cell2 = newRow.insertCell(1);
                var cell3 = newRow.insertCell(2);
                var cell4 = newRow.insertCell(3);
                var cell5 = newRow.insertCell(4);
                var cell6 = newRow.insertCell(5);
                var cell7 = newRow.insertCell(6);
                var cell8 = newRow.insertCell(7);
                var cell9 = newRow.insertCell(8);
                var cell10 = newRow.insertCell(9);

                cell1.innerHTML = "<input disabled type='text' class='form-control color_code' value=" + obj.color_code + " >";
                cell2.innerHTML = "<input disabled type='number' class='form-control item_id' value=" + obj.item_id + " >";
                cell3.innerHTML = "<input disabled type='text'class='form-control' value='" + obj.sub_group_name + "' >";
                cell3.style = "width:8%";
                cell4.innerHTML = "<input disabled type='text'class='form-control' value='" + obj.item_name + "' >";
                cell5.innerHTML = obj.item_spec;
                cell5.style.display = "none";
                cell6.innerHTML = "<input type='number'class='form-control quantity' name='quantity' value='" + obj.quantity + "'>";
                cell7.innerHTML = "<input disabled type='text'class='form-control' value='" + obj.uomText + "' >";
                cell8.innerHTML = "<input type='number'class='form-control suggested_unit_price' >";
                cell9.innerHTML = "<button class='btn btn-danger' aria-hidden='true' onclick='deleteRow(this," + obj.item_id + ")'><i class='fa fa-trash' aria-hidden='true'></i></button>"; // Delete button with specified classes
                cell10.innerHTML = "<input type='hidden'class='form-control uom' value=" + obj.uom + ">";
                cell10.style.display = "none";

            });
        }


        if (count > 0) {

            showErrorAlert("Alert", "Already Added Items will not be added again", "OK");

        }
        obj_Accessories_List = [];
        $('#modalcontainer_common_popup').modal("hide");

    }

    function deleteRow(button, id) {
        var row = button.parentNode.parentNode;
        added_list = added_list.filter(function (item) {
            return item !== id;
        });
        row.parentNode.removeChild(row);
    }

</script>





