@model EPYSLSAILORAPP.Domain.DTO.tran_embellish_delivery_challan_DTO

@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "Production Process Landing";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<style>

    #tab_precostinglanding.nav-tabs > li.active > a,
    #tab_precostinglanding.nav-tabs > li.active > a:hover,
    #tab_precostinglanding.nav-tabs > li.active > a:focus,
    #tab_precostinglanding.nav-tabs > li > a.active,
    #tab_precostinglanding.nav-tabs > li > a:hover,
    #tab_precostinglanding.nav-tabs > li > a:focus {
        color: #555;
        cursor: default;
        background-color: khaki;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

</style>

<div class="content-wrapper">
    <label style="display:none" class="col-sm-6 col-form-label-sm text-left" id="service_work_order_id1" style="font-size:12px;margin-bottom: 0; padding: 0;"></label>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Production Process Define Landing</h6>
                        </div>
                        @*  @await Component.InvokeAsync("DataFilterSCMwd") *@
                        <!-- /.card-header -->


                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" id="tab_bar_style">
                                    <ul id="tab_precostinglanding" class="nav nav-tabs">
                                        <li class="active" tab_index="1">
                                            <a href="#det1" style="text-decoration: unset;width: 170px;" class="active tab_link  " data-toggle="tab">PENDING LIST</a>
                                        </li>
                                        <li class="" tab_index="2">
                                            <a href="#det2" style="text-decoration: unset;width: 225px;" class=" tab_link  " data-toggle="tab">PRODUCTION PROCESSED LIST</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="det1" tabpane_index="1">
                                            <div class="card">

                                                <!-- /.card-header -->
                                                <div class="card-body">
                                                    <table id="DTProductionProcessPendingList" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th style="width:200px;"><label class="labelNormal">Style No</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Style Date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal  ">Style Type</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Merchandiser Name </label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Designer Name </label></th>
                                                                <th style="width:200px;"><label class="labelNormal "> Action</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det2" tabpane_index="2">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table id="DTProductionProcessDraftList" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th style="width:200px;"><label class="labelNormal">Production Process date</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Techpack Number</label></th>
                                                                <th style="width:200px;"><label class="labelNormal">Style Type </label></th>
                                                                <th style="width:200px;"><label class="labelNormal ">Supplier name</label></th>
                                                                <th style="width:200px;"><label class="labelNormal ">Action</label></th>

                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 90% !important; max-width: 80% !important; ">
        <div class="modal-content" id="modalcontent_1" style="overflow-y: scroll;">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Production Process Detail
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/MCD/TranMcdReceive/_TranReckAdd.cshtml" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@section Scripts {
    <script>
        
        function closePopup() {

            event.preventDefault();
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
            //location.reload();
        }
  
        function ProductionProcessAdd(btn) {
            
            var techpack_id = $(btn).attr("tran_techpack_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/ProductionProcessDefine/ProductionProcessAdd?techpack_id=" + techpack_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");



                    // var contactPersonData = $('#contactPerson').val();
                    // $('#supplier_id').select2();
                    // $('#supplier_id').on('change', function () {
                    //
                    //     var selectedSupplier = $(this).select2("data");
                    //     if (selectedSupplier.length > 0) {
                    //         $('#supplier_concern_person').val(contactPersonData);
                    //     } else {

                    //         $('#supplier_concern_person').val("");
                    //     }
                    // });


                    // $("#modalcontent  #gen_process_master_id").removeAttr("placeholder");
                    // $("#modalcontent  #gen_process_master_id").attr("multiple", "multiple");
                    // $("#modalcontent  #gen_process_master_id option:eq(0)").remove();
                    // $("#modalcontent  #gen_process_master_id").val('').trigger('change');
                    // $("#modalcontent  #gen_process_master_id").select2({
                    //     allowClear: true,
                    //     placeholder: "Select Placement"
                    // });


                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function SaveProductionProcess(btn) {
            
           

            // if (!_cusFormValidate("frmAddReceive")) {
            //    return;
            // }
   
            details = []

            var now = new Date();
            var currentDate = now.getFullYear() + '-' +
                ('0' + (now.getMonth() + 1)).slice(-2) + '-' +
                ('0' + now.getDate()).slice(-2);

            var styleQty = $('#styleQty').val();
            var production_process_date = currentDate;
            var techpackid = $('#techpack_id').val();
            var style_item_product = $('#style_item_product').val();
            var supplier_id = $('#supplier_id').val();
            var merchandiser_name = $('').val();

           
            $.each($("#DTProductDetailProcess tbody tr"), function (key, val) {

                var selectedProcess = [];

                $(val).find(".form-check-input").each(function (innerkey, innerval) {
                    if ($(innerval).is(":checked")) {
                       // selectedProcess.push($(innerval).val());
                        selectedProcess.push({ process_name: $(innerval).val() });
                    }
                });
               
                var obj = {

                    color_code: $(val).find(".color_code").val(),
                    color_qty: $(val).find(".quantity").val(),
                    process_name_detail: selectedProcess,
                    production_process_uit_name: $(val).find(".ProductUnitname").val(),
                    production_process_uit_id: $(val).find(".ProductUnitId").val(),
                    remarks: $(val).find(".remarks").val()

                };
                details.push(obj);

            });

            var obj_emb_finishing_receive = {
                techpack_id: techpackid,
                tran_production_process_date: production_process_date,
                style_qty: styleQty,
                style_item_product_category: style_item_product,
                supplier_id: supplier_id,

                is_submitted: 1,

                details: details
            }

            setTimeout(function () {
                showLoader("Saving..........");
            }, 0);

            ajaxPostObjectHandler("/ProductionProcessDefine/SaveProductionProcess", obj_emb_finishing_receive, function (response) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                if (response.status_Code == "200") {

                    LoadProductionProcessPendingData();
                    LoadProductionProcessDraftData();

                    showSuccessAlert("Success", response.status_Result, "OK", function () {

                        closePopup();

                    });
                }
                else {
                    showErrorAlert("Alert", response.status_Result, "OK", function () {

                    });
                }
            }, true, function () { hideLoader(); }, true);

        }


        function ViewProductionProcessDetails(btn) {
           
            var tran_production_process_id = $(btn).attr("tran_production_process_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/ProductionProcessDefine/ProductionProcessView?id=" + tran_production_process_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });
            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }


        function LoadDataOnReady() {
            LoadProductionProcessPendingData();
            LoadProductionProcessDraftData();

            activeChange();

            
        }
   
        $(function () {
            // LoadTranPODropDownByClass();

            

        });

        function activeChange() {
            $('#tab_precostinglanding.nav-tabs > li').click(function () {
                // Remove active class from all tabs
                $('#tab_precostinglanding.nav-tabs > li').removeClass('active');
                // Add active class to the clicked tab
                $(this).addClass('active');
                // Remove active class from all tab links
                $('#tab_precostinglanding.nav-tabs > li > a').removeClass('active');
                // Add active class to the clicked tab link
                $(this).find('a').addClass('active');
                // Remove active class from all tab contents
                $('.tab-content > .tab-pane').removeClass('active');
                // Add active class to the corresponding tab content
                var tabContentId = $(this).find('a').attr('href');
                $(tabContentId).addClass('active');
            });
        }


        $("#btnLoadData").click(function () {
            if ($("#fiscal_year_id").val() == '') {
                $("#fiscal_year_id").focus();
                $("#fiscal_year_id").css("border", "1px solid red");
            }
            else if ($("#event_id").val() == '') {
                $("#event_id").focus();
                $("#event_id").parent().find(".select2-selection--single").css("border", "1px solid red");

            }
            else {

                $("#fiscal_year_id").css("border", "");
                $("#event_id").parent().find(".select2-selection--single").css("border", "");

            }

        });


        function LoadProductionProcessPendingData() {

            var input = {
                fiscal_year_id: $('#ddldtop_fiscal_year').val(),
                event_id: $('#ddltop_event').val()
                //supplier_id: $("#supplier_id").val()


            };
            var dt = $("#DTProductionProcessPendingList").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/ProductionProcessDefine/GetProductionProcessPendingData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("techpack_number", data.techpack_number);

                },
                "columns": [

                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    {
                        "data": "techpack_date",
                        "name": "techpack_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "style_item_product_name", "name": "style_item_product_name", "autoWidth": true },
                    { "data": "merchandiser_name", "name": "merchandiser_name", "autoWidth": true },
                    { "data": "designer_name", "name": "designer_name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }

        function LoadProductionProcessDraftData() {

            var input = {
                fiscal_year_id: $('#ddldtop_fiscal_year').val(),
                event_id: $('#ddltop_event').val()
                //supplier_id: $("#supplier_id").val()


            };
            var dt = $("#DTProductionProcessDraftList").DataTable({
                "bFilter": false,
                "ajax": $.fn.dataTable.json({ url: "/ProductionProcessDefine/GetProductionProcessDraftData", data: input }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("service_work_order_no", data.service_work_order_no);

                },
                "columns": [

                    
                    {
                        "data": "tran_production_process_date",
                        "name": "tran_production_process_date",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            var date = new Date(data);
                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                            var monthName = monthNames[date.getMonth()];
                            var formattedDate = date.getFullYear() + "-" + monthName + "-" + ('0' + date.getDate()).slice(-2);
                            return formattedDate;
                        }
                    },
                    { "data": "techpack_number", "name": "techpack_number", "autoWidth": true },
                    { "data": "style_item_product_category", "name": "style_item_product_category", "autoWidth": true },
                    { "data": "supplier_name", "name": "supplier_name", "autoWidth": true },
                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true }

                ]
            });
        }

        

    </script>
}





