@using EPYSLSAILORAPP.Application.DTO.Tran_DesignMgt
@using EPYSLSAILORAPP.Domain.DTO;
@using EPYSLSAILORAPP.Domain.Entity;
@using EPYSLSAILORAPP.Domain.RPC;
@using Newtonsoft.Json;

@model EPYSLSAILORAPP.Domain.DTO.tran_draft_purchase_requisition_DTO;
@{
    ViewBag.Title = "Accessories Requisition Add";
    Layout = null;
}
<style>
    #toolbarId select {
        font-size: 11px !important;
    }

    .btninnerClose {
        color: #a52711;
        width: 26px;
        border: 1px solid #6f2d23;
        font-size: 22px;
        margin-top: 6px;
    }

    .dataTables_wrapper {
        margin-top: -40px;
    }

    .select_style {
        height: 37px;
    }

    .dataTable select {
        height: 25px !important;
        font-size: 10px !important;
    }

    .card-body {
        padding-bottom: 0px;
        padding-top: 0px;
        padding: 0rem 0rem;
    }

    .box {
        margin-bottom: 0.5rem;
    }

    .box-header {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-weight: 500;
        font-size: 12px;
    }

    .box-title {
        font-size: 12px;
        line-height: 1rem;
    }
</style>



<form method="POST" id="frmAdd" class="my-login-validation" novalidate="" enctype="multipart/form-data" autocomplete="off">
	<div class="row">
		<div class="col-md-6">
			<div class="box" style="margin-top:7px;">

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">DPR No</label>
							<input style="width:100%" asp-for="dpr_no" type="text" readonly placeholder="Auto Generated" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
							<input style="width:100%" asp-for="event_id" type="hidden" />
						
						</div>
					</div>
				
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Delivery Date</label>
							<input style="width:100%" asp-for="delivery_date" type="date" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
							<span asp-validation-for="delivery_date" class="text-danger"></span>
						</div>
					</div>
					<div class="col-md-6">
					
						<div class="form-group">
							<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">DPR Date</label>
							<input style="width:100%" asp-for="dpr_date" type="date" class="form-control border-#d1cccc-200 rounded-sm text-sm"/>
							<span asp-validation-for="dpr_date" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="row">

					
					<div class="col-md-6">
						<div class="form-group">
						<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Designer</label>
							<input style="width:100%" readonly asp-for="designer_id" type="hidden" />
							<input style="width:100%" readonly asp-for="designer_name" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
						

						</div>

					</div>
						<div class="col-md-6">

							<div class="form-group">
								<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Delivery Unit</label>


								@await Component.InvokeAsync("GenericDropdownList", new
									{
										ddlId = "delivery_unit_id",
										strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.DeliveryUnits)),
										selectedvalue = "",
										cssclass = "form-control",
										enable = true,
										isRequired = true,
										placeholder = "select"
									})
								<span asp-validation-for="delivery_unit_id" class="text-danger"></span>
							</div>
						</div>
				
				</div>

				<div class="row">

					
					<div class="col-md-6">
						<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Supplier</label>
						@await Component.InvokeAsync("S2GenSupplier", new
							{
								ddlId = "supplier_id",
								selectedvalue = "",
								cssclass = "form-control S2GenSupplier",
								isRequired = false,
								isReadOnly = false,
								placeholder = "Select Supplier",
								preloaded = "",
								model_parentid = "modalcontainer"
							})
						<span asp-validation-for="supplier_id" class="text-danger"></span>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Supplier Concern Person</label>
							<input style="width:100%" asp-for="supplier_concern_person" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" readonly />
							<span asp-validation-for="supplier_concern_person" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
				
		
	

					<div class="col-md-6">
						<div class="form-group">
							<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Supplier Address</label>
							<input style="width:100%" asp-for="supplier_address" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" readonly />
							<span asp-validation-for="supplier_address" class="text-danger"></span>
						</div>
					</div>
				
				</div>




				

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
							<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Remarks</label>
							<input style="width:100%" asp-for="remarks" type="text" class="form-control border-#d1cccc-200 rounded-sm text-sm" />
							<span asp-validation-for="remarks" class="text-danger"></span>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="col-md-6" style="margin-top:37px;">


			<input type="file" style="display:none" id="attachments" multiple />

				<div class="card">
					<div class="row">
						<div class="col-md-4">
							<button type="button" class="btn btn-danger " id="btnUpload" onclick="uploadFile(this);">
								Select File to Upload
							</button>
						</div>
						<div class="col-md-8">
							<div id="fileNamesContainer"></div>
						</div>
					</div>
				</div>




		

		</div>
	</div>	
	<div class="row">
		<div class="col-md-5">
			<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Group</label>
			@await Component.InvokeAsync("GenericDropdownList", new
				{
					ddlId = "item_structure_group_id",
					strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.GroupList)),
					selectedvalue = "",
					cssclass = "form-control",
					enable = true,
					isRequired = true,
					placeholder = "Select"
				})
		</div>

	</div>
	<div class="row" style="display:none;padding-top:5px" id="sewing">
		<div class="col-md-4">
			<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Sub Group</label>
			@await Component.InvokeAsync("GenericDropdownList", new
				{
					ddlId = "ddlSewing",
					strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.SubCategorySewingList)),
					selectedvalue = "",
					cssclass = "form-control",
					enable = true,
					isRequired = true,
					placeholder = "Select"
				})
		</div>
		<div class="col-md-5">
			<button type="button" class="btn btn-primary" onclick="AddNewAccessories(this);" style="margin-left: 0px;margin-top: 30px!important;width:160px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add Accessories</button>

		</div>
	</div>
	<div class="row" style="display:none;padding-top:5px" id="finishing">
		<div class="col-md-4">
			<label class="labelNormal " style="margin-bottom: 10px!important;font-weight:bold;">Sub Group</label>
			@await Component.InvokeAsync("GenericDropdownList", new
				{
					ddlId = "ddlFinishing",
					strobjlist = Newtonsoft.Json.JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.SubCategoryFinishinList)),
					selectedvalue = "",
					cssclass = "form-control",
					enable = true,
					isRequired = true,
					placeholder = "Select"
				})
		</div>
		<div class="col-md-5">
			<button type="button" class="btn btn-primary" onclick="AddNewAccessories(this);" style="margin-left: 0px;margin-top: 30px!important;width:160px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add Accessories</button>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="box">

				<table style="font-size:10px;" id="DTTranAccessoriesDetails" class=" table dataTable table-striped table-bordered" cellspacing="0">
					<thead>
						<tr>

							<th><label class="labelNormal">Item Code</label></th>
							<th><label class="labelNormal">Item Name</label></th>
							<th style="width:350px;"><label class="labelNormal">Item Spec</label></th>
							<th><label class="labelNormal">Quantity</label></th>
							<th><label class="labelNormal">UOM</label></th>
							<th><label class="labelNormal">Action</label></th>
						
						</tr>
					</thead>
					<tbody ></tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" style="margin-bottom: 5px;text-align:right;">
			<button style="width:300px;" type="button" class="btn btn-success " id="btnSaveAccessoriesRequisition" onclick="SaveAccessoriesRequisition(this);"><i class="fa fa-file-open"></i>&nbsp;Save</button>
		</div>
	</div>
</form>

<div id="modalcontainer_common_popup" class="modal fade hidden-print" role="dialog" tabindex="-1">
	<div class="modal-dialog" style="width: 80% !important; max-width: 80% !important; ">
		<div class="modal-content">

			<div class="modal-header" style="padding:0px;background-color: #bc7b20;color: white;">

				<div class="row" style="width:100%;">
					<div class="col-md-6">
						<h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
							Add Details
						</h3>
					</div>
					<div class="col-md-6" style="text-align:right;">


						<button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup_popup();">X</button>

					</div>
				</div>
			</div>
			<div class="card" style="display:block;">
				<div class="card-body" style="padding-bottom: 10px; padding-top: 10px;">
					<div class="row">
						<div class="col-md-12" id="modalcontent-common_popup">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var obj_Accessories_List = [];
		function AddNewAccessories(btn) {

		

			$("#modalcontainer_common").addClass("custom-class");
			var item_structure_group_id = $("#item_structure_group_id").val();
			var group = "";
			var gen_item_structure_group_sub_id = 0;


			if (item_structure_group_id == 2) {
				gen_item_structure_group_sub_id = $("#ddlSewing").val();
				group = $("#modalcontainer #ddlSewing option:selected").text();

			}
			if (item_structure_group_id == 3) {
				group = $("#modalcontainer #ddlFinishing option:selected").text();
				gen_item_structure_group_sub_id = $("#ddlFinishing").val();
			}


			try {
				ajaxGetHandler("/AccessoriesRequisition/AddNewAccessories?item_structure_group_id=" + item_structure_group_id + "&gen_item_structure_group_sub_id=" + gen_item_structure_group_sub_id + "&measurement_unit_id=" + 7 , null, function (data) {
					hideLoader();
					$('#modalcontent-common_popup').html(data);
					$('#modalcontainer_common_popup').modal({ backdrop: 'static', keyboard: false });
					$('#modalcontainer_common_popup').modal("show");

					if (typeof LoadGenSegmentDetlDropDownByClass != 'undefined') {
					LoadGenSegmentDetlDropDownByClass("modalcontainer_common_popup", "S2GenSegmentDetl");
					}

				$("#modalcontent-common_popup .S2GenSegmentDetl").val(null).trigger('change.select2');


				$("#modalcontent-common_popup #txtgroupname").val(group);

				}, true);


			} catch (e) {
				hideLoader();
			}

		}

		$('#modalcontainer #item_structure_group_id').on('change', function () {
	
			const selectedValue = $(this).val();


		if (selectedValue == 2) { 
		
			$("#sewing").show();
			$("#finishing").hide();
		}
		if (selectedValue == 3) {
			$("#sewing").hide();
			$("#finishing").show();
		}
		
		});


	function closePopup_popup() {
		$('#modalcontent-common_popup').html("");

		$('#modalcontainer_common_popup').modal("hide");

		$('#modalcontainer_common_popup').on('hidden.bs.modal', function () {
			$('body').addClass('modal-open');
		});
	}


	function GetAllSegment() {
		var alltext = "";

		for (var id = 1; id <= 15; id++) {
			if ($("#modalcontent-common_popup #segment_det" + id + "_id").length > 0) {
				alltext += $("#modalcontent-common_popup #segment_det" + id + "_id > option:selected").text() + " ";
			}

		}

		if (alltext.length == 0) {
			alltext = $("#txtgroupname").val();
		}

		return alltext;
	}
	function SaveAccessories(btn) {



		var obj = {
			item_structure_group_id: $("#item_structure_group_id").val(),
			item_structure_sub_group_id: $("#gen_item_structure_group_sub_id").val(),
			row_index: obj_Accessories_List.length,
			item_name: GetAllSegment(),
			item_spec: "",
			measurement_unit: $("#modalcontent-common_popup #ddl_measurement_unit > option:selected").text(),

			segment_det1_id: $("#modalcontent-common_popup #segment_det1_id").length > 0 ? $("#modalcontent-common_popup #segment_det1_id").val() : null,
			segment_det1_text: $("#modalcontent-common_popup #segment_det1_id").length > 0 ? $("#modalcontent-common_popup #segment_det1_id > option:selected").text() : "",
			segment_det2_id: $("#modalcontent-common_popup #segment_det2_id").length > 0 ? $("#modalcontent-common_popup #segment_det2_id").val() : null,
			segment_det2_text: $("#modalcontent-common_popup #segment_det2_id").length > 0 ? $("#modalcontent-common_popup #segment_det2_id > option:selected").text() : "",
			segment_det3_id: $("#modalcontent-common_popup #segment_det3_id").length > 0 ? $("#modalcontent-common_popup #segment_det3_id").val() : null,
			segment_det3_text: $("#modalcontent-common_popup #segment_det3_id").length > 0 ? $("#modalcontent-common_popup #segment_det3_id > option:selected").text() : "",
			segment_det4_id: $("#modalcontent-common_popup #segment_det4_id").length > 0 ? $("#modalcontent-common_popup #segment_det4_id").val() : null,
			segment_det4_text: $("#modalcontent-common_popup #segment_det4_id").length > 0 ? $("#modalcontent-common_popup #segment_det4_id > option:selected").text() : "",
			segment_det5_id: $("#modalcontent-common_popup #segment_det5_id").length > 0 ? $("#modalcontent-common_popup #segment_det5_id").val() : null,
			segment_det5_text: $("#modalcontent-common_popup #segment_det5_id").length > 0 ? $("#modalcontent-common_popup #segment_det5_id > option:selected").text() : "",
			segment_det6_id: $("#modalcontent-common_popup #segment_det6_id").length > 0 ? $("#modalcontent-common_popup #segment_det6_id").val() : null,
			segment_det6_text: $("#modalcontent-common_popup #segment_det6_id").length > 0 ? $("#modalcontent-common_popup #segment_det6_id > option:selected").text() : "",
			segment_det7_id: $("#modalcontent-common_popup #segment_det7_id").length > 0 ? $("#modalcontent-common_popup #segment_det7_id").val() : null,
			segment_det7_text: $("#modalcontent-common_popup #segment_det7_id").length > 0 ? $("#modalcontent-common_popup #segment_det7_id > option:selected").text() : "",
			segment_det8_id: $("#modalcontent-common_popup #segment_det8_id").length > 0 ? $("#modalcontent-common_popup #segment_det8_id").val() : null,
			segment_det8_text: $("#modalcontent-common_popup #segment_det8_id").length > 0 ? $("#modalcontent-common_popup #segment_det8_id > option:selected").text() : "",
			segment_det9_id: $("#modalcontent-common_popup #segment_det9_id").length > 0 ? $("#modalcontent-common_popup #segment_det9_id").val() : null,
			segment_det9_text: $("#modalcontent-common_popup #segment_det9_id").length > 0 ? $("#modalcontent-common_popup #segment_det9_id > option:selected").text() : "",
			segment_det10_id: $("#modalcontent-common_popup #segment_det10_id").length > 0 ? $("#modalcontent-common_popup #segment_det10_id").val() : null,
			segment_det10_text: $("#modalcontent-common_popup #segment_det10_id").length > 0 ? $("#modalcontent-common_popup #segment_det10_id > option:selected").text() : "",
			segment_det11_id: $("#modalcontent-common_popup #segment_det11_id").length > 0 ? $("#modalcontent-common_popup #segment_det11_id").val() : null,
			segment_det11_text: $("#modalcontent-common_popup #segment_det11_id").length > 0 ? $("#modalcontent-common_popup #segment_det11_id > option:selected").text() : "",
			segment_det12_id: $("#modalcontent-common_popup #segment_det12_id").length > 0 ? $("#modalcontent-common_popup #segment_det12_id").val() : null,
			segment_det12_text: $("#modalcontent-common_popup #segment_det12_id").length > 0 ? $("#modalcontent-common_popup #segment_det12_id > option:selected").text() : "",
			segment_det13_id: $("#modalcontent-common_popup #segment_det13_id").length > 0 ? $("#modalcontent-common_popup #segment_det13_id").val() : null,
			segment_det13_text: $("#modalcontent-common_popup #segment_det13_id").length > 0 ? $("#modalcontent-common_popup #segment_det13_id > option:selected").text() : "",
			segment_det14_id: $("#modalcontent-common_popup #segment_det14_id").length > 0 ? $("#modalcontent-common_popup #segment_det14_id").val() : null,
			segment_det14_text: $("#modalcontent-common_popup #segment_det14_id").length > 0 ? $("#modalcontent-common_popup #segment_det14_id > option:selected").text() : "",
			segment_det15_id: $("#modalcontent-common_popup #segment_det15_id").length > 0 ? $("#modalcontent-common_popup #segment_det15_id").val() : null,
			segment_det15_text: $("#modalcontent-common_popup #segment_det15_id").length > 0 ? $("#modalcontent-common_popup #segment_det15_id > option:selected").text() : "",
			measurement_unit_detail_id: $("#modalcontent-common_popup #ddl_measurement_unit").val(),

			current_state: 1,
		};
		for (var i = 1; i <= 15; i++) {
			var propertyName = "segment_det" + i + "_text";
			if (obj[propertyName]) {
				if (obj.item_spec !== "") {
					obj.item_spec += ","; // Add comma only if obj.item_spec is not empty
				}
				obj.item_spec += obj[propertyName];
			}
		}
		if (
			obj_Accessories_List.filter(p =>
				p.gen_item_structure_group_sub_id == gen_item_structure_group_sub_id &&
				p.segment_det1_id == check_textbox_value($("#modalcontent-common_popup #segment_det1_id")) &&
				p.segment_det2_id == check_textbox_value($("#modalcontent-common_popup #segment_det2_id")) &&
				p.segment_det3_id == check_textbox_value($("#modalcontent-common_popup #segment_det3_id")) &&
				p.segment_det4_id == check_textbox_value($("#modalcontent-common_popup #segment_det4_id")) &&
				p.segment_det5_id == check_textbox_value($("#modalcontent-common_popup #segment_det5_id")) &&
				p.segment_det6_id == check_textbox_value($("#modalcontent-common_popup #segment_det6_id")) &&
				p.segment_det7_id == check_textbox_value($("#modalcontent-common_popup #segment_det7_id")) &&
				p.segment_det8_id == check_textbox_value($("#modalcontent-common_popup #segment_det8_id")) &&
				p.segment_det9_id == check_textbox_value($("#modalcontent-common_popup #segment_det9_id")) &&
				p.segment_det10_id == check_textbox_value($("#modalcontent-common_popup #segment_det10_id")) &&
				p.segment_det11_id == check_textbox_value($("#modalcontent-common_popup #segment_det11_id")) &&
				p.segment_det12_id == check_textbox_value($("#modalcontent-common_popup #segment_det12_id")) &&
				p.segment_det13_id == check_textbox_value($("#modalcontent-common_popup #segment_det13_id")) &&
				p.segment_det14_id == check_textbox_value($("#modalcontent-common_popup #segment_det14_id")) &&
				p.segment_det15_id == check_textbox_value($("#modalcontent-common_popup #segment_det15_id"))
			).length == 0
		) {
			obj_Accessories_List.push(obj);

			$("#DTTranPreCostingDetail .btnclsmasterpage[gen_item_structure_group_sub_id='" + gen_item_structure_group_sub_id + "']").css("display", "block");

			$("#DTTranPreCostingDetail .editAccessories[gen_item_structure_group_sub_id='" + gen_item_structure_group_sub_id + "']").attr("value", "Edit(" + obj_Accessories_List.filter(p => p.gen_item_structure_group_sub_id == gen_item_structure_group_sub_id).length + ")")
		}


		if (obj_Accessories_List) {

			ajaxGetHandler("/AccessoriesRequisition/AddAccessoriesDetailsMaster?input=" + JSON.stringify(obj_Accessories_List), null, function (data) {

				hideLoader();
			

				closePopup_popup();
				var table = document.getElementById("DTTranAccessoriesDetails").getElementsByTagName('tbody')[0];
				var newRow = table.insertRow(table.rows.length);

				var cell1 = newRow.insertCell(0);
				var cell2 = newRow.insertCell(1);
				var cell3 = newRow.insertCell(2);
				var cell4 = newRow.insertCell(3);
				var cell5 = newRow.insertCell(4);
				var cell6 = newRow.insertCell(5);
				var cell7 = newRow.insertCell(6);

				cell1.innerHTML = "<input disabled type='number'class='form-control item_id' value=" + data + " >";
				cell2.innerHTML = "<input disabled type='text'class='form-control' value=" + obj.item_name + " >";
				cell3.innerHTML = obj.item_spec;
				cell4.innerHTML = "<input type='number'class='form-control quantity' name='quantity'>";
				cell5.innerHTML = "<input disabled type='text'class='form-control' value=" + obj.measurement_unit + " >";
				cell6.innerHTML = "<button class='btn btn-danger' aria-hidden='true' onclick='deleteRow(this)'><i class='fa fa-trash' aria-hidden='true'></i></button>"; // Delete button with specified classes
				cell7.innerHTML = "<input type='hidden'class='form-control uom' value=" + obj.measurement_unit_detail_id + ">";
				cell7.style.display = "none";
				obj_Accessories_List = [];
			});
		}


		$("#modalcontent-common_popup .S2GenSegment").val(null).trigger('change.select2');

	}

		function deleteRow(button) {
		var row = button.parentNode.parentNode;
		row.parentNode.removeChild(row);
	}

	</script>





