@model EPYSLSAILORAPP.Domain.DTO.tran_packing_list_DTO

@using Microsoft.Extensions.Options
@{
    ViewBag.Title = "PackingList List";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}


<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Packing List</h6>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <button type="button" class="btn btn-primary" onclick="AddTranPackingList(this);" style="margin-left: 0px;width:150px;"><i class="fa fa-save"></i>&nbsp;&nbsp;Add </button>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" id="tab_bar_style">
                                    <ul id="tab_precostinglanding" class="nav nav-tabs">

                                        <li class="active" tab_index="1">
                                            <a href="#det2" style="text-decoration: unset;width: 170px;" class="active tab_link  " data-toggle="tab">DRAFT LIST</a>
                                        </li>
                                        <li class="" tab_index="2">
                                            <a href="#det3" style="text-decoration: unset;width: 200px;" class=" tab_link  " data-toggle="tab">SUBMITTED LIST</a>
                                        </li>
                                        <li class="" tab_index="3">
                                            <a href="#det4" style="text-decoration: unset;width: 170px;" class=" tab_link  " data-toggle="tab">APPROVED LIST</a>
                                        </li>

                                    </ul>
                                    <div class="tab-content">

                                        <div class="tab-pane active" id="det2" tabpane_index="1">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table id="DTTranPackingList_draft" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th>Packing List Number</th>
                                                                <th>Packing List Date</th>
                                                                <th>Note</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det3" tabpane_index="2">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table id="DTTranPackingList_submitted" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th>Packing List Number</th>
                                                                <th>Packing List Date</th>
                                                                <th>Note</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="det4" tabpane_index="3">
                                            <div class="card">

                                                <div class="card-body">
                                                    <table id="DTTranPackingList_approved" class="table table-striped table-bordered" cellspacing="0">
                                                        <thead>
                                                            <tr>

                                                                <th>Packing List Number</th>
                                                                <th>Packing List Date</th>
                                                                <th>Note</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>


                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>


<div id="modalcontainer" class="modal fade hidden-print" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 60% !important; max-width: 60% !important; ">
        <div class="modal-content">

            <div class="modal-header" style="padding:0px;background-color: #318db6;color: white;">

                <div class="row" style="width:100%;">
                    <div class="col-md-6">
                        <h3 class="modal-title" style="line-height: 1.5; font-size: 19px;">
                            Packing List
                        </h3>
                    </div>
                    <div class="col-md-6" style="text-align:right;">

                        <button type="button" id="btnModalClose" class="btn btn-danger btn-md cancel" onclick="closePopup();">X</button>

                    </div>
                </div>
            </div>
            <div class="card" style="display:block;">
                <div class="card-body" style="padding-bottom: 0px; padding-top: 0px;">
                    <div class="row">
                        <div class="col-md-12" id="modalcontent">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function closePopup() {
            $('#modalcontent').html("");
            $('#modalcontainer').modal("hide");
        }

        function AddTranPackingList() {

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            ajaxGetHandler("/TranPackingList/TranPackingListNew", null, function (data) {

                setTimeout(function () {
                    hideLoader();
                }, 0);

                $('#modalcontent').html(data);
                $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                $('#modalcontainer').modal("show");

            });


        }

        function EditTranPackingList(btn) {


            var tran_packing_list_id = $(btn).attr("tran_packing_list_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/TranPackingList/TranPackingListEdit?tran_packing_list_id=" + tran_packing_list_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function ViewTranPackingList(btn) {

            var tran_packing_list_id = $(btn).attr("tran_packing_list_id");

            setTimeout(function () {
                showLoader("Loading..........");
            }, 0);

            try {
                ajaxGetHandler("/TranPackingList/TranPackingListView?tran_packing_list_id=" + tran_packing_list_id, null, function (data) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    $('#modalcontent').html(data);
                    $('#modalcontainer').modal({ backdrop: 'static', keyboard: false });
                    $('#modalcontainer').modal("show");

                });


            } catch (e) {
                setTimeout(function () {
                    hideLoader();
                }, 0);
            }
        }

        function SaveTranPackingList(btn) {

            var details=[];
            $.each($("#DTPListOutput tbody tr"), function (key, val) {
               
            var obj_TranPackingListDetails = {
        
                    techpack_id: $(this).find(".techpack_id").val(),
                    style_code: $(this).find(".teckpack_style_code").val(),
                    color_code:$(this).find(".color_code").val(),
                    style_product_size_group_detid: $(this).find(".style_product_size_group_detid").val(),
                    style_product_size: $(this).find(".size").val(),
                    style_product_unit: $(this).find(".style_product_unit_name").val(),
                    order_quantity:   $(this).find(".order_quantity").val(),
                    packing_quantity: $(this).find(".packing_quantity").val(),
                    note: $(this).find(".note").val()

                }
               
               
               
               details.push(obj_TranPackingListDetails);
               
               
               
               });
            



            var obj_TranPackingList = {
             
                packing_list_date: $('#modalcontent #packing_list_date').val(),
                note: $('#modalcontent #note').val(),
                is_draft: 1,              
                tran_packing_list_details: details


            }
            console.log(obj_TranPackingList);
      

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/TranPackingList/SaveTranPackingList", obj_TranPackingList, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadTranPackingListData();



                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);

            
        }

        function UpdateTranPackingList(btn) {

            var obj_TranPackingListDetails = {
                tran_packing_list_details_id: check_value($('#tran_packing_list_details_id').val()),
                tran_packing_list_id: check_value($('#tran_packing_list_id').val()),
                techpack_id: check_value($('#techpack_id').val()),
                style_code: $('#style_code').val(),
                color_code: $('#color_code').val(),
                style_product_size_group_detid: check_value($('#style_product_size_group_detid').val()),
                style_product_size: $('#style_product_size').val(),
                style_product_unit: $('#style_product_unit').val(),
                order_quantity: check_value($('#order_quantity').val()),
                packing_quantity: check_value($('#packing_quantity').val()),
                note: $('#note').val(),

            }



            var obj_TranPackingList = {
                tran_packing_list_id: check_value($('#modalcontent #tran_packing_list_id').val()),
                packing_list_no: $('#modalcontent #packing_list_no').val(),
                packing_list_date: $('#modalcontent #packing_list_date').val(),
                note: $('#modalcontent #note').val(),
                is_draft: check_value($('#modalcontent #is_draft').val()),
                draft_date: $('#modalcontent #draft_date').val(),
                is_submitted: check_value($('#modalcontent #is_submitted').val()),
                submitted_date: $('#modalcontent #submitted_date').val(),
                submitted_by: check_value($('#modalcontent #submitted_by').val()),
                is_approved: check_value($('#modalcontent #is_approved').val()),
                approved_date: $('#modalcontent #approved_date').val(),
                approved_by: check_value($('#modalcontent #approved_by').val()),
                fiscal_year_id: check_value($('#modalcontent #fiscal_year_id').val()),
                event_id: check_value($('#modalcontent #event_id').val()),
                tran_packing_list_details_json: $('#modalcontent #tran_packing_list_details_json').val(),

            }

            if (_cusFormValidate("frmEdit")) {

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);


                ajaxPostObjectHandler("/TranPackingList/UpdateTranPackingList", obj_TranPackingList, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadTranPackingListData();



                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () { hideLoader(); }, true);

            }
        }

        function DeleteTranPackingList(id) {

            showConfirmationAlert("Alert", "Do You Want to Delete??", "Yes", function () {

                var obj_TranPackingList = {
                    strMasterID: id
                }

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/TranPackingList/DeleteTranPackingList", obj_TranPackingList, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadTranPackingListData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                }, true);

            });
        }
        function SendForApproval(id) {

         

                var obj_TranPackingList = {
                    tran_packing_list_id: $("#tran_packing_list_id").val()
                }

                setTimeout(function () {
                    showLoader("Saving..........");
                }, 0);

                ajaxPostObjectHandler("/TranPackingList/SendForApproval", obj_TranPackingList, function (response) {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                    if (response.status_Code == "200") {

                        LoadTranPackingListData();

                        showSuccessAlert("Success", response.status_Result, "OK", function () {

                            closePopup();

                        });
                    }
                    else {
                        showErrorAlert("Alert", response.status_Result, "OK", function () {

                        });
                    }
                }, true, function () {

                    setTimeout(function () {
                        hideLoader();
                    }, 0);

                }, true);

         
        }
        $(function () {
            BindTabEvents("tab_bar_style");
            LoadTranPackingListData();

        });

        function LoadTranPackingListData() {
            var dt = $("#DTTranPackingList_draft").DataTable({
                "ajax": $.fn.dataTable.json({ url: "/TranPackingList/GetTranPackingListData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("tran_packing_list_id", data.tran_packing_list_id);

                },
                "columns": [

                    { "data": "packing_list_no", "name": "packing_list_no", "autoWidth": true },
                    { "data": "packing_list_date", "name": "packing_list_date", "autoWidth": true },
                    { "data": "note", "name": "note", "autoWidth": true },

                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });
            var dt_s = $("#DTTranPackingList_submitted").DataTable({
                "ajax": $.fn.dataTable.json({ url: "/TranPackingList/GetAllSubmittedData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("tran_packing_list_id", data.tran_packing_list_id);

                },
                "columns": [

                    { "data": "packing_list_no", "name": "packing_list_no", "autoWidth": true },
                    { "data": "packing_list_date", "name": "packing_list_date", "autoWidth": true },
                    { "data": "note", "name": "note", "autoWidth": true },

                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });
            var dt_a = $("#DTTranPackingList_approved").DataTable({
                "ajax": $.fn.dataTable.json({ url: "/TranPackingList/GetAllApprovedData" }),

                columnDefs: [
                    { targets: 0, "visible": true, "sortable": true },
                    { targets: 1, "visible": true, "sortable": false, "className": "text-center" }
                ],
                createdRow: function (row, data, dataIndex) {//

                    $(row).attr('row_index', parseInt(data.row_index) - 1);
                    $(row).attr("tran_packing_list_id", data.tran_packing_list_id);

                },
                "columns": [

                    { "data": "packing_list_no", "name": "packing_list_no", "autoWidth": true },
                    { "data": "packing_list_date", "name": "packing_list_date", "autoWidth": true },
                    { "data": "note", "name": "note", "autoWidth": true },

                    { "data": "datatablebuttonscode", "name": "datatablebuttonscode", "autoWidth": true },

                ]
            });
        }

    </script>
}





